{% set title = "Do you want us to link the director's correspondence address to the registered office address?" %}
{% extends "layout.html" %}
{% block pageTitle %}
  {{title}}
  -
  {{serviceName}}
  - GOV.UK
{% endblock %}
{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:history.back()"
}) }}
{% endblock %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-l">{{data['firstname']}} {{data['middle-name']}} {{data['last-name']}}</span>
      <h1 class="govuk-heading-l">
        If the registered office address changes in the future, do you want this to apply to the director's correspondence address too?
      </h1>
      <form action="update-address/link-correspondence-address" method="post" novalidate>
        {{ govukRadios({
          idPrefix: "interview-needs",
          name: "interview-needs",
          items: [
            {
              value: "yes",
              text: "Yes",
              hint: {
                text: "The director's correspondence address will be recorded as the 'same as the registered office address'. This means future changes will also apply to the director's correspondence address."
              }
            },
            {
              value: "no",
              text: "No",
              hint: {
                text: "You’ll have to update the correspondence address manually if it changes."
              }
            }
          ]
        }) }}
        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}
