<!-- Adding a person -->
{% if (data['type-of-psc'] === "person") %}

<h2 class="govuk-heading-m">Personal details</h2>
        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Name
            </dt>
            <dd class="govuk-summary-list__value">
              {{data['titleAppoint']}} {{data['firstname']}} {{data['middle-name']}} {{data['last-name']}}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="/add/name?type=add">
              Change<span class="govuk-visually-hidden"> name</span>
              </a>
            </dd>
          </div>
          {% if data['previous-names'] %}
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Previous names
            </dt>
            <dd class="govuk-summary-list__value">
              {{data['previous-names']}}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="/add/name?type=add&#firstname">
              Change<span class="govuk-visually-hidden"> name</span>
              </a>
            </dd>
          </div>
          {% endif %}
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Date of birth
            </dt>
            <dd class="govuk-summary-list__value">
              {{data['dob-day']}}
              {% if (data['dob-month'] === "01") or (data['dob-month'] === "1") %}
                January
              {% elif (data['dob-month'] === "02") or (data['dob-month'] === "2") %}
                February
              {% elif (data['dob-month'] === "03") or (data['dob-month'] === "3") %}
                March
              {% elif (data['dob-month'] === "04") or (data['dob-month'] === "4") %}
                April
              {% elif (data['dob-month'] === "05") or (data['dob-month'] === "5") %}
                May
              {% elif (data['dob-month'] === "06") or (data['dob-month'] === "6") %}
                June
              {% elif (data['dob-month'] === "07") or (data['dob-month'] === "7") %}
                July
              {% elif (data['dob-month'] === "08") or (data['dob-month'] === "8") %}
                August
              {% elif (data['dob-month'] === "09") or (data['dob-month'] === "9") %}
                September
              {% elif (data['dob-month'] === "10") %}
                October
              {% elif (data['dob-month'] === "11") %}
                November
              {% elif (data['dob-month'] === "12") %}
                December
              {% else %}
                {{data['dob-month']}}
              {% endif %}
              {{data['dob-year']}}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="/add/date-of-birth?type=add&#dob">
              Change<span class="govuk-visually-hidden"> date of birth</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Nationality
            </dt>
            <dd class="govuk-summary-list__value">
            {% if data['nationalityAppoint'] %}
              {{data['nationalityAppoint'] | first}}
              {% endif %}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="/add/add?type=add&#nationality">
              Change<span class="govuk-visually-hidden"> nationality</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Correspondence address
            </dt>
            <dd class="govuk-summary-list__value">
              {% if (data['correspondence-address'] === "different-address") %}
                {{data['postcode'] | reverse}}
              {% else %}
                The correspondence address is the same as the registered office address
              {% endif %}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="/address-lookup/correspondence-address">
              Change<span class="govuk-visually-hidden"> correspondence address</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Home address
            </dt>
            <dd class="govuk-summary-list__value">
              {% if (data['home-address'] === "different-address") %}
                70 Wentloog Road, Rumney, Cardiff, Wales, CF3 3EA

              {% elif (data['home-address'] === "correspodence-address")%}
                {% if (data['link-home-address'] === "yes") %}
                  The home address is the same as the correspondence address
              {% else %}
                 {{data['home-propertyname']}} Stornoway House, Cleveland Row, London, {{data['home-postcode']}}
          {% endif %}

              {% else %}

          {% if company.registered_office_address.address_line_1 %}
            {{company.registered_office_address.address_line_1}}<br/>
          {% endif %}
          {% if company.registered_office_address.address_line_2 %}
            {{company.registered_office_address.address_line_2}}<br/>
          {% endif %}
          {% if company.registered_office_address.region %}
            {{company.registered_office_address.region}}<br/>
          {% endif %}
          {% if company.registered_office_address.locality %}
            {{company.registered_office_address.locality}}<br/>
          {% endif %}
          {% if company.registered_office_address.postal_code %}
            {{company.registered_office_address.postal_code}}
          {% endif %}

              {% endif %}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
              Change<span class="govuk-visually-hidden"> contact details</span>
              </a>
            </dd>
          </div>
                    <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Has the PSC ever applied to protect their details at Companies House?
            </dt>
            <dd class="govuk-summary-list__value">
              {{data['243Appoint']}}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
              Change<span class="govuk-visually-hidden"> contact details</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Date they became a PSC
            </dt>
            <dd class="govuk-summary-list__value">
              {{data['date-appointed-day']}}
              {% if (data['date-appointed-month'] === "01") or (data['date-appointed-month'] === "1") %}
                January
              {% elif (data['date-appointed-month'] === "02") or (data['date-appointed-month'] === "2") %}
                February
              {% elif (data['date-appointed-month'] === "03") or (data['date-appointed-month'] === "3") %}
                March
              {% elif (data['date-appointed-month'] === "04") or (data['date-appointed-month'] === "4") %}
                April
              {% elif (data['date-appointed-month'] === "05") or (data['date-appointed-month'] === "5") %}
                May
              {% elif (data['date-appointed-month'] === "06") or (data['date-appointed-month'] === "6") %}
                June
              {% elif (data['date-appointed-month'] === "07") or (data['date-appointed-month'] === "7") %}
                July
              {% elif (data['date-appointed-month'] === "08") or (data['date-appointed-month'] === "8") %}
                August
              {% elif (data['date-appointed-month'] === "09") or (data['date-appointed-month'] === "9") %}
                September
              {% elif (data['date-appointed-month'] === "10")%}
                October
              {% elif (data['date-appointed-month'] === "11")%}
                November
              {% elif (data['date-appointed-month'] === "12")%}
                December
              {% else %}
                {{data['date-appointed-month']}}
              {% endif %}
              {{data['date-appointed-year']}}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="/add/date-of-appointment?type=add">
              Change<span class="govuk-visually-hidden"> Notification date</span>
              </a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Date entered into the company's PSC register
            </dt>
            <dd class="govuk-summary-list__value">

            {% if (data['date-entered-own-register'] === "yes") %}

              The date is the same as when they became a PSC

            {% elif (data['date-entered-own-register'] === "no") %}
              
              {{data['date-registered-day']}}
              {% if (data['date-registered-month'] === "01") or (data['date-registered-month'] === "1") %}
                January
              {% elif (data['date-registered-month'] === "02") or (data['date-registered-month'] === "2") %}
                February
              {% elif (data['date-registered-month'] === "03") or (data['date-registered-month'] === "3") %}
                March
              {% elif (data['date-registered-month'] === "04") or (data['date-registered-month'] === "4") %}
                April
              {% elif (data['date-registered-month'] === "05") or (data['date-registered-month'] === "5") %}
                May
              {% elif (data['date-registered-month'] === "06") or (data['date-registered-month'] === "6") %}
                June
              {% elif (data['date-registered-month'] === "07") or (data['date-registered-month'] === "7") %}
                July
              {% elif (data['date-registered-month'] === "08") or (data['date-registered-month'] === "8") %}
                August
              {% elif (data['date-registered-month'] === "09") or (data['date-registered-month'] === "9") %}
                September
              {% elif (data['date-registered-month'] === "10")%}
                October
              {% elif (data['date-registered-month'] === "11")%}
                November
              {% elif (data['date-registered-month'] === "12")%}
                December
              {% else %}
                {{data['date-registered-month']}}
              {% endif %}
              {{data['date-registered-year']}}
            {% endif %}


            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="/add/date-of-appointment?type=add">
              Change<span class="govuk-visually-hidden"> PSC register date</span>
              </a>
            </dd>
          </div>
          </dl>

          <!-- Adding PSC -->

          <h2 class="govuk-heading-m">Nature of control details</h2>

          <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Percentage of shares
            </dt>
            <dd class="govuk-summary-list__value">

            {% if (data['percentage-of-shares'] === "75-or-more") %}
              75% or more of shares
            {% elif (data['percentage-of-shares'] === "more-than-50") %}
              More than 50%, but less than 75% of shares
            {% elif (data['percentage-of-shares'] === "more-than-25") %}
              More than 25%, but not more than 50% of shares
            {% elif (data['percentage-of-shares'] === "none") %}
              None of these
            {% else %}
            {% endif %}

            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
              Change<span class="govuk-visually-hidden"> percentage of shares</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Percentage of voting rights
            </dt>
            <dd class="govuk-summary-list__value">

              {% if (data['voting-rights'] === "75-or-more") %}
                75% or more voting rights
              {% elif (data['voting-rights'] === "more-than-50") %}
                More than 50%, but less than 75% of voting rights
              {% elif (data['voting-rights'] === "more-than-25") %}
                More than 25%, but not more than 50% of voting rights
              {% elif (data['voting-rights'] === "none") %}
                None of these
              {% else %}
              {% endif %}


            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
              Change<span class="govuk-visually-hidden"> percentage of voting rights</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Does the PSC have the right to appoint or remove directors?
            </dt>
            <dd class="govuk-summary-list__value">

              {% if (data['right-to-appoint'] === "yes") %}
                Yes
              {% elif (data['right-to-appoint'] === "no") %}
                No

              {% else %}
              {% endif %}

            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
              Change<span class="govuk-visually-hidden"> right to appoint or remove directors</span>
              </a>
            </dd>
          </div>

          <!--- If the user selects None to Shares, voting rights, and right to appoint  then we need to display the fourth control ---> 

          {% if (data['percentage-of-shares'] === "none") and (data['voting-rights'] === "none") and (data['right-to-appoint'] === "no") %}

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              As an individual, does {{data['firstname']}} {{data['middle-name']}} {{data['last-name']}} have the right to excercise significant influence or control?
            </dt>
            <dd class="govuk-summary-list__value">

              The person has the right to exercise, or actually exercises, significant influence or control over the company.

            </dd>
          </div>

          {% else %}
          {% endif %}

        </dl>

 <!-- Zenith is controlled by a Corporate body, which is controlled by a person -->
     
{% elseif ((data['type-of-psc'] == "corporate-body") and (data['type-control'] == "person")) %}

       <h2 class="govuk-heading-m">Personal details</h2>
       <dl class="govuk-summary-list">
         <div class="govuk-summary-list__row">
           <dt class="govuk-summary-list__key">
             Name
           </dt>
           <dd class="govuk-summary-list__value">
             {{data['titleAppoint']}} {{data['firstname']}} {{data['middle-name']}} {{data['last-name']}}
           </dd>
           <dd class="govuk-summary-list__actions">
             <a class="govuk-link" href="/add/name?type=add">
             Change<span class="govuk-visually-hidden"> name</span>
             </a>
           </dd>
         </div>
         {% if data['previous-names'] %}
         <div class="govuk-summary-list__row">
           <dt class="govuk-summary-list__key">
             Previous names
           </dt>
           <dd class="govuk-summary-list__value">
             {{data['previous-names']}}
           </dd>
           <dd class="govuk-summary-list__actions">
             <a class="govuk-link" href="/add/name?type=add&#firstname">
             Change<span class="govuk-visually-hidden"> name</span>
             </a>
           </dd>
         </div>
         {% endif %}
         <div class="govuk-summary-list__row">
           <dt class="govuk-summary-list__key">
             Date of birth
           </dt>
           <dd class="govuk-summary-list__value">
             {{data['dob-day']}}
             {% if (data['dob-month'] === "01") or (data['dob-month'] === "1") %}
               January
             {% elif (data['dob-month'] === "02") or (data['dob-month'] === "2") %}
               February
             {% elif (data['dob-month'] === "03") or (data['dob-month'] === "3") %}
               March
             {% elif (data['dob-month'] === "04") or (data['dob-month'] === "4") %}
               April
             {% elif (data['dob-month'] === "05") or (data['dob-month'] === "5") %}
               May
             {% elif (data['dob-month'] === "06") or (data['dob-month'] === "6") %}
               June
             {% elif (data['dob-month'] === "07") or (data['dob-month'] === "7") %}
               July
             {% elif (data['dob-month'] === "08") or (data['dob-month'] === "8") %}
               August
             {% elif (data['dob-month'] === "09") or (data['dob-month'] === "9") %}
               September
             {% elif (data['dob-month'] === "10") %}
               October
             {% elif (data['dob-month'] === "11") %}
               November
             {% elif (data['dob-month'] === "12") %}
               December
             {% else %}
               {{data['dob-month']}}
             {% endif %}
             {{data['dob-year']}}
           </dd>
           <dd class="govuk-summary-list__actions">
             <a class="govuk-link" href="/add/date-of-birth?type=add&#dob">
             Change<span class="govuk-visually-hidden"> date of birth</span>
             </a>
           </dd>
         </div>
         <div class="govuk-summary-list__row">
           <dt class="govuk-summary-list__key">
             Nationality
           </dt>
           <dd class="govuk-summary-list__value">
           {% if data['nationalityAppoint'] %}
             {{data['nationalityAppoint'] | first}}
             {% endif %}
           </dd>
           <dd class="govuk-summary-list__actions">
             <a class="govuk-link" href="/add/add?type=add&#nationality">
             Change<span class="govuk-visually-hidden"> nationality</span>
             </a>
           </dd>
         </div>
         <div class="govuk-summary-list__row">
           <dt class="govuk-summary-list__key">
             Correspondence address
           </dt>
           <dd class="govuk-summary-list__value">
             {% if (data['correspondence-address'] === "different-address") %}
               {{data['postcode'] | reverse}}
             {% else %}
               The correspondence address is the same as the registered office address
             {% endif %}
           </dd>
           <dd class="govuk-summary-list__actions">
             <a class="govuk-link" href="/address-lookup/correspondence-address">
             Change<span class="govuk-visually-hidden"> correspondence address</span>
             </a>
           </dd>
         </div>
         <div class="govuk-summary-list__row">
           <dt class="govuk-summary-list__key">
             Home address
           </dt>
           <dd class="govuk-summary-list__value">
             {% if (data['home-address'] === "different-address") %}
               70 Wentloog Road, Rumney, Cardiff, Wales, CF3 3EA

             {% elif (data['home-address'] === "correspodence-address")%}
               {% if (data['link-home-address'] === "yes") %}
                 The home address is the same as the correspondence address
             {% else %}
                {{data['home-propertyname']}} Stornoway House, Cleveland Row, London, {{data['home-postcode']}}
         {% endif %}

             {% else %}

         {% if company.registered_office_address.address_line_1 %}
           {{company.registered_office_address.address_line_1}}<br/>
         {% endif %}
         {% if company.registered_office_address.address_line_2 %}
           {{company.registered_office_address.address_line_2}}<br/>
         {% endif %}
         {% if company.registered_office_address.region %}
           {{company.registered_office_address.region}}<br/>
         {% endif %}
         {% if company.registered_office_address.locality %}
           {{company.registered_office_address.locality}}<br/>
         {% endif %}
         {% if company.registered_office_address.postal_code %}
           {{company.registered_office_address.postal_code}}
         {% endif %}

             {% endif %}
           </dd>
           <dd class="govuk-summary-list__actions">
             <a class="govuk-link" href="#">
             Change<span class="govuk-visually-hidden"> contact details</span>
             </a>
           </dd>
         </div>
                   <div class="govuk-summary-list__row">
           <dt class="govuk-summary-list__key">
             Has the PSC ever applied to protect their details at Companies House?
           </dt>
           <dd class="govuk-summary-list__value">
             {{data['243Appoint']}}
           </dd>
           <dd class="govuk-summary-list__actions">
             <a class="govuk-link" href="#">
             Change<span class="govuk-visually-hidden"> contact details</span>
             </a>
           </dd>
         </div>
         <div class="govuk-summary-list__row">
           <dt class="govuk-summary-list__key">
             Date they became a PSC
           </dt>
           <dd class="govuk-summary-list__value">
             {{data['date-appointed-day']}}
             {% if (data['date-appointed-month'] === "01") or (data['date-appointed-month'] === "1") %}
               January
             {% elif (data['date-appointed-month'] === "02") or (data['date-appointed-month'] === "2") %}
               February
             {% elif (data['date-appointed-month'] === "03") or (data['date-appointed-month'] === "3") %}
               March
             {% elif (data['date-appointed-month'] === "04") or (data['date-appointed-month'] === "4") %}
               April
             {% elif (data['date-appointed-month'] === "05") or (data['date-appointed-month'] === "5") %}
               May
             {% elif (data['date-appointed-month'] === "06") or (data['date-appointed-month'] === "6") %}
               June
             {% elif (data['date-appointed-month'] === "07") or (data['date-appointed-month'] === "7") %}
               July
             {% elif (data['date-appointed-month'] === "08") or (data['date-appointed-month'] === "8") %}
               August
             {% elif (data['date-appointed-month'] === "09") or (data['date-appointed-month'] === "9") %}
               September
             {% elif (data['date-appointed-month'] === "10")%}
               October
             {% elif (data['date-appointed-month'] === "11")%}
               November
             {% elif (data['date-appointed-month'] === "12")%}
               December
             {% else %}
               {{data['date-appointed-month']}}
             {% endif %}
             {{data['date-appointed-year']}}
           </dd>
           <dd class="govuk-summary-list__actions">
             <a class="govuk-link" href="/add/date-of-appointment?type=add">
             Change<span class="govuk-visually-hidden"> Notification date</span>
             </a>
           </dd>
         </div>

         <div class="govuk-summary-list__row">
           <dt class="govuk-summary-list__key">
             Date entered into the company's PSC register
           </dt>
           <dd class="govuk-summary-list__value">

           {% if (data['date-entered-own-register'] === "yes") %}

             The date is the same as when they became a PSC

           {% elif (data['date-entered-own-register'] === "no") %}
             
             {{data['date-registered-day']}}
             {% if (data['date-registered-month'] === "01") or (data['date-registered-month'] === "1") %}
               January
             {% elif (data['date-registered-month'] === "02") or (data['date-registered-month'] === "2") %}
               February
             {% elif (data['date-registered-month'] === "03") or (data['date-registered-month'] === "3") %}
               March
             {% elif (data['date-registered-month'] === "04") or (data['date-registered-month'] === "4") %}
               April
             {% elif (data['date-registered-month'] === "05") or (data['date-registered-month'] === "5") %}
               May
             {% elif (data['date-registered-month'] === "06") or (data['date-registered-month'] === "6") %}
               June
             {% elif (data['date-registered-month'] === "07") or (data['date-registered-month'] === "7") %}
               July
             {% elif (data['date-registered-month'] === "08") or (data['date-registered-month'] === "8") %}
               August
             {% elif (data['date-registered-month'] === "09") or (data['date-registered-month'] === "9") %}
               September
             {% elif (data['date-registered-month'] === "10")%}
               October
             {% elif (data['date-registered-month'] === "11")%}
               November
             {% elif (data['date-registered-month'] === "12")%}
               December
             {% else %}
               {{data['date-registered-month']}}
             {% endif %}
             {{data['date-registered-year']}}
           {% endif %}


           </dd>
           <dd class="govuk-summary-list__actions">
             <a class="govuk-link" href="/add/date-of-appointment?type=add">
             Change<span class="govuk-visually-hidden"> PSC register date</span>
             </a>
           </dd>
         </div>
         </dl>

         <!-- Adding PSC -->

         <h2 class="govuk-heading-m">Nature of control details</h2>

         <dl class="govuk-summary-list govuk-!-margin-bottom-9">
         <div class="govuk-summary-list__row">
           <dt class="govuk-summary-list__key">
             Percentage of shares
           </dt>
           <dd class="govuk-summary-list__value">

           {% if (data['percentage-of-shares'] === "75-or-more") %}
             75% or more of shares
           {% elif (data['percentage-of-shares'] === "more-than-50") %}
             More than 50%, but less than 75% of shares
           {% elif (data['percentage-of-shares'] === "more-than-25") %}
             More than 25%, but not more than 50% of shares
           {% elif (data['percentage-of-shares'] === "none") %}
             None of these
           {% else %}
           {% endif %}

           </dd>
           <dd class="govuk-summary-list__actions">
             <a class="govuk-link" href="#">
             Change<span class="govuk-visually-hidden"> percentage of shares</span>
             </a>
           </dd>
         </div>
         <div class="govuk-summary-list__row">
           <dt class="govuk-summary-list__key">
             Percentage of voting rights
           </dt>
           <dd class="govuk-summary-list__value">

             {% if (data['voting-rights'] === "75-or-more") %}
               75% or more voting rights
             {% elif (data['voting-rights'] === "more-than-50") %}
               More than 50%, but less than 75% of voting rights
             {% elif (data['voting-rights'] === "more-than-25") %}
               More than 25%, but not more than 50% of voting rights
             {% elif (data['voting-rights'] === "none") %}
               None of these
             {% else %}
             {% endif %}


           </dd>
           <dd class="govuk-summary-list__actions">
             <a class="govuk-link" href="#">
             Change<span class="govuk-visually-hidden"> percentage of voting rights</span>
             </a>
           </dd>
         </div>
         <div class="govuk-summary-list__row">
           <dt class="govuk-summary-list__key">
             Does the PSC have the right to appoint or remove directors?
           </dt>
           <dd class="govuk-summary-list__value">

             {% if (data['right-to-appoint'] === "yes") %}
               Yes
             {% elif (data['right-to-appoint'] === "no") %}
               No

             {% else %}
             {% endif %}

           </dd>
           <dd class="govuk-summary-list__actions">
             <a class="govuk-link" href="#">
             Change<span class="govuk-visually-hidden"> right to appoint or remove directors</span>
             </a>
           </dd>
         </div>

         <!--- If the user selects None to Shares, voting rights, and right to appoint  then we need to display the fourth control ---> 

         {% if (data['percentage-of-shares'] === "none") and (data['voting-rights'] === "none") and (data['right-to-appoint'] === "no") %}

         <div class="govuk-summary-list__row">
           <dt class="govuk-summary-list__key">
             As an individual, does {{data['firstname']}} {{data['middle-name']}} {{data['last-name']}} have the right to excercise significant influence or control?
           </dt>
           <dd class="govuk-summary-list__value">

             The person has the right to exercise, or actually exercises, significant influence or control over the company.

           </dd>
         </div>

         {% else %}
         {% endif %}

       </dl>


<!-- All cases for an ORP -->

{% elseif (data['type-of-psc'] == "orp") or ((data['type-of-psc'] == "corporate-body") and (data['type-control'] == "orp")) %}

<h2 class="govuk-heading-m">Other registrable person (ORP) details </h2>
        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Name of ORP
            </dt>
            <dd class="govuk-summary-list__value">
              {{data['corporatename']}}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="/add/name?type=add">
              Change<span class="govuk-visually-hidden"> corporate name</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
               Registered office address
            </dt>
            <dd class="govuk-summary-list__value">
              {% if (data['home-address'] === "different-address") %}
                70 Wentloog Road, Rumney, Cardiff, Wales, CF3 3EA

              {% elif (data['rle-address'] === "correspodence-address")%}
                {% if (data['link-home-address'] === "yes") %}
                  The home address is the same as the correspondence address
                {% else %}
                 {{data['home-propertyname']}} Stornoway House, Cleveland Row, London, {{data['home-postcode']}}
              {% endif %}

              {% else %}

              {% if company.registered_office_address.address_line_1 %}
                {{company.registered_office_address.address_line_1}}<br/>
              {% endif %}
              {% if company.registered_office_address.address_line_2 %}
                {{company.registered_office_address.address_line_2}}<br/>
              {% endif %}
              {% if company.registered_office_address.region %}
                {{company.registered_office_address.region}}<br/>
              {% endif %}
              {% if company.registered_office_address.locality %}
                {{company.registered_office_address.locality}}<br/>
              {% endif %}
              {% if company.registered_office_address.postal_code %}
                {{company.registered_office_address.postal_code}}
              {% endif %}

              {% endif %}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
              Change<span class="govuk-visually-hidden"> corporate address</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Date it became a PSC 
            </dt>
            <dd class="govuk-summary-list__value">
              {{data['date-appointed-day']}}
              {% if (data['date-appointed-month'] === "01") or (data['date-appointed-month'] === "1") %}
                January
              {% elif (data['date-appointed-month'] === "02") or (data['date-appointed-month'] === "2") %}
                February
              {% elif (data['date-appointed-month'] === "03") or (data['date-appointed-month'] === "3") %}
                March
              {% elif (data['date-appointed-month'] === "04") or (data['date-appointed-month'] === "4") %}
                April
              {% elif (data['date-appointed-month'] === "05") or (data['date-appointed-month'] === "5") %}
                May
              {% elif (data['date-appointed-month'] === "06") or (data['date-appointed-month'] === "6") %}
                June
              {% elif (data['date-appointed-month'] === "07") or (data['date-appointed-month'] === "7") %}
                July
              {% elif (data['date-appointed-month'] === "08") or (data['date-appointed-month'] === "8") %}
                August
              {% elif (data['date-appointed-month'] === "09") or (data['date-appointed-month'] === "9") %}
                September
              {% elif (data['date-appointed-month'] === "10")%}
                October
              {% elif (data['date-appointed-month'] === "11")%}
                November
              {% elif (data['date-appointed-month'] === "12")%}
                December
              {% else %}
                {{data['date-appointed-month']}}
              {% endif %}
              {{data['date-appointed-year']}}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="/add/date-of-appointment?type=add">
              Change<span class="govuk-visually-hidden"> Notification date</span>
              </a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
             Date entered into the company's PSC register
            </dt>
            <dd class="govuk-summary-list__value">

            {% if (data['date-entered-own-register'] === "yes") %}

              The date is the same as when they became a PSC

            {% elif (data['date-entered-own-register'] === "no") %}
              
              {{data['date-registered-day']}}
              {% if (data['date-registered-month'] === "01") or (data['date-registered-month'] === "1") %}
                January
              {% elif (data['date-registered-month'] === "02") or (data['date-registered-month'] === "2") %}
                February
              {% elif (data['date-registered-month'] === "03") or (data['date-registered-month'] === "3") %}
                March
              {% elif (data['date-registered-month'] === "04") or (data['date-registered-month'] === "4") %}
                April
              {% elif (data['date-registered-month'] === "05") or (data['date-registered-month'] === "5") %}
                May
              {% elif (data['date-registered-month'] === "06") or (data['date-registered-month'] === "6") %}
                June
              {% elif (data['date-registered-month'] === "07") or (data['date-registered-month'] === "7") %}
                July
              {% elif (data['date-registered-month'] === "08") or (data['date-registered-month'] === "8") %}
                August
              {% elif (data['date-registered-month'] === "09") or (data['date-registered-month'] === "9") %}
                September
              {% elif (data['date-registered-month'] === "10")%}
                October
              {% elif (data['date-registered-month'] === "11")%}
                November
              {% elif (data['date-registered-month'] === "12")%}
                December
              {% else %}
                {{data['date-registered-month']}}
              {% endif %}
              {{data['date-registered-year']}}
            {% endif %}


            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="/add/date-of-appointment?type=add">
              Change<span class="govuk-visually-hidden"> PSC register date</span>
              </a>
            </dd>
          </div>
        </dl>

        <h2 class="govuk-heading-m">Registration details </h2>
        <dl class="govuk-summary-list">

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Type of ORP
            </dt>
            <dd class="govuk-summary-list__value">
              {{data['legal-form']}}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="/add/name?type=add">
              Change<span class="govuk-visually-hidden"> Other registrable person type</span>
              </a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Governing law
            </dt>
            <dd class="govuk-summary-list__value">
              {{data['governing-law']}}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="/add/name?type=add">
              Change<span class="govuk-visually-hidden"> governing law</span>
              </a>
            </dd>
          </div>

        <!--   <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Register 
            </dt>
            <dd class="govuk-summary-list__value">
             {{data['register']}}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="/add/name?type=add">
              Change<span class="govuk-visually-hidden"> register the company is in</span>
              </a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Country of registration
            </dt>
            <dd class="govuk-summary-list__value">
              {{data['country-registered']}}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="/add/name?type=add">
              Change<span class="govuk-visually-hidden"> Country of registration</span>
              </a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Registration number
            </dt>
            <dd class="govuk-summary-list__value">
              {{data['regnumber']}}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="/add/name?type=add">
              Change<span class="govuk-visually-hidden"> registration number</span>
              </a>
            </dd>
          </div> -->



          </dl>

          <!-- Adding PSC -->

          <h2 class="govuk-heading-m">Nature of control details</h2>

          <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
             Percentage of voting rights
            </dt>
            <dd class="govuk-summary-list__value">

            {% if (data['percentage-of-shares'] === "75-or-more") %}
              75% or more of voting rights 
            {% elif (data['percentage-of-shares'] === "more-than-50") %}
              More than 50%, but less than 75% of voting rights 
            {% elif (data['percentage-of-shares'] === "more-than-25") %}
              More than 25%, but not more than 50% of voting rights 
            {% elif (data['percentage-of-shares'] === "none") %}
              None of these
            {% else %}
            {% endif %}

            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
              Change<span class="govuk-visually-hidden"> percentage of voting rights</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
             Percentage of shares
            </dt>
            <dd class="govuk-summary-list__value">

              {% if (data['voting-rights'] === "75-or-more") %}
                75% or more of shares
              {% elif (data['voting-rights'] === "more-than-50") %}
                More than 50%, but less than 75% of shares
              {% elif (data['voting-rights'] === "more-than-25") %}
                More than 25%, but not more than 50% of shares
              {% elif (data['voting-rights'] === "none") %}
                None of these
              {% else %}
              {% endif %}


            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
              Change<span class="govuk-visually-hidden"> percentage of shares</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
             Does the PSC have the right to appoint or remove directors?
            </dt>
            <dd class="govuk-summary-list__value">

              {% if (data['right-to-appoint'] === "yes") %}
              Yes
                <!-- The entity holds the right, directly or indirectly, to appoint or remove a majority of the board of directors of the company. -->
              {% elif (data['right-to-appoint'] === "no") %}
                No

              {% else %}
              {% endif %}

            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
              Change<span class="govuk-visually-hidden"> right to appoint or remove directors</span>
              </a>
            </dd>
          </div>

          <!--- If the user selects None to Shares, voting rights, and right to appoint  then we need to display the fourth control ---> 

          {% if (data['percentage-of-shares'] === "none") and (data['voting-rights'] === "none") and (data['right-to-appoint'] === "no") %}

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              As an individual, does {{data['firstname']}} {{data['middle-name']}} {{data['last-name']}} have the right to excercise significant influence or control?
            </dt>
            <dd class="govuk-summary-list__value">

              The person has the right to exercise, or actually exercises, significant influence or control over the company.

            </dd>
           <!-- No change option for this statment in SCRS
           <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
              Change<span class="govuk-visually-hidden"> right to appoint or remove directors</span>
              </a>
            </dd> -->
          </div>

          {% else %}
          {% endif %}



        </dl>

<!-- All cases for an RLE - corporate body -->

{% elseif (data['type-of-psc'] == "corporate-body") or ((data['type-of-psc'] == "corporate-body") and (data['type-control'] == "corporate")) %}

<h2 class="govuk-heading-m">Corporate body details </h2>
        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
            Corporate body name
            </dt>
            <dd class="govuk-summary-list__value">
              {{data['corporatename']}}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="/add/name?type=add">
              Change<span class="govuk-visually-hidden"> corporate name</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
               Registered office address
            </dt>
            <dd class="govuk-summary-list__value">
              {% if (data['home-address'] === "different-address") %}
                70 Wentloog Road, Rumney, Cardiff, Wales, CF3 3EA

              {% elif (data['rle-address'] === "correspodence-address")%}
                {% if (data['link-home-address'] === "yes") %}
                  The home address is the same as the correspondence address
                {% else %}
                 {{data['home-propertyname']}} Stornoway House, Cleveland Row, London, {{data['home-postcode']}}
              {% endif %}

              {% else %}

              {% if company.registered_office_address.address_line_1 %}
                {{company.registered_office_address.address_line_1}}<br/>
              {% endif %}
              {% if company.registered_office_address.address_line_2 %}
                {{company.registered_office_address.address_line_2}}<br/>
              {% endif %}
              {% if company.registered_office_address.region %}
                {{company.registered_office_address.region}}<br/>
              {% endif %}
              {% if company.registered_office_address.locality %}
                {{company.registered_office_address.locality}}<br/>
              {% endif %}
              {% if company.registered_office_address.postal_code %}
                {{company.registered_office_address.postal_code}}
              {% endif %}

              {% endif %}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
              Change<span class="govuk-visually-hidden"> corporate address</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Date it became a PSC 
            </dt>
            <dd class="govuk-summary-list__value">
              {{data['date-appointed-day']}}
              {% if (data['date-appointed-month'] === "01") or (data['date-appointed-month'] === "1") %}
                January
              {% elif (data['date-appointed-month'] === "02") or (data['date-appointed-month'] === "2") %}
                February
              {% elif (data['date-appointed-month'] === "03") or (data['date-appointed-month'] === "3") %}
                March
              {% elif (data['date-appointed-month'] === "04") or (data['date-appointed-month'] === "4") %}
                April
              {% elif (data['date-appointed-month'] === "05") or (data['date-appointed-month'] === "5") %}
                May
              {% elif (data['date-appointed-month'] === "06") or (data['date-appointed-month'] === "6") %}
                June
              {% elif (data['date-appointed-month'] === "07") or (data['date-appointed-month'] === "7") %}
                July
              {% elif (data['date-appointed-month'] === "08") or (data['date-appointed-month'] === "8") %}
                August
              {% elif (data['date-appointed-month'] === "09") or (data['date-appointed-month'] === "9") %}
                September
              {% elif (data['date-appointed-month'] === "10")%}
                October
              {% elif (data['date-appointed-month'] === "11")%}
                November
              {% elif (data['date-appointed-month'] === "12")%}
                December
              {% else %}
                {{data['date-appointed-month']}}
              {% endif %}
              {{data['date-appointed-year']}}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="/add/date-of-appointment?type=add">
              Change<span class="govuk-visually-hidden"> Notification date</span>
              </a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
             Date entered into the company's PSC register
            </dt>
            <dd class="govuk-summary-list__value">

            {% if (data['date-entered-own-register'] === "yes") %}

              The date is the same as when they became a PSC

            {% elif (data['date-entered-own-register'] === "no") %}
              
              {{data['date-registered-day']}}
              {% if (data['date-registered-month'] === "01") or (data['date-registered-month'] === "1") %}
                January
              {% elif (data['date-registered-month'] === "02") or (data['date-registered-month'] === "2") %}
                February
              {% elif (data['date-registered-month'] === "03") or (data['date-registered-month'] === "3") %}
                March
              {% elif (data['date-registered-month'] === "04") or (data['date-registered-month'] === "4") %}
                April
              {% elif (data['date-registered-month'] === "05") or (data['date-registered-month'] === "5") %}
                May
              {% elif (data['date-registered-month'] === "06") or (data['date-registered-month'] === "6") %}
                June
              {% elif (data['date-registered-month'] === "07") or (data['date-registered-month'] === "7") %}
                July
              {% elif (data['date-registered-month'] === "08") or (data['date-registered-month'] === "8") %}
                August
              {% elif (data['date-registered-month'] === "09") or (data['date-registered-month'] === "9") %}
                September
              {% elif (data['date-registered-month'] === "10")%}
                October
              {% elif (data['date-registered-month'] === "11")%}
                November
              {% elif (data['date-registered-month'] === "12")%}
                December
              {% else %}
                {{data['date-registered-month']}}
              {% endif %}
              {{data['date-registered-year']}}
            {% endif %}


            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="/add/date-of-appointment?type=add">
              Change<span class="govuk-visually-hidden"> PSC register date</span>
              </a>
            </dd>
          </div>
        </dl>

        <h2 class="govuk-heading-m">Registration details </h2>
        <dl class="govuk-summary-list">

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Corporate body type
            </dt>
            <dd class="govuk-summary-list__value">
              {{data['legal-form']}}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="/add/name?type=add">
              Change<span class="govuk-visually-hidden"> corporate body type</span>
              </a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Governing law
            </dt>
            <dd class="govuk-summary-list__value">
              {{data['governing-law']}}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="/add/name?type=add">
              Change<span class="govuk-visually-hidden"> governing law</span>
              </a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Register 
            </dt>
            <dd class="govuk-summary-list__value">
             {{data['register']}}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="/add/name?type=add">
              Change<span class="govuk-visually-hidden"> register the company is in</span>
              </a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Country of registration
            </dt>
            <dd class="govuk-summary-list__value">
              {{data['country-registered']}}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="/add/name?type=add">
              Change<span class="govuk-visually-hidden"> corporate name</span>
              </a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Registration number
            </dt>
            <dd class="govuk-summary-list__value">
              {{data['regnumber']}}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="/add/name?type=add">
              Change<span class="govuk-visually-hidden"> corporate name</span>
              </a>
            </dd>
          </div>



          </dl>

          <!-- Adding PSC -->

          <h2 class="govuk-heading-m">Nature of control details</h2>

          <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
             Percentage of voting rights
            </dt>
            <dd class="govuk-summary-list__value">

            {% if (data['percentage-of-shares'] === "75-or-more") %}
              75% or more of voting rights 
            {% elif (data['percentage-of-shares'] === "more-than-50") %}
              More than 50%, but less than 75% of voting rights 
            {% elif (data['percentage-of-shares'] === "more-than-25") %}
              More than 25%, but not more than 50% of voting rights 
            {% elif (data['percentage-of-shares'] === "none") %}
              None of these
            {% else %}
            {% endif %}

            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
              Change<span class="govuk-visually-hidden"> percentage of voting rights</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
             Percentage of shares
            </dt>
            <dd class="govuk-summary-list__value">

              {% if (data['voting-rights'] === "75-or-more") %}
                75% or more of shares
              {% elif (data['voting-rights'] === "more-than-50") %}
                More than 50%, but less than 75% of shares
              {% elif (data['voting-rights'] === "more-than-25") %}
                More than 25%, but not more than 50% of shares
              {% elif (data['voting-rights'] === "none") %}
                None of these
              {% else %}
              {% endif %}


            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
              Change<span class="govuk-visually-hidden"> percentage of shares</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
             Does the PSC have the right to appoint or remove directors?
            </dt>
            <dd class="govuk-summary-list__value">

              {% if (data['right-to-appoint'] === "yes") %}
              Yes
                <!-- The entity holds the right, directly or indirectly, to appoint or remove a majority of the board of directors of the company. -->
              {% elif (data['right-to-appoint'] === "no") %}
                No

              {% else %}
              {% endif %}

            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
              Change<span class="govuk-visually-hidden"> right to appoint or remove directors</span>
              </a>
            </dd>
          </div>

          <!--- If the user selects None to Shares, voting rights, and right to appoint  then we need to display the fourth control ---> 

          {% if (data['percentage-of-shares'] === "none") and (data['voting-rights'] === "none") and (data['right-to-appoint'] === "no") %}

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              As an individual, does {{data['firstname']}} {{data['middle-name']}} {{data['last-name']}} have the right to excercise significant influence or control?
            </dt>
            <dd class="govuk-summary-list__value">

              The person has the right to exercise, or actually exercises, significant influence or control over the company.

            </dd>
           <!-- No change option for this statment in SCRS
           <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
              Change<span class="govuk-visually-hidden"> right to appoint or remove directors</span>
              </a>
            </dd> -->
          </div>

          {% else %}
          {% endif %}



        </dl>


{% endif %}

       


        
