<div class="govuk-grid-column-two-thirds-from-desktop">



  
  <h1 class="govuk-heading-xl govuk-!-margin-top-0 govuk-!-margin-bottom-8">
    Change your company details
  </h1>
  <!-- <p class="govuk-body-l">How to add an overseas entity and its registrable beneficial owners or managing officers to the Register of Overseas Entities. This will allow it to buy and sell land or property in the UK.</p> -->




  <!--<ul class="govuk-list govuk-body-s">
    <li>
      From: <a href="https://www.gov.uk/government/organisations/companies-house" class="govuk-link">Companies House</a>
    </li>
    <li>
      Published
      25 July 2023
    </li>
    <li>
      Last updated
      1 August 2023 — <a href="javascript:void(0)" class="govuk-link">See all updates</a>
    </li>
    <li>
    </li>
  </ul>-->


 <!--<p class="govuk-body-s email-notification"><a href="javascript:void(0)" class="govuk-link">Get emails about this page</a></p> -->








  <p class="govuk-body-s govuk-!-margin-bottom-2">Contents</p>
  <ul class="govuk-list govuk-list govuk-!-margin-bottom-8">
    <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
      <a class=" govuk-body-s govuk-link--no-underline">Appoint, update or remove a director or company secretary </a>
    </li>
    <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
      <a class="govuk-link govuk-body-s govuk-link--no-underline" href="#update-psc">Update your ‘people with significant control’ (PSC) information  </a>
    </li>
    <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
      <a class="govuk-link govuk-body-s govuk-link--no-underline" href="#update-roa">Update your registered office address  </a>
    </li>
    <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
      <a class="govuk-link govuk-body-s govuk-link--no-underline" href="#change-company-name">Change your company name </a>
    </li>

    <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
      <a class="govuk-link govuk-body-s govuk-link--no-underline" href="#change-shares">Change your company’s share structure </a>
    </li>
    <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
      <a class="govuk-link govuk-body-s govuk-link--no-underline" href="#change-accounting-date">Change your accounting reference date 
</a>
    </li>
    <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
      <a class="govuk-link govuk-body-s govuk-link--no-underline" href="#mortgages">Tell us about any new mortgages, or mortgages your company has paid off </a>
    </li>
    
  </ul>

<!-- JS print button for UR testing only - not production-->
  <!--<p class="govuk-body-s email-notification print-notification"><a href="javascript: window.print()" class="govuk-link">Print this page</a></p>-->




</div>
