

<h2 class="govuk-heading-m">PSC details</h2>
<dl class="govuk-summary-list">
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      PSC statement to be removed
    </dt>
    <dd class="govuk-summary-list__value">
      <!-- display the corresponding statement here -->

      The company knows or has reasonable cause to believe that there is a registrable person in relation to the company, but it has not identified the registrable person.
  </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="/add/name?type=add">
      Change<span class="govuk-visually-hidden"> name</span>
      </a>
    </dd>
  </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Date the statement no longer applied
      </dt>
      <dd class="govuk-summary-list__value">
        {{data['date-statement-no-longer-day']}}
        {% if (data['date-statement-no-longer-day'] === "01") or (data['date-statement-no-longer-month'] === "1") %}
          January
        {% elif (data['date-statement-no-longer-month'] === "02") or (data['date-statement-no-longer-month'] === "2") %}
          February
        {% elif (data['date-statement-no-longer-month'] === "03") or (data['date-statement-no-longer-month'] === "3") %}
          March
        {% elif (data['date-statement-no-longer-month'] === "04") or (data['date-statement-no-longer-month'] === "4") %}
          April
        {% elif (data['date-statement-no-longer-month'] === "05") or (data['date-statement-no-longer-month'] === "5") %}
          May
        {% elif (data['date-statement-no-longer-month'] === "06") or (data['date-statement-no-longer-month'] === "6") %}
          June
        {% elif (data['date-statement-no-longer-month'] === "07") or (data['date-statement-no-longer-month'] === "7") %}
          July
        {% elif (data[date-statement-no-longer-month'] === "08") or (data['date-statement-no-longer-month'] === "8") %}
          August
        {% elif (data['date-statement-no-longer-month'] === "09") or (data['date-statement-no-longer-month'] === "9") %}
          September
        {% elif (data['date-statement-no-longer-month'] === "10") %}
          October
        {% elif (data['date-statement-no-longer-month'] === "11") %}
          November
        {% elif (data['date-statement-no-longer-month'] === "12") %}
          December
        {% else %}
          {{data['date-statement-no-longer-month']}}
        {% endif %}
        {{data['date-statement-no-longer-year']}}
      </dd>
      <dd class="govuk-summary-list__actions">
        <a class="govuk-link" href="/add/statement">Change<span class="govuk-visually-hidden"> removed on date</span></a>
      </dd>
    </div>

    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Date entered into the company's PSC register
      </dt>
      <dd class="govuk-summary-list__value">

        {% if (data['date-statement-entered-own-register'] === "yes") %}

         *The date is the same as when they became a PSC*

        {% elif (data['date-statement-entered-own-register'] === "no") %}

            {{data['date-statement-register-updated-day']}}
            {% if (data['date-statement-register-updated-month'] === "01") or (data['date-statement-register-updated-month'] === "1") %}
              January
            {% elif (data['date-statement-register-updated-month'] === "02") or (data['date-statement-register-updated-month'] === "2") %}
              February
            {% elif (data['date-statement-register-updated-month'] === "03") or (data['date-statement-register-updated-month'] === "3") %}
              March
            {% elif (data['date-statement-register-updated-month'] === "04") or (data['date-statement-register-updated-month'] === "4") %}
              April
            {% elif (data['date-statement-register-updated-month'] === "05") or (data['date-statement-register-updated-month'] === "5") %}
              May
            {% elif (data['date-statement-register-updated-month'] === "06") or (data['date-statement-register-updated-month'] === "6") %}
              June
            {% elif (data['date-statement-register-updated-month'] === "07") or (data['date-statement-register-updated-month'] === "7") %}
              July
            {% elif (data['date-statement-register-updated-month'] === "08") or (data['date-statement-register-updated-month'] === "8") %}
              August
            {% elif (data['date-statement-register-updated-month'] === "09") or (data['date-statement-register-updated-month'] === "9") %}
              September
            {% elif (data['date-statement-register-updated-month'] === "10") %}
              October
            {% elif (data['date-statement-register-updated-month'] === "11") %}
              November
            {% elif (data['date-statement-register-updated-month'] === "12") %}
              December
            {% else %}
              {{data['date-add-statement-month']}}
            {% endif %}
            {{data['date-add-statement-year']}}
        {% endif %}
      </dd>
      <dd class="govuk-summary-list__actions">
        <a class="govuk-link" href="/add/statement">Change<span class="govuk-visually-hidden"> removed on date</span></a>
      </dd>
    </div>
  </dl>
