<h2 class="govuk-heading-m">Updates made</h2>
             <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
            <dt class="govuk-summary-list__key">
              Name
            </dt>
            <dd class="govuk-summary-list__value">
              {{data['titleAppoint']}} {{data['firstname']}} {{data['middle-name']}} {{data['last-name']}}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="/add/name?type=add">
              Change<span class="govuk-visually-hidden"> name</span>
              </a>
            </dd>
          </div>
          {% if data['previous-names'] %}
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Previous names
            </dt>
            <dd class="govuk-summary-list__value">
              {{data['previous-names']}}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="/add/name?type=add&#firstname">
              Change<span class="govuk-visually-hidden"> name</span>
              </a>
            </dd>
          </div>
          {% endif %}
          {% if data['nationalityUpdate'] %}
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Nationality
            </dt>
            <dd class="govuk-summary-list__value">
              {{data['nationalityUpdate']}}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="/add/add?type=add&#nationality">
              Change<span class="govuk-visually-hidden"> nationality</span>
              </a>
            </dd>
          </div>
          {% endif %}
          {% if data['occupationUpdate'] %}
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Occupation
            </dt>
            <dd class="govuk-summary-list__value">
              {{data['occupationUpdate']}}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="/add/job-title?type=add&#occupation">
              Change<span class="govuk-visually-hidden"> occupation title</span>
              </a>
            </dd>
          </div>
          {% endif %}
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Correspondence address
            </dt>
            <dd class="govuk-summary-list__value">
              {% if (data['correspondence-address'] === "different-address") %}
                {{data['postcode'] | reverse}}
              {% else %}
                The correspondence address is the same as the registered office address
              {% endif %}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="/address-lookup/correspondence-address">
              Change<span class="govuk-visually-hidden"> correspondence address</span>
              </a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Home address
            </dt>
            <dd class="govuk-summary-list__value">
              {% if (data['home-address'] === "different-address") %}
                {{data['home-propertyname']}} Stornoway House, Cleveland Row, London, {{data['home-postcode']}}
              {% elif (data['home-address'] === "correspodence-address")%}
                {% if (data['link-home-address'] === "yes") %}
                  The home address is the same as the correspondence address
              {% else %}
                 {{data['home-propertyname']}} Stornoway House, Cleveland Row, London, {{data['home-postcode']}}
              {% endif %}
              {% else %}

          {% if company.registered_office_address.address_line_1 %}
            {{company.registered_office_address.address_line_1}}<br/>
          {% endif %}
          {% if company.registered_office_address.address_line_2 %}
            {{company.registered_office_address.address_line_2}}<br/>
          {% endif %}
          {% if company.registered_office_address.region %}
            {{company.registered_office_address.region}}<br/>
          {% endif %}
          {% if company.registered_office_address.locality %}
            {{company.registered_office_address.locality}}<br/>
          {% endif %}
          {% if company.registered_office_address.postal_code %}
            {{company.registered_office_address.postal_code}}
          {% endif %}

              {% endif %}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
              Change<span class="govuk-visually-hidden"> contact details</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Date of change
            </dt>
            <dd class="govuk-summary-list__value">
              {{data['date-of-change-day']}}
              {% if (data['date-of-change-month'] === "01") or (data['date-of-change-month'] === "1") %}
                January
              {% elif (data['date-of-change-month'] === "02") or (data['date-of-change-month'] === "2") %}
                February
              {% elif (data['date-of-change-month'] === "03") or (data['date-of-change-month'] === "3") %}
                March
              {% elif (data['date-of-change-month'] === "04") or (data['date-of-change-month'] === "4") %}
                April
              {% elif (data['date-of-change-month'] === "05") or (data['date-of-change-month'] === "5") %}
                May
              {% elif (data['date-of-change-month'] === "06") or (data['date-of-change-month'] === "6") %}
                June
              {% elif (data['date-of-change-month'] === "07") or (data['date-of-change-month'] === "7") %}
                July
              {% elif (data['date-of-change-month'] === "08") or (data['date-of-change-month'] === "8") %}
                August
              {% elif (data['date-of-change-month'] === "09") or (data['date-of-change-month'] === "9") %}
                September
              {% elif (data['date-of-change-month'] === "10")%}
                October
              {% elif (data['date-of-change-month'] === "11")%}
                November
              {% elif (data['date-of-change-month'] === "12")%}
                December
              {% else %}
                {{data['date-of-change-month']}}
              {% endif %}
              {{data['date-of-change-year']}}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="/add/date-of-appointment?type=add">
              Change<span class="govuk-visually-hidden"> change date</span>
              </a>
            </dd>
          </div>
        </dl>
