<h2 class="govuk-heading-m">Updates made</h2>
<dl class="govuk-summary-list">
  <div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
    <dt class="govuk-summary-list__key">
      Name
    </dt>
    <dd class="govuk-summary-list__value">
      {% if data['updateFirstName'] %}
     
            {{data['titleAppoint']}} {{data['firstname']}} {{data['middle-name']}} {{data['last-name']}}
       {% else %}
 {{updateName}}
         {% endif %}
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="/add/name?type=add">Change<span class="govuk-visually-hidden"> name</span></a>
    </dd>
  </div>
  {% if data['previous-names'] %}
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Previous names
      </dt>
      <dd class="govuk-summary-list__value">
        {{data['previous-names']}}
      </dd>
      <dd class="govuk-summary-list__actions">
        <a class="govuk-link" href="/add/name?type=add&#firstname">Change<span class="govuk-visually-hidden"> name</span></a>
      </dd>
    </div>
  {% endif %}
  {% if data['nationalityUpdate'] %}
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Nationality
      </dt>
      <dd class="govuk-summary-list__value">
        {{data['nationalityUpdate']}}
      </dd>
      <dd class="govuk-summary-list__actions">
        <a class="govuk-link" href="/add/add?type=add&#nationality">Change<span class="govuk-visually-hidden"> nationality</span></a>
      </dd>
    </div>
  {% endif %}
  {% if data['occupationUpdate'] %}
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Occupation
      </dt>
      <dd class="govuk-summary-list__value">
        {{data['occupationUpdate']}}
      </dd>
      <dd class="govuk-summary-list__actions">
        <a class="govuk-link" href="/add/job-title?type=add&#occupation">Change<span class="govuk-visually-hidden"> occupation title</span></a>
      </dd>
    </div>
  {% endif %}
    {% if data['propertyName-update'] %}
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Home address
      </dt>
      <dd class="govuk-summary-list__value">
                                <ul class="govuk-list">
          <li>{{data['propertyName-update']}} {{data['addressOne-update']}}</li>
          <li>{{data['addressTwo-update']}}</li>
          <li>{{data['town-update']}}</li>
          <li>{{data['county-update']}}</li>
          <li>{{data['country-update']}}</li>
          <li>{{data['postcode-update']}}</li>
        </ul>
      </dd>
      <dd class="govuk-summary-list__actions">
        <a class="govuk-link" href="/add/job-title?type=add&#occupation">Change<span class="govuk-visually-hidden">home address</span></a>
      </dd>
    </div>
  {% endif %}
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Date of change
    </dt>
    <dd class="govuk-summary-list__value">
      {{data['date-of-change-day']}}
      {% if (data['date-of-change-month'] === "01") or (data['date-of-change-month'] === "1") %}
        January
      {% elif (data['date-of-change-month'] === "02") or (data['date-of-change-month'] === "2") %}
        February
      {% elif (data['date-of-change-month'] === "03") or (data['date-of-change-month'] === "3") %}
        March
      {% elif (data['date-of-change-month'] === "04") or (data['date-of-change-month'] === "4") %}
        April
      {% elif (data['date-of-change-month'] === "05") or (data['date-of-change-month'] === "5") %}
        May
      {% elif (data['date-of-change-month'] === "06") or (data['date-of-change-month'] === "6") %}
        June
      {% elif (data['date-of-change-month'] === "07") or (data['date-of-change-month'] === "7") %}
        July
      {% elif (data['date-of-change-month'] === "08") or (data['date-of-change-month'] === "8") %}
        August
      {% elif (data['date-of-change-month'] === "09") or (data['date-of-change-month'] === "9") %}
        September
      {% elif (data['date-of-change-month'] === "10")%}
        October
      {% elif (data['date-of-change-month'] === "11")%}
        November
      {% elif (data['date-of-change-month'] === "12")%}
        December
      {% else %}
        {{data['date-of-change-month']}}
      {% endif %}
      {{data['date-of-change-year']}}
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="/add/date-of-appointment?type=add">Change<span class="govuk-visually-hidden"> change date</span></a>
    </dd>
  </div>
</dl>