{% set title = "Enter the company authentication code" %}
{% extends "layout.html" %}
{% block pageTitle %}
  {{director.name}}
  -
  {{serviceName}}
  - GOV.UK
{% endblock %}
{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "../directors"
}) }}
{% endblock %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <h1 class="govuk-heading-l">{{director.name}}
        officer details</h1>
      {{ govukInsetText({
        text: "Officer details will appear on the public record except for the full date of birth."
      }) }}
            <div class="govuk-form-group govuk-input--width-20">
        <label for="autocomplete-default" class="govuk-label">Title (optional)</label>
          <p class="govuk-hint">For example, Mr, Mrs, Miss, Ms, Mx.</p>
        <div id="title" name="title" class="autocomplete-wrapper govuk-input--width-5"></div>
      </div>
      <script src="/public/javascripts/accessible-autocomplete.js"></script>
      <script src="/public/javascripts/titles.js"></script>
      {{ govukInput({
        label: {
          text: "First name"
        },
        hint: {
          text: "Enter first name in full not just initials."
        },
        classes: "govuk-input--width-20",
        id: "first-name",
        value: director.name,
        name: "first-name"
      }) }}
      {{ govukInput({
        label: {
          text: "Middle name(s)"
        },
        hint: {
          text: "Enter middle name(s) in full not just initials."
        },
        classes: "govuk-input--width-20",
        id: "middle-name",
        name: "middle-name"
      }) }}
      {{ govukInput({
        label: {
          text: "Last name"
        },
        classes: "govuk-input--width-20",
        id: "last-name",
        value: "Last name",
        name: "last-name"
      }) }}
      {{ govukRadios({
        classes: "govuk-radios--inline",
        idPrefix: "previous-name",
        name: "previous-name",
        fieldset: {
          legend: {
            text: "Has the director used a different name for business purposes in the last 20 years?"
          }
        },
        items: [
          {
            value: "yes",
            text: "Yes"
          },
          {
            value: "no",
            text: "No"
          }
        ]
      }) }}
      <p class="govuk-body govuk-!-margin-bottom-1">Address</p>
      <p class="govuk-body govuk-!-margin-bottom-2 govuk-body govuk-!-font-weight-bold">
        {% if director.address.premises %}
          {{director.address.premises}},
        {% endif %}
        {% if director.address.address_line_1 %}
          {{director.address.address_line_1}},
        {% endif %}
        {% if director.address.address_line_2 %}
          {{director.address.address_line_2}},
        {% endif %}
        {% if director.address.locality %}
          {{director.address.locality}},
        {% endif %}
        {% if director.address.region %}
          {{director.address.region}},
        {% endif %}
        {% if director.address.postal_code %}
          {{director.address.postal_code}}
        {% endif %}
      </p>
      <p class="govuk-body govuk-!-margin-bottom-8">
        <a href="../address/company-address" class="govuk-link govuk-link--no-visited-state">Change address</a>
      </p>
      <div class="govuk-form-group govuk-input--width-20">
        <label for="autocomplete-default" class="govuk-label">Nationality</label>
        <div id="nationality" class="autocomplete-wrapper"></div>
      </div>
      <p class="govuk-body">
        <a href="#" class="govuk-link govuk-link--no-visited-state">Add another nationality</a>
      </p>
      <script src="/public/javascripts/accessible-autocomplete.js"></script>
      <script src="/public/javascripts/nationality.js"></script>

      <div class="govuk-form-group govuk-!-margin-top-4">
        <fieldset class="govuk-fieldset" role="group" aria-describedby="passport-issued-hint">
          <legend class="govuk-fieldset__legend">
            Date of birth
          </legend>
          <div id="passport-issued-hint" class="govuk-hint">
            The director must be at least 16 years of age. For example, 27 3 2007
          </div>
          <div class="govuk-date-input" id="passport-issued">
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="passport-issued-day">
                  Day
                </label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-day" name="passport-issued-day" type="text" pattern="[0-9]*" inputmode="numeric"></div>
            </div>
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="passport-issued-month">
                  Month
                </label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-month" name="passport-issued-month" type="text" pattern="[0-9]*" inputmode="numeric"></div>
            </div>
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="passport-issued-year">
                  Year
                </label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="passport-issued-year" name="passport-issued-year" type="text" pattern="[0-9]*" inputmode="numeric"></div>
            </div>
          </div>

        </fieldset>
      </div>
           <div class="govuk-!-padding-bottom-6">
        <label for="autocomplete-default" class="govuk-label">Job title</label>
          <p class="govuk-hint">What does the person work as. For example, carpenter</p>
        <div id="occupation" name="occupation" class="autocomplete-wrapper govuk-input--width-20"></div>
      </div>
      <script src="/public/javascripts/accessible-autocomplete.js"></script>
      <script src="/public/javascripts/occupation.js"></script>
      <p class="govuk-body">
        {{ govukButton({
          text: "Change details"
        }) }}
      </p>
    </div>
  </div>
{% endblock %}