{% set title = "Enter the company authentication code" %}
{% extends "layout.html" %}
{% block pageTitle %}
  {{company.company_name}}
  -
  {{serviceName}}
  - GOV.UK
{% endblock %}
{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:history.back()"
}) }}
{% endblock %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <h1 class="govuk-heading-l">What is the officer's correspondence address?</h1>
      <p class="govuk-body">We'll use this address to send Companies House correspondence to the officer. You can use a business or home address and it does not have to be in the UK.</p>
      {% from "govuk/components/inset-text/macro.njk" import govukInsetText %}

{{ govukInsetText({
  text: "This address will be publicly available on the Companies House online register."
}) }}

      <details class="govuk-details" data-module="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      I do not want my home address to be publicly available
    </span>
  </summary>
  <div class="govuk-details__text">
    If you run your company from home and do not want your home address available to the public, you should consider using a different address. If you only have a home address to use, there is a <a href="https://www.gov.uk/government/publications/formation-and-company-secretarial-agents/company-formation-agents-and-secretarial-agents" class="govuk-link" rel="noreferrer noopener" target="_blank">list of agents who can provide registered office services (opens in new tab)</a>.
  </div>
</details>
      {{ govukInput({
        label: {
          text: "Property name or number (optional)"
        },
        hint: {
          text: "For example, 'The Mill', '116' or 'Flat 37a'."
        },
        id: "propertyName",
        name: "propertyName"
      }) }}

      {{ govukInput({
        label: {
          text: "Address line 1"
        },
        id: "addressOne",
        name: "addressOne"
      }) }}

      {{ govukInput({
        label: {
          text: "Address line 2 (optional)"
        },
        id: "addressTwo",
        name: "addressTwo"
      }) }}

      {{ govukInput({
        label: {
          text: "Town"
        },
        id: "town",
        name: "town"
      }) }}

      {{ govukInput({
        label: {
          text: "County (optional)"
        },
        id: "county",
        name: "county"
      }) }}

      {{ govukInput({
        label: {
          text: "Country"
        },
        id: "country",
        name: "country"
      }) }}

      {{ govukInput({
        label: {
          text: "Postcode"
        },
        id: "postcode",
        name: "postcode"
      }) }}

      {{ govukButton({
        text: "Continue",
        href: "../add/check-your-answers"
      }) }}
    </div>
  </div>
{% endblock %}
