{% set title = "Enter the company authentication code" %}
{% extends "layout.html" %}
{% block pageTitle %}
  {{company.company_name}}
  -
  {{serviceName}}
  - GOV.UK
{% endblock %}
{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:history.back()"
}) }}
{% endblock %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <h1 class="govuk-heading-l">Update the correspondence address for XXXX</h1>
      <p class="govuk-body">We'll use this address to send notifications to the director. You can use a business or home address and it doesn't have to be in the UK.</p>
      <p class="govuk-body">This address will be publicly available on the Companies House online register</p>
      {{ govukRadios({
        idPrefix: "address",
        name: "address",
        fieldset: {
          legend: {
            text: "Address"
          }
        },
        items: [
          {
            value: "government-gateway",
            text: "XXXX",
            hint: {
              text: "This option will make the correspondence address the 'same as the registered office address' so that future changes to the registered office address will apply to the correspondence address."
            }
          },
          {
            value: "govuk-verify",
            text: "A different address"
          }
        ]
      }) }}
      {{ govukButton({
        text: "Save and continue"
      }) }}
    </div>
  </div>
{% endblock %}