// global styles for <a> and <p> tags
$govuk-global-styles: true;
$govuk-new-link-styles: true;

// We can't mount GOV.UK Frontend's assets at root as it's done automatically by the extensions framework.
$govuk-assets-path: '/govuk/assets/';

// Import GOV.UK Frontend and any extension styles if extensions have been configured
@import ".tmp/sass/extensions";

// Patterns that aren't in Frontend
@import "patterns/contents-list";
@import "patterns/mainstream-guide";
@import "patterns/pagination";
@import "patterns/related-items";
@import "patterns/task-list";

// Add extra styles here, or re-organise the Sass files in whichever way makes most sense to you
@import "accessible-autocomplete";

//Styles for user bar

ul#navigation {
  font-size: 0.9em;
  margin-top: 15px;
  margin-bottom: 15px;
  text-align: right;
  display: inline-block;
  float: right;
  
  li {
    display: inline;
    font-family: 'nta', Arial;
    font-size: 16px;
    overflow-wrap: break-word;
    a {margin-left: 0.9em;}
  }
}


.autocomplete__menu {
    font-family: 'GDS Transport', arial, sans-serif;
  }

  .govuk-summary-card {
    border: 1px solid #b1b4b6;
  }

  .govuk-summary-card_heading {
    background: #f3f2f1;
  }

  .flex {
    display: flex;
  }

  .flex-center {
    display: flex !important;
    justify-content: center !important;
  }

  .flex-vertical {
    display: flex;
    align-items: center
  }

  .search-the-register-button {
    background: #005ea5;
    height: 40px;
    width: 40px;
  }

  .search-the-register-border {
    border: 8px solid #dee0e2;
  }

  .full-width {
    width: 100%
  }



  .flex-column {
    display: flex;
    flex-direction: column;
  }

  .govuk-summary-list{
    width: auto;
  }

  .border{
    border: 10px solid #dee0e2
  }

  .almost-full-width .govuk-summary-list__key{
    width: 60%
  }


.rejected {
  background: transparent;
  border: 6px solid #d4351c;
  color: #d4351c;
}

/* Changes made tag */
.changes-made {
  float:right;
  position: relative;
  top:1.5em;
}
