{% set title = "Enter the company authentication code" %}

{% extends "layout.html" %}
{% block pageTitle %}
  {{company.company_name}}
  -
  {{serviceName}}
  - GOV.UK
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:history.back()"
}) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
     <form action="/address-lookup/address-lookup-home" method="post">
      <h1 class="govuk-heading-l">What is the director's home address?</h1>
      <div id="changed-name-hint" class="govuk-hint">
        This address will not be shown on the Companies House public register.
      </div>
      {{ govukInput({
        label: {
          text: "UK postcode"
        },
        id: "postcode",
               classes: "govuk-input--width-10",
        name: "postcode"
      }) }}
      {{ govukInput({
        label: {
          text: "Property name or number (optional)"
        },
        hint: {
          text: "For example, 'The Mill', '116' or 'Flat 37a'."
        },
        id: "postcode",
               classes: "govuk-input--width-10",
        name: "postcode"
      }) }}
      {{ govukButton({
        text: "Find address",
        href: "check-your-answers"
      }) }}
      <p class="govuk-body">
        <a href="address-manual-home" class="govuk-link govuk-link--no-visited-state">Enter address manually</a>
      </p>
    </div>
  </div>
{% endblock %}