{% set title = "What is the director's home address?" %}
{% extends "layout.html" %}
{% block pageTitle %}
  {{title}}
  -
  {{serviceName}}
  - GOV.UK
{% endblock %}
{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:history.back()"
}) }}
{% endblock %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <form action="/address-lookup/address-lookup-home" method="post">
        <h1 class="govuk-heading-l">{{title}}</h1>
        {{ govukInput({
          label: {
            text: "UK postcode"
          },
          id: "postcode",
          classes: "govuk-input--width-10",
          name: "postcode"
        }) }}
        {{ govukInput({
          label: {
            text: "Property name or number (optional)"
          },
          hint: {
            text: "For example, 'The Mill', '116' or 'Flat 37a'"
          },
          id: "postcode",
          classes: "govuk-input--width-10",
          name: "postcode"
        }) }}
        {{ govukButton({
          text: "Find address"
        }) }}
        <p class="govuk-body">
        <a href="address-manual-home" class="govuk-link govuk-link--no-visited-state">Enter address manually</a>
        </p>
      </form>
    </div>
  </div>
{% endblock %}