{% set title = "Where does the PSC live?" %}
{% extends "layout.html" %}

{% block pageTitle %}
  {{title}}
  -
  {{serviceName}}
  - GOV.UK
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:history.back()"
}) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <form action="/address-lookup/address-manual-home" method="post">
        <h1 class="govuk-heading-l">{{title}}</h1>
        <p class="govuk-body">Tell us where the PSC lives. Only give a business address if they also live there.</p>

        {{ govukInput({
          label: {
            text: "Property name or number"
          },
          hint: {
            text: "For example, 'The Mill', '116' or 'Flat 37a'"
          },
          id: "propertyName",
          name: "propertyName"
        }) }}
      {{ govukInput({
        label: {
          text: "Address line 1"
        },
        id: "addressOne",
        name: "addressOne"
      }) }}
      {{ govukInput({
        label: {
          text: "Address line 2 (optional)"
        },
        id: "addressTwo",
        name: "addressTwo"
      }) }}
      {{ govukInput({
        label: {
          text: "City or town"
        },
        id: "town",
        name: "town"
      }) }}
      {{ govukInput({
        label: {
          text: "County, state, province or region (optional)"
        },
        id: "county",
        name: "county"
      }) }}
      {{ govukInput({
        label: {
          text: "Country"
        },
        id: "country",
        name: "country"
      }) }}
      {{ govukInput({
        label: {
          text: "Postcode or ZIP"
        },
        id: "postcode",
        name: "postcode"
      }) }}
      <h2 class="govuk-heading-m govuk-!-margin-top-9">What information is shown on the online register</h2>
      <p class="govuk-body">This address will not be publicly available on the Companies House online register, unless it's also used for the company's registered office address or the PSC's correspondence address.</p>
      {{ govukButton({
        text: "Continue",
        href: "address-lookup-postal"
      }) }}

      </form>
    </div>
  </div>
{% endblock %}
