{% set title = "Enter the director’s home address" %}
{% extends "layout.html" %}

{% block pageTitle %}
  {{title}}
  -
  {{serviceName}}
  - GOV.UK
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Go back to ‘Find the director’s home address’",
  href: "javascript:history.back()"
}) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <form action="/address-lookup/address-manual-home" method="post">
      <span class="govuk-caption-l">
         <!-- secure user-->
         {% if data['secure-user'] == true %}

         {{ data['secureFirstName'] }} {{ data['secureMiddleName'] }} {{ data['secureLastName'] }}
                
         {% else  %}
         <!-- standard user-->
         {{data['firstname']}} {{data['middle-name']}} {{data['last-name']}}
 
         {% endif %}</span>
        <h1 class="govuk-heading-l">{{title}}</h1>
        <div id="event-name-hint" class="govuk-hint">
          Tell us where the director lives. Only give a business address if they also live there.
        </div>

      <div class="govuk-form-group">
  <label class="govuk-label" for="propertyName">
    Property name or number
  </label>

  <div id="propertyName-hint" class="govuk-hint">
    For example, &#39;The Mill&#39;, &#39;116&#39; or &#39;Flat 37a&#39;
  </div>

<input class="govuk-input" id="propertyName" name="propertyName" type="text" aria-describedby="propertyName-hint">

</div>

<div class="govuk-form-group">
  <label class="govuk-label" for="addressOne">
    Address line 1
  </label>

<input class="govuk-input" id="addressOne" name="addressOne" type="text">

</div>
        
<div class="govuk-form-group">
  <label class="govuk-label" for="addressTwo">
    Address line 2 (optional)
  </label>

<input class="govuk-input" id="addressTwo" name="addressTwo" type="text">

</div>

<div class="govuk-form-group">
  <label class="govuk-label" for="town">
    City or town
  </label>

<input class="govuk-input" id="town" name="town" type="text">

</div>

<div class="govuk-form-group">
  <label class="govuk-label" for="county">
    County, state, province or region (optional)
  </label>

<input class="govuk-input" id="county" name="county" type="text">

</div>

<div class="govuk-form-group">
          <label class="govuk-label" for="autocomplete-default" >Country</label>
          <p class="govuk-hint">Start typing a country, then choose from the list.</p>
          <div class="autocomplete-wrapper" id="country"></div>

        </div>

        <div class="govuk-form-group">
  <label class="govuk-label" for="postcode">
    Postcode or ZIP
  </label>

<input class="govuk-input govuk-input--width-10" id="postcode" name="postcode" type="text">

</div>


       <!--  {{ govukInput({
          label: {
            text: "Property name or number"
          },
          hint: {
            text: "For example, 'The Mill', '116' or 'Flat 37a'"
          },
          id: "propertyName",
          name: "propertyName"
        }) }}
      {{ govukInput({
        label: {
          text: "Address line 1"
        },
        id: "addressOne",
        name: "addressOne"
      }) }}
      {{ govukInput({
        label: {
          text: "Address line 2 (optional)"
        },
        id: "addressTwo",
        name: "addressTwo"
      }) }}
      {{ govukInput({
        label: {
          text: "City or town"
        },
        id: "town",
        name: "town"
      }) }}
      {{ govukInput({
        label: {
          text: "County, state, province or region (optional)"
        },
        id: "county",
        name: "county"
      }) }}
      {{ govukInput({
        label: {
          text: "Country"
        },
        id: "country",
        name: "country"
      }) }}
      {{ govukInput({
        label: {
          text: "Postcode or ZIP"
        },
        id: "postcode",
        name: "postcode"
      }) }} -->

{{ govukInsetText({
          html: "<h2 class='govuk-heading-m'>What information we'll show on the public online register</h2>
                <p>We will show the country the director lives in on the public Companies House register. We will not show the whole address, unless it's also used for the company's registered office address or the director's correspondence address.</p>"
        }) }}
        
      {{ govukButton({
        text: "Continue",
        href: "confirm-lookup-home"
      }) }}

      </form>
    </div>
  </div>

  <script src="/public/javascripts/accessible-autocomplete.js"></script>
<script src="/public/javascripts/country.js"></script>

{% endblock %}
