{% set title = "Confirm the director's home address" %}
{% extends "layouts/main.html" %}
{% block pageTitle %}
  {{title}}
  -
  {{serviceName}}
  - GOV.UK
{% endblock %}
{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:history.back()"
}) }}
{% endblock %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <form action="/address-lookup/confirm-lookup-postal" method="post">
        <h1 class="govuk-heading-l">{{title}}</h1>
        <ul class="govuk-list">
          <li>Stornoway House</li>
          <li>13 Cleveland Row</li>
          <li>London</li>
          <li>SW1A 1GG </li>
        </ul>
        <h2 class="govuk-heading-m govuk-!-margin-top-9">What information we'll show on the public online register</h2>
        <p class="govuk-body">We will show the country the director lives in on the public Companies House register. We will not show the whole address, unless it's also used for the company's registered office address or the director's correspondence address.</p>
        <details class="govuk-details" data-module="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
            My correspondence address is the same as my home address
            </span>
          </summary>
          <div class="govuk-details__text">
           We will not show your home address on the public register. However, if you use your home address as your correspondence address, we will show this on the public register.<br> <br> If you run your company from home and do not want your home address available to the public, there is a <a href="https://www.gov.uk/government/publications/formation-and-company-secretarial-agents/company-formation-agents-and-secretarial-agents" class="govuk-link" rel="noreferrer noopener" target="_blank">list of agents who can provide registered office services (opens in new tab)</a>. <br><br>A quick online search will show other agents who offer similar services. All providers will charge a fee.
          </div>
        </details>
        {{ govukButton({
          text: "Confirm and continue"
        }) }}

      </form>
    </div>
  </div>
{% endblock %}
