{% set title = "Enter the company authentication code" %}
{% extends "layout.html" %}

{% block pageTitle %}
  {{company.company_name}}
  -
  {{serviceName}}
  - GOV.UK
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:history.back()"
}) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
         <form action="/address-lookup/correspondence-address" method="post">

      <h1 class="govuk-heading-l">What is the director's postal address?</h1>
      <p class="govuk-body">We'll use this address to send Companies House correspondence to the director. You can use a business or home address and it does not have to be in the UK.</p>
      {{ govukInsetText({
        text: "This address will be publicly available on the Companies House online register."
      }) }}
      <details class="govuk-details" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          My postal address is the same as my home address
        </span>
      </summary>
      <div class="govuk-details__text">
        Your home address is not shown on the online register. However, if you use your home address as your postal address, this will be shown on the public register. <br> <br> If you run your company from home and do not want your home address available to the public, there is a <a href="https://www.gov.uk/government/publications/formation-and-company-secretarial-agents/company-formation-agents-and-secretarial-agents" class="govuk-link" rel="noreferrer noopener" target="_blank">list of agents who can provide registered office services (opens in new tab)</a>. <br><br>A quick online search will show other agents who offer similar services. All providers will charge a fee.
      </div>
    </details>

{% set officeAddress %}
<p class="govuk-body">If you select this option, this will make the postal address the 'same as' the registered office address. This means that future changes to the registered office address will also apply to the postal address.</p>
{% endset -%}

{{ govukRadios({
  idPrefix: "correspondence-address",
  name: "correspondence-address",
  fieldset: {
    legend: {
      text: "Postal address"
    }
  },
  items: [
    {
      value: "registered-office-address",
      html: company.registered_office_address.address_line_1 + ', ' + company.registered_office_address.address_line_2 + ', ' + company.registered_office_address.region + ', ' + company.registered_office_address.locality + ', ' + company.registered_office_address.postal_code,
      conditional: {
        html: officeAddress
      }
    },
    {
      value: "different-address",
      text: "A different address"
    }
  ]
}) }}

{{ govukButton({
  text: "Continue"
}) }}
      </form>
    </div>
  </div>
{% endblock %}
