{% set title = "Enter the company authentication code" %}
{% extends "layout.html" %}

{% block pageTitle %}
  {{company.company_name}}
  -
  {{serviceName}}
  - GOV.UK
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:history.back()"
}) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
         <form action="/address-lookup/home-address" method="post">

      <h1 class="govuk-heading-l">What is the director's home address?</h1>
      <p class="govuk-body">Tell us where the director lives. Only give a business address if they also live there.</p>

      <details class="govuk-details" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          I do not want my home address to be publicly available
        </span>
      </summary>
      <div class="govuk-details__text">
        Your home address is not shown on the public online register. However, if you use your home address as your postal address, this will be shown on the public register. <br> <br> If you run your company from home and do not want your home address available to the public, there is a <a href="https://www.gov.uk/government/publications/formation-and-company-secretarial-agents/company-formation-agents-and-secretarial-agents" class="govuk-link" rel="noreferrer noopener" target="_blank">list of agents who can provide registered office services (opens in new tab)</a> <br><br>A quick online search will show other agents who offer similar services. All providers will charge a fee.
      </div>
    </details>
{% set officeAddress %}
<p class="govuk-body">This option will make the correspondence address the 'same as the registered office address' so that future changes to the registered office address will apply to the correspondence address</p>
{% endset -%}

{{ govukRadios({
  idPrefix: "home-address",
  name: "home-address",
  fieldset: {
    legend: {
      text: "Home address"
    }
  },
  items: [
    {
      value: "email",
      text: "1 Queen Way, Canton, Cardiff, United Kingdom CF5 2PT",
      conditional: {
        html: officeAddress
      }
    },
    {
      value: "different-address",
      text: "A different address"
    }
  ]
}) }}

{{ govukButton({
  text: "Continue"
}) }}
      </form>
    </div>
  </div>
{% endblock %}
