{% set title = "Do you want us to link the director's correspondence address to the registered office address?" %}
{% extends "layout.html" %}
{% block pageTitle %}
  {{title}}
  -
  {{serviceName}}
  - GOV.UK
{% endblock %}
{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:history.back()"
}) }}
{% endblock %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-l">{{data['firstname']}} {{data['middle-name']}} {{data['last-name']}}</span>
      <h1 class="govuk-heading-l">
        If the registered office address changes in the future, do you want this to apply to the director's correspondence address too?
      </h1>
      <form action="/address-lookup/link-correspondence-address" method="post" novalidate>
        {{ govukRadios({
          idPrefix: "interview-needs",
          name: "interview-needs",
          items: [
            {
              value: "yes",
              text: "Yes",
              hint: {
                text: "We'll record the director's correspondence address as the 'same as the registered office address'. This means future changes will also apply to the director's correspondence address."
              }
            },
            {
              value: "no",
              text: "No",
              hint: {
                text: "You’ll have to update the correspondence address manually if it changes."
              }
            }
          ]
        }) }}

        <details class="govuk-details" data-module="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              ‘Same as’ address options
            </span>
          </summary>
          <div class="govuk-details__text">
            <p class="govuk-body">You can choose to record the director’s:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>correspondence address as the ‘same as the registered office address’</li>
  <li>home address as the ‘same as the correspondence address’ </li>
</ul>
<p>You can only choose one of these options (or none of them).</p>
<p>We will only show you the second option if you select ‘no’ on this screen, and you use the director’s correspondence address as their home address later in the service.</p>
          </div>
        </details>

        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}
