{% set title = "What is the other registrable person's registered office address?" %}
{% extends "layout.html" %}
{% block pageTitle %}
  What is the corporate body's registered office address?
  -
  {{serviceName}}
  - GOV.UK
{% endblock %}
{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:history.back()"
}) }}
{% endblock %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <form action="/address-lookup/orp-address" method="post">




        <span class="govuk-caption-l">{{data['corporatename']}}</span>

        {# Get the registered office address #}

        {# Radio options to select the rle address #}


        {% if (data['correspondence-address'] === "registered-office-address")%}

      
          {{ govukRadios({
            idPrefix: "rle-address",
            name: "rle-address",
            hint: {
              text: ""
            },
            fieldset: {
              legend: {
                text: title,
                isPageHeading: true,
                classes: "govuk-fieldset__legend--l"
              }
            },
            items: [
              {
                value: "registered-office-address",
                text: "15 Lon Uchaf Lon Uchaf, Caerphilly, Mid Glamorgan, CF83 1BR"
              },
              {
                value: "different-address",
                text: "A different address"
              }
            ]
          }) }}
        {# If not then show the RO, correspondence and a different address options #}
        {% else %}

        <h1 class="govuk-heading-l"> What is the other registrable person's registered office address?</h1>

      
        {{ govukInput({
          label: {
            text: "Property name or number"
          },
          hint: {
            text: "For example, 'The Mill', '116' or 'Flat 37a'"
          },
          id: "propertyName",
          name: "propertyName"
        }) }}
        {{ govukInput({
          label: {
            text: "Address line 1"
          },
          id: "addressOne",
          name: "addressOne"
        }) }}
        {{ govukInput({
          label: {
            text: "Address line 2 (optional)"
          },
          id: "addressTwo",
          name: "addressTwo"
        }) }}
        {{ govukInput({
          label: {
            text: "City or town"
          },
          id: "town",
          name: "town"
        }) }}
        {{ govukInput({
          label: {
            text: "County, state, province or region (optional)"
          },
          id: "county",
          name: "county"
        }) }}
        {{ govukInput({
          label: {
            text: "Country"
          },
          id: "country",
          name: "country"
        }) }}
        {{ govukInput({
          label: {
            text: "Postcode or ZIP"
          },
          id: "postcode",
          name: "postcode"
        }) }}

        {% endif %}
        {# What information will be on the register #}
        {{ govukInsetText({
          html: "<h2 class='govuk-heading-m'>What information we'll show on the public register</h2>
        <p class='govuk-body'>We will show this address on the public Companies House register.</p>"
        }) }}
        
        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}
