{% set title = "What is the name of the other registrable person?" %}
{% extends "layout.html" %}
{% block pageTitle %}
  {{title}}
  -
  {{serviceName}}
  - GOV.UK
{% endblock %}
{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:history.back()"
}) }}
{% endblock %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <form action="/add/orp/name" method="post">

          <!-- Corporate behind an RLE -->

          {% if (data['type-control'] === "orp") %}

          <h1 class="govuk-heading-l">What is the name of the other registrable person in control of the company?</h1>
          {% else %}
  
          <!-- corporate body -->
          <h1 class="govuk-heading-l">What is the name of the other registrable person?</h1>
        
          {% endif %}
  


        
        {{ govukInput({
          label: {
            text: "Other registrable person name"
          },
          classes: "govuk-input--width-20",
          id: "corporate-body-name",
          value: data['corporatename'],
          name: "corporatename"
        }) }}
        
        {{ govukInsetText({
          html: "<h2 class='govuk-heading-m'>What information we'll show on the public register</h2>
                <p>We will show this name on the public Companies House register.</p>"
        }) }}


        {{ govukButton({
          text: "Continue"
        }) }}

      </form>
    </div>
  </div>
  <script src="/public/javascripts/accessible-autocomplete.js"></script>
  <script src="/public/javascripts/titles-appoint.js"></script>
{% endblock %}
