{% set title = "Has the PSC ever applied to protect their details at Companies House?" %}
{% extends "layout.html" %}
{% block pageTitle %}
  {{title}}
  -
  {{serviceName}}
  - GOV.UK
{% endblock %}
{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:history.back()"
}) }}
{% endblock %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="/add/243" method="post">
        {% set emailHtml %}
          <p class="govuk-body">We’ll need to check that the PSC has applied to protect their details, so your submission will take longer to process.</p>
          <p class="govuk-body">It could be rejected if you select ‘yes’ and the PSC has not applied to protect their details.</p>
        {% endset -%}
        {{ govukRadios({
          idPrefix: "243Appoint",
          name: "243Appoint",
          fieldset: {
            legend: {
              text: "Has the PSC ever applied to protect their details at Companies House?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: [
            {
              value: "Yes",
              text: "Yes",
              checked: checked("243Appoint", "Yes"),
              hint: {
                html:'<p class="govuk-hint">We’ll need to check that the PSC has applied to protect their details, so your submission will take longer to process.</p>
                <p class="govuk-hint">It could be rejected if you select ‘yes’ and the PSC has not applied to protect their details.</p>'
              }
            },
            {
              value: "No",
              text: "No",
              checked: checked("243Appoint", "No"),
              conditional: {
                html: phoneHtml
              }
            }
          ]
        }) }}
        <details class="govuk-details" data-module="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              What applying to protect PSC details means
            </span>
          </summary>
          <div class="govuk-details__text">
            <p class="govuk-body">Some PSCs can apply to protect their personal details if they meet certain criteria.</p>
            <p class="govuk-body">You should only select ‘yes’ if the PSC has:</p>
            <ul class="govuk-list govuk-list--bullet">
              <li>provided evidence that they are eligible to have their details protected </li>
              <li>paid the £100 fee</li>
            </ul>
          </div>
        </details>
        {{ govukButton({
          text: "Continue",
          classes: "govuk-!-margin-top-5"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}
