{% set title = "Does the PSC have their personal information protected at Companies House?" %}
{% extends "layout.html" %}
{% block pageTitle %}
  {{title}}
  -
  {{serviceName}}
  - GOV.UK
{% endblock %}
{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:history.back()"
}) }}
{% include "includes/user-bar.html" %}
{% endblock %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="/add/243" method="post">

        <span class="govuk-caption-l">{{data['firstname']}} {{data['middle-name']}} {{data['last-name']}}</span>
        
        {{ govukRadios({
          idPrefix: "243Appoint",
          name: "243Appoint",
          fieldset: {
            legend: {
              text: "Does the director have their personal information protected at Companies House?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
           hint: {
                  text: "This includes if they are waiting for the results of an application to protect their personal information."
          },
          items: [

            {
              value: "No",
              text: "No",
              checked: checked("243Appoint", "No"),
              conditional: {
                html: phoneHtml
              }
            },
            {
              value: "Yes",
              text: "Yes",
              checked: checked("243Appoint", "Yes"),
              hint: {
                html:'<p class="govuk-hint">We’ll need to check that the director has applied to protect their details, so your submission will take longer to process.</p>
                <p class="govuk-hint">It could be rejected if you select ‘yes’ and the director has not applied to protect their details.</p>'
              }
            }
          ]
        }) }}
        <details class="govuk-details" data-module="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              What having personal information protected means
            </span>
          </summary>
          <div class="govuk-details__text">
            <p class="govuk-body">Some directors can apply to protect personal information from being shown on the Companies House public register if they meet certain criteria.</p>
            <p class="govuk-body">You should only select ‘yes’ if the director has:</p>
            <ul class="govuk-list govuk-list--bullet">
              <li>provided evidence that they are eligible to have their details protected </li>
              <li>paid the £100 fee</li>
            </ul>
          </div>
        </details>
        {{ govukButton({
          text: "Continue",
          classes: "govuk-!-margin-top-5"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}
