{% set title = "Exemption 243 question" %}
{% extends "layout.html" %}
{% block pageTitle %}
  {{title}}
  -
  {{serviceName}}
  - GOV.UK
{% endblock %}
{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:history.back()"
}) }}
{% endblock %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="/add/date-of-appointment" method="post">
        {{ govukDateInput({
          id: "exemption",
          namePrefix: "exemption",
          fieldset: {
            legend: {
              text: title,
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          hint: {
            text: "For example, 27 4 2021"
          }
        }) }}
        <h2 class="govuk-heading-m govuk-!-margin-top-9">What information is shown on the online register</h2>
        <p class="govuk-body">The date the director was appointed will be publicly available on the Companies House online register.</p>
        {{ govukButton({
          text: "Continue",
          classes: "govuk-!-margin-top-5"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}
