{% set title = "Enter the company authentication code" %}
{% extends "layout.html" %}
{% block pageTitle %}
  {{company.company_name}}
  -
  {{serviceName}}
  - GOV.UK
{% endblock %}
{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:history.back()"
}) }}
{% endblock %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
            <span class="govuk-caption-xl">{{company.company_name}}</span>
      <h1 class="govuk-heading-l">What are the details of the director you want to appoint?</h1>
      {{ govukInsetText({
        text: "The director's details will be shown on the Companies House public register."
      }) }}
      <div class="govuk-form-group govuk-input--width-30">
        <label for="autocomplete-default" class="govuk-label">Title (optional)</label>
          <p class="govuk-hint">For example, Mr, Mrs, Miss, Ms or Mx.</p>
        <div id="title" name="title" class="autocomplete-wrapper govuk-input--width-5"></div>
      </div>
      <script src="/public/javascripts/accessible-autocomplete.js"></script>
      <script src="/public/javascripts/titles.js"></script>
      {{ govukInput({
        label: {
          text: "First name"
        },
        hint: {
          text: "Enter the director's full first name."
        },
        classes: "govuk-input--width-20",
        id: "first-name",
        name: "first-name"
      }) }}
      {{ govukInput({
        label: {
          text: "Middle name or names (optional)"
        },
        hint: {
          text: "Enter the director's full middle name or names."
        },
        classes: "govuk-input--width-20",
        id: "middle-name",
        name: "middle-name"
      }) }}
      {{ govukInput({
        label: {
          text: "Last name"
        },
        classes: "govuk-input--width-20",
        id: "last-name",
        name: "last-name"
      }) }}
      {{ govukRadios({
        classes: "govuk-radios--inline",
        idPrefix: "previous-name",
        name: "previous-name",
        fieldset: {
          legend: {
            text: "Has the director used a different name for business purposes in the last 20 years?"
          }
        },
        items: [
          {
            value: "yes",
            text: "Yes"
          },
          {
            value: "no",
            text: "No"
          }
        ]
      }) }}
            <div class="govuk-form-group govuk-input--width-20">
        <label for="autocomplete-default" class="govuk-label">Nationality</label>
        <div id="nationality" class="autocomplete-wrapper"></div>
      </div>
      <p class="govuk-body">
        <a href="#" class="govuk-link govuk-link--no-visited-state">Add another nationality</a>
      </p>
      <script src="/public/javascripts/accessible-autocomplete.js"></script>
      <script src="/public/javascripts/nationality.js"></script>

      {{ govukDateInput({
        id: "dob",
        namePrefix: "dob",
        fieldset: {
          legend: {
            text: "Date of birth"
          }
        },
         hint: {
          text: "For example, 27 3 1995.\nOnly the director's month and year of birth will be shown on the public register." | striptags(true) | escape | nl2br
        }
      }) }}
     <div class="govuk-!-padding-bottom-6">
        <label for="autocomplete-default" class="govuk-label">Job title</label>
          <p class="govuk-hint">For example, carpenter.</p>
        <div id="occupation" name="occupation" class="autocomplete-wrapper govuk-input--width-20"></div>
      </div>
      <script src="/public/javascripts/accessible-autocomplete.js"></script>
      <script src="/public/javascripts/occupation.js"></script>
      <p class="govuk-body">
        {{ govukButton({
          text: "Continue",
          href: "address-lookup"
        }) }}
      </p>
    </div>
  </div>
{% endblock %}
