{% set title = "When was the director appointed?" %}
{% extends "layout.html" %}
{% block pageTitle %}
  {{title}}
  -
  {{serviceName}}
  - GOV.UK
{% endblock %}
{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:history.back()"
}) }}
{% endblock %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="/add/date-of-appointment" method="post">

        <span class="govuk-caption-l">{{data['firstname']}} {{data['middle-name']}} {{data['last-name']}}</span>
        
        {{ govukDateInput({
          id: "date-appointed",
          namePrefix: "date-appointed",
          fieldset: {
            legend: {
              text: title,
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          hint: {
            text: "For example, 27 4 2021"
          },
          items: [
            {
              name: "day",
              classes: "govuk-input--width-2",
              value: data['date-appointed-day']
            },
            {
              name: "month",
              classes: "govuk-input--width-2",
              value: data['date-appointed-month']
            },
            {
              name: "year",
              classes: "govuk-input--width-4",
              value: data['date-appointed-year']
            }
         ]
        }) }}

        {{ govukInsetText({
          html: "<h2 class='govuk-heading-m'>What information we'll show on the public online register</h2>
                <p>We will show the date the director was appointed on the public Companies House register.</p>"
        }) }}

        {{ govukButton({
          text: "Continue",
          classes: "govuk-!-margin-top-5"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}
