{% set title = "What is the director's date of birth?" %}
{% extends "layout.html" %}
{% block pageTitle %}
  {{title}}
  -
  {{serviceName}}
  - GOV.UK
{% endblock %}
{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:history.back()"
}) }}
{% endblock %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <form action="/add/date-of-birth" method="post">

        <span class="govuk-caption-l">{{data['firstname']}} {{data['middle-name']}} {{data['last-name']}}</span>

        <h1 class="govuk-heading-xl">Date details</h1>

        {{ govukDateInput({
          id: "dob",
          namePrefix: "dob",
          fieldset: {
            legend: {
              text: title,
              isPageHeading: true,
              classes: "govuk-fieldset__legend--m"
            }
          },
          hint: {
            text: "For example, 27 3 1995"
          }
        }) }}
        
<br>

        {{ govukDateInput({
          id: "date-appointed",
          namePrefix: "date-appointed",
          fieldset: {
            legend: {
              text: "When was the director appointed?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--m"
            }
          },
          hint: {
            text: "For example, 24 5 2023"
          },
          items: [
            {
              name: "day",
              classes: "govuk-input--width-2",
              value: data['date-appointed-day']
            },
            {
              name: "month",
              classes: "govuk-input--width-2",
              value: data['date-appointed-month']
            },
            {
              name: "year",
              classes: "govuk-input--width-4",
              value: data['date-appointed-year']
            }
         ]
        }) }}

        {{ govukInsetText({
          html: "<h2 class='govuk-heading-m'>What information we'll show on the public online register</h2>
                <p>We will show the director's month and year of birth and the date the director was appointed on the public Companies House register.</p>"
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}
