{% set title = "Date details" %}
{% extends "layout.html" %}
{% block pageTitle %}
  {{title}}
  -
  {{serviceName}}
  - GOV.UK
{% endblock %}
{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:history.back()"
}) }}
{% endblock %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
     
      
      <form action="/add/date-of-appointment" method="post">

        <!-- corporate rle  1 level -->    
        {% if ((data['type-of-psc'] === "corporate-body") and (data['type-control'] === ""))  %}
        <span class="govuk-caption-l">{{data['corporatename']}}</span>
        <h1 class="govuk-heading-l">Date details</h1>
        
        {{ govukDateInput({
          id: "date-appointed",
          namePrefix: "date-appointed",
          fieldset: {
            legend: {
              text: "When did it become a PSC?",
              classes: "govuk-fieldset__legend--m"
            }
          },
          hint: {
            text: "For example, 27 3 2022"
          },
          items: [
            {
              name: "day",
              classes: "govuk-input--width-2",
              value: data['date-appointed-day']
            },
            {
              name: "month",
              classes: "govuk-input--width-2",
              value: data['date-appointed-month']
            },
            {
              name: "year",
              classes: "govuk-input--width-4",
              value: data['date-appointed-year']
            }
         ]
        }) }}
         <!-- corporate rle  2 levels -->    
        {% elseif ((data['type-control'] === "corporate")) %}
        <span class="govuk-caption-l">{{data['corporatename']}}</span>
        <h1 class="govuk-heading-l">Date details</h1>
        
        
        {{ govukDateInput({
          id: "date-appointed",
          namePrefix: "date-appointed",
          fieldset: {
            legend: {
              text: "When did it become a PSC?",
              classes: "govuk-fieldset__legend--m"
            }
          },
          hint: {
            text: "For example, 27 3 2022"
          },
          items: [
            {
              name: "day",
              classes: "govuk-input--width-2",
              value: data['date-appointed-day']
            },
            {
              name: "month",
              classes: "govuk-input--width-2",
              value: data['date-appointed-month']
            },
            {
              name: "year",
              classes: "govuk-input--width-4",
              value: data['date-appointed-year']
            }
         ]
        }) }}
        <!-- corporate orp 1 levels -->    
        {% elseif ((data['type-of-psc'] === "orp") or (data['type-control'] === "orp")) %}
        <span class="govuk-caption-l">{{data['corporatename']}}</span>
        <h1 class="govuk-heading-l">Date details</h1>
        
        
        {{ govukDateInput({
          id: "date-appointed",
          namePrefix: "date-appointed",
          fieldset: {
            legend: {
              text: "When did it become a PSC?",
              classes: "govuk-fieldset__legend--m"
            }
          },
          hint: {
            text: "For example, 27 3 2022"
          },
          items: [
            {
              name: "day",
              classes: "govuk-input--width-2",
              value: data['date-appointed-day']
            },
            {
              name: "month",
              classes: "govuk-input--width-2",
              value: data['date-appointed-month']
            },
            {
              name: "year",
              classes: "govuk-input--width-4",
              value: data['date-appointed-year']
            }
         ]
        }) }}

        <!-- Zenith is controlled by a Corporate body, which is controlled by a person -->
        {% elseif (data['type-of-psc'] === "corporate-body") and (data['type-control'] === "person") %}

        <span class="govuk-caption-l">{{data['firstname']}} {{data['middle-name']}} {{data['last-name']}}</span>
        <h1 class="govuk-heading-l">Date details</h1>
        {{ govukDateInput({
          id: "date-appointed",
          namePrefix: "date-appointed",
          fieldset: {
            legend: {
              text: "When did they become a PSC?",
              classes: "govuk-fieldset__legend--m"
            }
          },
          hint: {
            text: "For example, 27 3 2022"
          },
          items: [
            {
              name: "day",
              classes: "govuk-input--width-2",
              value: data['date-appointed-day']
            },
            {
              name: "month",
              classes: "govuk-input--width-2",
              value: data['date-appointed-month']
            },
            {
              name: "year",
              classes: "govuk-input--width-4",
              value: data['date-appointed-year']
            }
         ]
        }) }}

        {% elseif ((data['type-control'] === "corporate") or (data['type-of-psc'] === "corporate-body")) and (data['registered-in-uk'] === "no") %}

        <span class="govuk-caption-l">{{data['corporatename']}}</span>
        <h1 class="govuk-heading-l">Date details</h1>
        

        {{ govukDateInput({
          id: "date-appointed",
          namePrefix: "date-appointed",
          fieldset: {
            legend: {
              text: "When did it become a PSC?",
              classes: "govuk-fieldset__legend--m"
            }
          },
          hint: {
            text: "For example, 27 3 2022"
          },
          items: [
            {
              name: "day",
              classes: "govuk-input--width-2",
              value: data['date-appointed-day']
            },
            {
              name: "month",
              classes: "govuk-input--width-2",
              value: data['date-appointed-month']
            },
            {
              name: "year",
              classes: "govuk-input--width-4",
              value: data['date-appointed-year']
            }
         ]
        }) }}

        
        
        {% else %}
        <span class="govuk-caption-l">{{data['firstname']}} {{data['middle-name']}} {{data['last-name']}}</span>
        <h1 class="govuk-heading-l">Date details</h1>
        {{ govukDateInput({
          id: "date-appointed",
          namePrefix: "date-appointed",
          fieldset: {
            legend: {
              text: "When did they become a PSC?",
              classes: "govuk-fieldset__legend--m"
            }
          },
          hint: {
            text: "For example, 27 3 2022"
          },
          items: [
            {
              name: "day",
              classes: "govuk-input--width-2",
              value: data['date-appointed-day']
            },
            {
              name: "month",
              classes: "govuk-input--width-2",
              value: data['date-appointed-month']
            },
            {
              name: "year",
              classes: "govuk-input--width-4",
              value: data['date-appointed-year']
            }
         ]
        }) }}

        {% endif %}




       

        {% set dateRegisterHtml %}
        {{ govukDateInput({
          id: "date-registered",
          namePrefix: "date-registered",
          fieldset: {
            legend: {
              text: "Date the company's PSC register was updated"
            }
          },
          hint: {
            text: "For example, 28 3 2022"
          },
          items: [
            {
              name: "day",
              classes: "govuk-input--width-2",
              value: data['date-registered-day']
            },
            {
              name: "month",
              classes: "govuk-input--width-2",
              value: data['date-registered-month']
            },
            {
              name: "year",
              classes: "govuk-input--width-4",
              value: data['date-registered-year']
            }
          ]
        }) }}
        {% endset -%}

        {{ govukRadios({
          name: "date-entered-own-register",
          fieldset: {
            legend: {
              text: "Was the company's PSC register updated with this information on the same date?",
              classes: "govuk-fieldset__legend--m"
            }
          },
          hint: {
            text: "Companies are required to keep a PSC register. It must include the details of all people or companies that have significant control over the company."
          },
          items: [
            {
              value: "yes",
              text: "Yes, the same date"
            },
            {
              value: "no",
              text: "No, a different date",
              conditional: {
                html: dateRegisterHtml
              }
            }
          ]
        }) }}

        {{ govukInsetText({
          html: "<h2 class='govuk-heading-m'> What information we'll show on the public register</h2>
        <p class='govuk-body'>We will show the date they became a PSC on the public Companies House register.</p>"
        }) }}
        
        {{ govukButton({
          text: "Continue",
          classes: "govuk-!-margin-top-5"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}
