{% set title = "Date details" %}
{% extends "layout.html" %}
{% block pageTitle %}
  {{title}}
  -
  {{serviceName}}
  - GOV.UK
{% endblock %}
{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:history.back()"
}) }}
{% endblock %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-l">{{data['firstname']}} {{data['middle-name']}} {{data['last-name']}}</span>
      <h1 class="govuk-heading-l">Date details</h1>
      <form action="/add/date-of-appointment" method="post">



        
        {{ govukDateInput({
          id: "date-appointed",
          namePrefix: "date-appointed",
          fieldset: {
            legend: {
              text: "What date did they become a PSC?",
              classes: "govuk-fieldset__legend--m"
            }
          },
          hint: {
            text: "For example, 27 4 2021. This is also known as the notification date."
          },
          items: [
            {
              name: "day",
              classes: "govuk-input--width-2",
              value: data['date-appointed-day']
            },
            {
              name: "month",
              classes: "govuk-input--width-2",
              value: data['date-appointed-month']
            },
            {
              name: "year",
              classes: "govuk-input--width-4",
              value: data['date-appointed-year']
            }
         ]
        }) }}


        {% set dateRegisterHtml %}
        {{ govukDateInput({
          id: "date-registered",
          namePrefix: "date-registered",
          fieldset: {
            legend: {
              text: "Date information entered into the company's PSC register"
            }
          },
          hint: {
            text: "For example, 27 9 2022"
          },
          items: [
            {
              name: "day",
              classes: "govuk-input--width-2",
              value: data['date-registered-day']
            },
            {
              name: "month",
              classes: "govuk-input--width-2",
              value: data['date-registered-month']
            },
            {
              name: "year",
              classes: "govuk-input--width-4",
              value: data['date-registered-year']
            }
          ]
        }) }}
        {% endset -%}

        {{ govukRadios({
          name: "date-entered-own-register",
          fieldset: {
            legend: {
              text: "Was the company's PSC register updated with this information on the same date?",
              classes: "govuk-fieldset__legend--m"
            }
          },
          items: [
            {
              value: "yes",
              text: "Yes"
            },
            {
              value: "no",
              text: "No",
              conditional: {
                html: dateRegisterHtml
              }
            }
          ]
        }) }}

{{ govukDetails({
  summaryText: "What the PSC register is",
  text: "Companies are required to keep a PSC register. It must hold the details of all individuals or companies that have significant control over the company."
}) }}

        <h2 class="govuk-heading-m govuk-!-margin-top-9">What information is shown on the online register</h2>
        <p class="govuk-body">The date they became a PSC will be publicly available on the Companies House online register.</p>
        {{ govukButton({
          text: "Continue",
          classes: "govuk-!-margin-top-5"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}
