{% extends "layout.html" %}

{% block pageTitle %}
  Director's name - Directors project - GOV.UK{% endblock %}
  {% set serviceName %}
    Director's project
  {% endset%}
{% block beforeContent %}
  <a class="govuk-back-link" href="directors-home-address">Back</a>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="directors-date-of-appointment" method="post" novalidate>

    {{ govukInput({
      label: {
        text: "What is the director's country of residence?",
        classes: "govuk-label--l",
        isPageHeading: true
      },
        hint: {
          text: "For example, Wales"
        },
        id: "country-of-residence",
        name: "country-of-residence",
        autocomplete: "country",
        spellcheck: false
    }) }}

        {{ govukButton({
          text: "Continue"
          }) }}
      </form>
    </div>
  </div>
{% endblock %}