{% extends "layout.html" %}

{% block pageTitle %}
  Director's name - Directors project - GOV.UK{% endblock %}
  {% set serviceName %}
    Director's project
  {% endset%}
{% block beforeContent %}
  <a class="govuk-back-link" href="directors-date-of-appointment">Back</a>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="summary-page" method="post" novalidate>

{{ govukCheckboxes({
  idPrefix: "waste",
  name: "waste",
  fieldset: {
    legend: {
      text: "A statement of consent to act is required in place of a signature",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--l"
    }
  },
  hint: {
    text: "The company confirms that the person named has consented to act as a director"
  },
  items: [
    {
      value: "confirm",
      text: "I confirm that the person named has consented to act as a director"
    }
  ]
}) }}

        {{ govukButton({
          text: "Continue"
          }) }}
      </form>
    </div>
  </div>
{% endblock %}