{% set title = "What is the director's occupation? (Optional)" %}
{% extends "layout.html" %}
{% block pageTitle %}
  {{title}}
  -
  {{serviceName}}
  - GOV.UK
{% endblock %}
{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:history.back()"
}) }}
{% include "includes/user-bar.html" %}
{% endblock %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <form action="/add/job-title" method="post">
        <span class="govuk-caption-l">{{data['firstname']}} {{data['middle-name']}} {{data['last-name']}}</span>

        <div class="govuk-!-padding-bottom-6">
          <h1 class="govuk-label-wrapper"><label for="autocomplete-default" class="govuk-label govuk-label--l">{{title}}</label></h1>
          <p class="govuk-hint">For example, carpenter. <br>Start typing an occupation, then choose from the list. If your occupation is not shown, you can enter it directly into the box.</p>
          <div id="occupation" name="occupation" class="autocomplete-wrapper govuk-input--width-20"></div>
        </div>

        {{ govukInsetText({
          html: "<h2 class='govuk-heading-m'>What information we'll show on the public register</h2>
                <p>We will show the director's occupation on the public Companies House register.</p>"
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
    </div>
  </div>
  <script src="/public/javascripts/accessible-autocomplete.js"></script>
  <script src="/public/javascripts/occupation-appoint.js"></script>
{% endblock %}
