{% set title = "Enter the company authentication code" %}
{% extends "layout.html" %}
{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:history.back()"
}) }}
{% endblock %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-l">What do you want to do next?</h1>
          <a class="govuk-link" href="check-your-answers">Check your answers and submit changes</a><br>
          <a class="govuk-link" href="../directors">Update more officer information for this company</a><br>
          <a class="govuk-link" href="company-lookup">Update officer information for a different company</a><br>
          <a class="govuk-link" href="../confirmation-statement-task-list">Continue submitting your confirmation statement</a><br>
    </div>
  </div>
{% endblock %}
