{% extends "layout.html" %}
{% block pageTitle %}
  {{title}}
  -
  {{serviceName}}
  - GOV.UK
{% endblock %}
{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:history.back()"
}) }}
{% endblock %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <form action="/add/percentage-of-voting-rights" method="post">
        
        <!-- Headings for Corporate bodies and ORPs -->
      <!-- Corporate bodies  -->
      {% if ((data['type-of-psc'] === "corporate-body") and (data['type-control'] === "")) or ((data['type-of-psc'] === "corporate-body") and (data['type-control'] === "corporate")) %}

        <span class="govuk-caption-l">ZENITH PRINT (UK) LIMITED</span>
        <h1 class="govuk-heading-l">What percentage of voting rights does {{data['corporatename']}} own for this company?
          <p class="govuk-hint">This includes voting rights held directly or indirectly.</p>
        
       <!-- ORPs  -->
       {% elseif (data['type-of-psc'] === "orp" ) or (data['type-control'] === "orp") %}
       <span class="govuk-caption-l">ZENITH PRINT (UK) LIMITED</span>
       <h1 class="govuk-heading-l">What percentage of voting rights does {{data['orpName']}} own for this company?
      <p class="govuk-hint">This includes voting rights held directly or indirectly.</p>
       
        <!-- Adding a person, or scenario where Zenith is controlled by a Corporate body, which is controlled by a person -->
     
      {% elseif (data['type-of-psc'] === "person") or ((data['type-of-psc'] === "corporate-body") and (data['type-control'] === "person")) %}
        <span class="govuk-caption-l">{{data['firstname']}} {{data['middle-name']}} {{data['last-name']}}</span>
        <h1 class="govuk-heading-l">What percentage of voting rights does the PSC own?
        </h1>
        <p class="govuk-hint">This includes voting rights held directly or indirectly.</p>

        {% endif %}

        
         {{ govukRadios({
          name: "voting-rights",
          fieldset: {
            legend: {
              isPageHeading: false,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: [
            {
            value: "75-or-more",
            text: "75% or more of voting rights"
            },
            {
              value: "more-than-50",
              text: "More than 50%, but less than 75% of voting rights"
            },
            {
              value: "more-than-25",
              text: "More than 25%, but not more than 50% of voting rights"
            },
            {
              value: "none",
              text: "None of these"
            }
          ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>
    </div>
  </div>
{% endblock %}
