{% set title = "What do you want to do?" %}
{% extends "layout.html" %}
{% block pageTitle %}
  {{title}}
  -
  {{serviceName}}
  - GOV.UK
{% endblock %}
{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:history.back()"
}) }}
{% endblock %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <form action="/add/psc-options" method="post">

         {{ govukRadios({
          name: "psc-options",
          fieldset: {
            legend: {
              text: title,
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          hint: {
            text: ""
          },
          items: [
          {
            value: "add-psc",
            html: "Add a new PSC",
            hint: {
              text: "You'll need all the required details about the PSC. If you do not have all their details, add a statement instead."
            }
          },
          {
            value: "not-identified-yet",
            html: "Add a statement to tell us the company believes it has a PSC but has not yet identified them"
          },
          {
            value: "gathering-psc-details",
            html: "Add a statement to tell us the company believes it has a PSC but does not yet have the details"
          },
          {
            value: "notice-issued",
            html: "Tell us the company has issued a notice"
          }
          ]
        }) }}

        <div class="govuk-button-group">

        {{ govukButton({
          text: "Continue"
        }) }}

        <!-- The [Cancel updates] link has a query string attached, this being to set the vairable gChangesMade to FALSE -->
        <a href="../directors?gChangesMade=false" class="govuk-link govuk-link--no-visited-state">Cancel</a>


        </div>

      </form>
    </div>
  </div>
{% endblock %}


{# Might need later:
 hint: {
        text: "You’ll need all the required details about the PSC."
      } #}