{% set title = "Why does the company believe that it has a PSC but doesn't yet have the details?" %}
{% extends "layout.html" %}
{% block pageTitle %}
  {{title}}
  -
  {{serviceName}}
  - GOV.UK
{% endblock %}
{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:history.back()"
}) }}
{% endblock %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <form action="/add/psc-options-2-3" method="post">

         {{ govukRadios({
          name: "psc-options-2-3",
          fieldset: {
            legend: {
              text: title,
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          hint: {
            text: "You will need to submit a statement for each PSC"
          },
          items: [
            {
              value: "not-identified-yet",
              text: "the company believes it has a PSC but has not yet identified them"
              },
            {
              value: "gathering-psc-details",
              text: "the company has identified a PSC but the details have not yet been confirmed"
            }
          ]
        }) }}

        <div class="govuk-button-group">

        {{ govukButton({
          text: "Continue"
        }) }}

        <!-- The [Cancel updates] link has a query string attached, this being to set the vairable gChangesMade to FALSE -->
        <a href="../directors?gChangesMade=false" class="govuk-link govuk-link--no-visited-state">Cancel</a>


        </div>

      </form>
    </div>
  </div>
{% endblock %}
