{% extends "layout.html" %}
{% block pageTitle %}
  {{title}}
  -
  {{serviceName}}
  - GOV.UK
{% endblock %}
{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:history.back()"
}) }}
{% endblock %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <form action="/add/psc-check-statement" method="post">

        <h1 class="govuk-heading-l">PSC statement</h1>
        <p class="govuk-hint"> This statement will be added to the company record on the Companies House register.<p>

        <!-- display the corresponding statement to the user -->

        <div class="govuk-psc-statement govuk-!-padding-top-4 govuk-!-padding-bottom-1 govuk-!-padding-right-3 govuk-!-padding-left-3  govuk-!-margin-bottom-7 govuk-!-margin-top-6">
          <p class="govuk-body"> The company has identified a registrable person in relation to the company but all the required particulars of that person have not been confirmed.</p>
        </div>

        <div class="govuk-button-group">

          {{ govukButton({
            text: "Continue"
          }) }}

          <!-- The [Cancel updates] link has a query string attached, this being to set the vairable gChangesMade to FALSE -->
          <a href="../directors?gChangesMade=false" class="govuk-link govuk-link--no-visited-state">Cancel</a>


        </div>

      </form>
    </div>
  </div>
{% endblock %}
