{% extends "layout.html" %}
{% block pageTitle %}
  {{title}}
  -
  {{serviceName}}
  - GOV.UK
{% endblock %}
{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:history.back()"
}) }}
{% endblock %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <form action="/add/psc-check-statement" method="post">

        <h1 class="govuk-heading-l">PSC statement</h1>
        <p class="govuk-hint"> The following statement will be added to the company record on the Companies House register:<p>

        <!-- display the corresponding statement to the user -->

        <div class="govuk-psc-statement govuk-!-padding-top-4 govuk-!-padding-bottom-1 govuk-!-padding-right-3 govuk-!-padding-left-3  govuk-!-margin-bottom-7 govuk-!-margin-top-6">
           
          {% if (data['psc-options'] === "not-identified-yet") %}
          <p class="govuk-body"> 
            The company knows or has reasonable cause to believe that there is a registrable person in relation to the company, but it has not identified the registrable person. 
          </p>
          {% elif (data['psc-options'] === "gathering-psc-details") %}
          <p class="govuk-body">
            The company has identified a registrable person in relation to the company but all the required particulars of that person have not been confirmed.
          </p>
          {% elif (data['psc-options'] === "statement-5") %}
          <p class="govuk-body">
            The company has given a notice under section 790D of the Act which has not been complied with.
          </p>
          {% elif (data['psc-options'] === "statement-6") %}
          <p class="govuk-body">
            The registrable person or registrable relevant legal entity shown below has failed
            to comply with a notice given by the company under section 790E of the
            Companies Act 2006.
          </p>
          {% elif (data['psc-options'] === "statement-7") %}
          <p class="govuk-body">
            The company has issued a restrictions notice under paragraph 1 of Schedule 1B
            to the Companies Act 2006.
          </p>
          {% endif %}
        </div>

        <div class="govuk-button-group">

        {{ govukButton({
          text: "Continue"
        }) }}

          <!-- The [Cancel updates] link has a query string attached, this being to set the vairable gChangesMade to FALSE -->
          <!-- <a href="../directors?gChangesMade=false" class="govuk-link govuk-link--no-visited-state">Cancel</a>-->

        <p class="govuk-body"> 
          <a href="../directors?gChangesMade=false" class="govuk-link govuk-link--no-visited-state">Cancel</a>
        </p>

      </div>

      </form>
    </div>
  </div>
{% endblock %}
