{% extends "layout.html" %}
{% block pageTitle %}
  {{title}}
  -
  {{serviceName}}
  - GOV.UK
{% endblock %}
{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:history.back()"
}) }}
{% endblock %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <form action="/add/right-to-appoint" method="post">

        <!-- Heading for Corporate bodies and ORPs -->
        {% if ((data['type-control'] === "corporate") or (data['type-of-psc'] === "corporate-body") or (data['type-control'] === "orp") or (data['type-of-psc'] === "orp" )) %}

        <h1 class="govuk-heading-l">Does {{data['corporatename']}} have the right to be involved in appointing or removing the majority of directors?</h1>
        
        {% elseif ((data['type-of-psc'] === "person")) %}

        <span class="govuk-caption-l">{{data['firstname']}} {{data['middle-name']}} {{data['last-name']}}</span>

        <h1 class="govuk-heading-l"> Does the PSC have the right to be involved in appointing or removing the majority of directors?</h1>
       
        {% endif %}
        

        {{ govukRadios({
          name: "right-to-appoint",
          fieldset: {
            legend: {
              isPageHeading: false,
              classes: "govuk-fieldset__legend--l"
            }
          },
          hint: {
            text: "This means the right to be involved in making the decision to appoint or remove company directors, directly or indirectly, either with others or alone."
          },
          items: [
            {
              value: "yes",
              text: "Yes"
            },
            {
              value: "no",
              text: "No"
            }
          ]
        }) }}


        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}
