{% extends "layout.html" %}
{% block pageTitle %}
  Start page -
  {{serviceName}}
  - GOV.UK
{% endblock %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <h1 class="govuk-heading-xl">Appoint a new director</h1>
        {% from "govuk/components/inset-text/macro.njk" import govukInsetText %}

        <p class="govuk-body">To appoint a new director, you'll need to tell us their:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>full name</li>
          <li>date of birth</li>
          <li>nationality</li>
          <li>job title</li>
          <li>home address and postal address</li>
        </ul>

        <details class="govuk-details" data-module="govuk-details">
    <summary class="govuk-details__summary">
      <span class="govuk-details__summary-text">
        I do not want my home address to be publicly available
      </span>
    </summary>
    <div class="govuk-details__text">
    Your home address is not shown on the Companies House public register. However, if you use your home address as your postal address, this will be shown on the public register.
    </div>
    <div class="govuk-details__text">
      If you run your company from home and do not want your home address available to the public, there is a <a href="https://www.gov.uk/government/publications/formation-and-company-secretarial-agents/company-formation-agents-and-secretarial-agents" class="govuk-link" rel="noreferrer noopener" target="_blank">list of agents who can provide registered office services (opens in new tab)</a>.
    </div>
    <div class="govuk-details__text">
    A quick online search will show other providers who offer similar services. All providers will charge a fee.
    </div>
  </details>

      {{ govukButton({
        text: "Start now",
        href: "add",
        classes: "govuk-!-margin-top-2 govuk-!-margin-bottom-2",
        isStartButton: true
      }) }}
        <div class="govuk-grid-row" style="display: flex; align-items: center">
        <div>
          <br><br>
          <h2 class="govuk-heading-m">Before you start</h2>
            <p class="govuk-body">This page is also available in <a class="govuk-link" href="start-c">Welsh (Cymraeg)</a>.</p>

      </div>
      </div>
    </div>
  {% endblock %}
