{% set title = "Which type of PSC would you like to add?" %}
{% extends "layout.html" %}
{% block pageTitle %}
  {{title}}
  -
  {{serviceName}}
  - GOV.UK
{% endblock %}
{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:history.back()"
}) }}
{% endblock %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <form action="/add/type-of-psc" method="post">

         {{ govukRadios({
          name: "type-of-psc",
          fieldset: {
            legend: {
              text: title,
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          hint: {
            text: ""
          },
          items: [
          {
            value: "person",
            html: "A person in control of the company",
            hint: {
              text: ""
            }
          },
          {
            value: "corporate-body",
            html: "A corporate body in control of the company",
            hint: {
              text: "For example, a company or partnership registered in the UK or elsewhere"
            }
          },
          {
            value: "orp",
            html: "An other registrable person (ORP) in control of the company",
            hint: {
              text: "This is typically an organisation, office or official position"
            }
          }
          ]
        }) }}

<details class="govuk-details" data-module="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      Examples of different types of ORPs
    </span>
  </summary>
  <div class="govuk-details__text"><p class="govuk-body">An ORP could be a:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>government or government department of a country or territory</li>
  <li>local authority or local government body in the UK or elsewhere</li>
  <li>corporation sole (typically an official position, such as a Lord Mayor)</li>
</ul>
    
  </div>
</details>

        <div class="govuk-button-group">

        {{ govukButton({
          text: "Continue"
        }) }}

        <!-- The [Cancel updates] link has a query string attached, this being to set the vairable gChangesMade to FALSE -->
        <a href="../directors?gChangesMade=false" class="govuk-link govuk-link--no-visited-state">Cancel</a>


        </div>

      </form>
    </div>
  </div>
{% endblock %}


{# Might need later:
 hint: {
        text: "You’ll need all the required details about the PSC."
      } #}