{% set title = "Enter the company authentication code" %}
{% extends "layout.html" %}
{% block pageTitle %}
  {{company.company_name}}
  -
  {{serviceName}}
  - GOV.UK
{% endblock %}
{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "company-lookup"
}) }}
{% endblock %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
<h1 class="govuk-heading-l"> File a confirmation statement </h1>
<p class="govuk-body">You will need to check and confirm that the company information we have on record is correct as of 15 November 2021. </p>
<p class="govuk-body">You have checked 0 of 7 sections</p>
<h2 class="govuk-heading-m">Nature of business</h2>
<dl class="govuk-summary-list">
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      <a href="#" class="govuk-link">SIC codes</a>
    </dt>
    <dd class="govuk-summary-list__value">
            {{govukTag({
          text: "Not checked",
          classes: "govuk-tag--grey"
        })}}
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      <a href="#" class="govuk-link">Statement of capital</a>
    </dt>
    <dd class="govuk-summary-list__value">
             {{govukTag({
          text: "Not checked",
          classes: "govuk-tag--grey"
        })}}
    </dd>
  </div>
  
</dl>
<h2 class="govuk-heading-m">People</h2>
<dl class="govuk-summary-list govuk-summary-list__row--no-actions">
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      <a href="../directors" class="govuk-link">Officers</a>
    </dt>
    <dd class="govuk-summary-list__value">
            {{govukTag({
          text: "Not checked",
          classes: "govuk-tag--grey"
        })}}
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      <a href="#" class="govuk-link">People with significant control (PSCs)</a>
    </dt>
    <dd class="govuk-summary-list__value">
             {{govukTag({
          text: "Not checked",
          classes: "govuk-tag--grey"
        })}}
    </dd>
  </div>
    <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      <a href="#" class="govuk-link">Shareholders</a>
    </dt>
    <dd class="govuk-summary-list__value">
             {{govukTag({
          text: "Not checked",
          classes: "govuk-tag--grey"
        })}}
    </dd>
  </div>
</dl>
<h2 class="govuk-heading-m">Addresses</h2>
<dl class="govuk-summary-list">
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      <a href="#" class="govuk-link">Registered office address</a>
    </dt>
    <dd class="govuk-summary-list__value">
            {{govukTag({
          text: "Not checked",
          classes: "govuk-tag--grey"
        })}}
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      <a href="#" class="govuk-link">Register locations</a>
    </dt>
    <dd class="govuk-summary-list__value">
             {{govukTag({
          text: "Not checked",
          classes: "govuk-tag--grey"
        })}}
    </dd>
  </div>
  
</dl>
<h2 class="govuk-heading-m">Confirm and submit</h2>
<dl class="govuk-summary-list">
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      <a href="#" class="govuk-link">Submit</a>
    </dt>
    <dd class="govuk-summary-list__value">
             {{govukTag({
          text: "Cannot start yet",
          classes: "govuk-tag--grey"
        })}}
    </dd>
  </div>
  
</dl>
  </div>
</div>
{% endblock %}
