{% extends "layouts/main.html" %}
{% block pageTitle %}
  Active directors for ZENITH PRINT (UK) LIMITED
  -
  {{serviceName}}
  - GOV.UK
{% endblock %}
{% block beforeContent %}
  
{% endblock %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">An unregistered company can only file on paper </h1>

 <p class="govuk-body">[COMPANY NAME] is an unregistered company.  </p>

       <p class="govuk-body">It cannot use this service because this type of company can only file on paper. </p>
      
      
      <p class="govuk-body">Use <a href="https://www.gov.uk/government/collections/companies-house-forms-for-limited-companies#directors-and-secretaries" class="govuk-link govuk-link--no-visited-state">Companies House forms for limited companies</a> to make any changes.</p>

      <p class="govuk-body"><a href="https://www.gov.uk/contact-companies-house" class="govuk-link govuk-link--no-visited-state"> Contact us</a> if you have any questions.</p>
      


    </div>
    
  </div>
{% endblock %}
