{% extends "layouts/main.html" %}
{% block pageTitle %}
  Active directors for ZENITH PRINT (UK) LIMITED
  -
  {{serviceName}}
  - GOV.UK
{% endblock %}
{% block beforeContent %}
  
{% endblock %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">Company is dissolved</h1>
      <p class="govuk-body">[COMPANY NAME] cannot use this service because it has been dissolved, or it's in the process of being dissolved.</p>
    <p class="govuk-body"><a class="govuk-link" href="https://www.gov.uk/guidance/company-restoration-guide">Read the Company Restoration Guide</a> to find out more about restoring a company name to the register.</p>   

    <p class="govuk-body">If this is the wrong company, <a class="govuk-link" href="https://remove-a-director.herokuapp.com/start?journey=gov">start the service again</a>.</p>   
   
</ul>

    
   

      <p class="govuk-body"><a href="https://www.gov.uk/contact-companies-house" class="govuk-link govuk-link--no-visited-state"> Contact us</a> if you have any questions.</p>


    </div>
    
  </div>
{% endblock %}
