{% extends "layout.html" %}
{% block pageTitle %}
  Active directors for ZENITH PRINT (UK) LIMITED
  -
  {{serviceName}}
  - GOV.UK
{% endblock %}
{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "company-lookup"
}) }}
{% endblock %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">This company can't use the Remove a Director service</h1>
      <p class="govuk-body">POODLE DOODLE is registered as a Limited Partnership.</p>
      <p class="govuk-body">This company type has partners, not directors.</p>
      
      <p class="govuk-body">You can find <a href="company-lookup" class="govuk-link govuk-link--no-visited-state"> forms for limited partnerships</a> here.</p>

      <p class="govuk-body"><a href="https://www.gov.uk/contact-companies-house" class="govuk-link govuk-link--no-visited-state"> Contact us</a> if you think this information is wrong.</p>
      
<!-- company name, company type, officer type, and link would be dynamic. This page would be for limited partnerships and Scottish partnerships with partners, and for limited liability and UK Societas with members. There are specific links for each four types. -->

    </div>
    
  </div>
{% endblock %}
