{% extends "layouts/main.html" %}
{% block pageTitle %}
  Active directors for ZENITH PRINT (UK) LIMITED
  -
  {{serviceName}}
  - GOV.UK
{% endblock %}
{% block beforeContent %}
  
{% endblock %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">A limited liability partnership has no directors</h1>
     <p class="govuk-body">[COMPANY NAME] is registered as a limited liability partnership (LLP).</p>
      <p class="govuk-body">It cannot use this service because this type of entity has members, not directors.</p>
    <p class="govuk-body">Use <a href="https://idam-ui.company-information.service.gov.uk/" class="govuk-link govuk-link--no-visited-state"> WebFiling</a> or <a class="govuk-link" href="https://www.gov.uk/government/collections/companies-house-forms-for-limited-liability-partnerships#members ">Companies House forms for limited liability partnerships</a> to make any changes.</p>   
   
</ul>

    
   

      <p class="govuk-body"><a href="https://www.gov.uk/contact-companies-house" class="govuk-link govuk-link--no-visited-state"> Contact us</a> if you have any questions.</p>


    </div>
    
  </div>
{% endblock %}
