{% extends "layout.html" %}
{% block pageTitle %}
  Active directors for ZENITH PRINT (UK) LIMITED
  -
  {{serviceName}}
  - GOV.UK
{% endblock %}
{% block beforeContent %}
  
{% endblock %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      
      <h1 class="govuk-heading-l">Heading</h1>
     
       <p class="govuk-body">You cannot use this service to update this director's details.</p>

       <p class="govuk-body">You can use <a href="https://idam-ui.company-information.service.gov.uk/" class="govuk-link govuk-link--no-visited-state"> WebFiling</a>
  or a <a href="https://www.gov.uk/government/publications/appoint-a-director-ap01" class="govuk-link govuk-link--no-visited-state"> paper form</a>.
</ul>
  <p class="govuk-body"><a href="https://www.gov.uk/contact-companies-house" class="govuk-link govuk-link--no-visited-state"> Contact us</a> if you have any questions.</p>
       
      <!-- could we link to webfiling for companies to add a director? Could also link to start to do another company -->

    </div>
  </div>
{% endblock %}

