{% extends "layout.html" %}
{% block pageTitle %}
  Active directors for ZENITH PRINT (UK) LIMITED
  -
  {{serviceName}}
  - GOV.UK
{% endblock %}
{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "company-lookup"
}) }}
{% endblock %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">Company type must file on paper </h1>
      <p class="govuk-body">HONEY LOOPS is an unregistered company. This company type cannot use this service and must file on paper.</p>
      
      
      <p class="govuk-body">Use the <a href="#" class="govuk-link govuk-link--no-visited-state">XXX form</a> instead.</p>

      <p class="govuk-body"><a href="https://www.gov.uk/contact-companies-house" class="govuk-link govuk-link--no-visited-state"> Contact us</a> if you have any questions.</p>
      


    </div>
    
  </div>
{% endblock %}
