{% extends "layout.html" %}
{% block pageTitle %}
  Active directors for ZENITH PRINT (UK) LIMITED
  -
  {{serviceName}}
  - GOV.UK
{% endblock %}
{% block beforeContent %}
  
{% endblock %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">Company type has no directors</h1>
      <p class="govuk-body">LAPTOP REPAIRS SOUTH WALES is registered as a Limited Partnership.</p>
      <p class="govuk-body">It cannot use this service because this type of company does not have directors.</p>
      
    <p class="govuk-body">Return to the service to <a href="company-lookup" class="govuk-link govuk-link--no-visited-state">enter a different company number</a>.</p>

      <p class="govuk-body"><a href="https://www.gov.uk/contact-companies-house" class="govuk-link govuk-link--no-visited-state"> Contact us</a> if you have any questions.</p>
      


    </div>
    
  </div>
{% endblock %}
