{% set title = "Enter the company authentication code" %}
{% extends "layout.html" %}
{% block pageTitle %}
  {{director.name}}
  -
  {{serviceName}}
  - GOV.UK
{% endblock %}
{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:history.back()"
}) }}
{% endblock %}
{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <form action="/update/change" method="post">
      <span class="govuk-caption-l">ZENITH PRINT (UK) LIMITED (02050399) </span>
        <h1 class="govuk-heading-l">Update the director's details</h1>
        <div id="" class="govuk-hint">
             If you need to tell us about more than one update, and they happened on different dates, you must submit them separately.
        </div>


        {{ govukInsetText({
          text: "Any updates made to a director's details are pending until submitted and accepted."
        }) }}

        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Name
            </dt>
            <dd class="govuk-summary-list__value">
               {{ data['updateFirstName'] }} {{ data['updateMiddleName'] }} {{ data['updateLastName'] }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="name?officer={{details}}">
                  Update<span class="govuk-visually-hidden"> name</span>
              </a>
            </dd>

            <dd class="govuk-summary-list__value">
      
                  <!-- If the variable gChangesMade = TRUE then show the following... -->
                  {% if data['gChangesMade'] == true %}
                  
                  <div class="changes-made">
                    <strong class="govuk-tag govuk-tag--blue">
                      Details updated
                    </strong>
                    
                    <p class="govuk-body-s">Pending until submitted and accepted</p>
                  </div>
                  <!-- ... otherwise, gChangesMade doesn't equal TRUE so therefore... don't show anything! -->
                  {% else %}
                    <!-- No changes made -->
                  {% endif %}

            </dd>

          </div>

          <div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
            <dt class="govuk-summary-list__key">
              Nationality
            </dt>
            <dd class="govuk-summary-list__value">
              British
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="nationality?officer={{details}}">
                Update<span class="govuk-visually-hidden"> Nationality</span>
              </a>
            </dd>
            </div>

            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Occupation
              </dt>
              <dd class="govuk-summary-list__value">
                  <p class="govuk-body">Director</p>
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="job-title?officer={{details}}">
                  Update<span class="govuk-visually-hidden"> job title</span>
                </a>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Correspondence address
              </dt>
              <dd class="govuk-summary-list__value">
                12 Bressenden Place<br>
                London<br>
                England<br>
                SW1E 5DH <br>
               <!-- <strong class="govuk-tag govuk-tag--turquoise">
                  Linked to registered office address
                </strong> -->
              <p class="govuk-body govuk-!-font-size-16 govuk-!-font-weight-bold govuk-!-margin-top-1"> Same as the registered office address </p> 
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="stop-screen-1-alt2">
                  Update<span class="govuk-visually-hidden"> correspondence address</span>
                </a>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Home address
              </dt>
              <dd class="govuk-summary-list__value">
                72 Guild Street<br>London<br>SE23 6FH<br> United Kingdom
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="javascript: void(0);">
                  Update<span class="govuk-visually-hidden"> home address</span>
                </a>
              </dd>
            </div>

            

          </dl>

          <div class="govuk-button-group">

            {{ govukButton({
              text: "Continue"
            }) }}
          </form>
            <!-- The [Cancel updates] link has a query string attached, this being to set the vairable gChangesMade to FALSE -->
            <a href="../directors?gChangesMade=false" class="govuk-link govuk-link--no-visited-state">Cancel</a>

         </div>

                    <!--  <p><a href="/update/confirm-update" class="govuk-link govuk-!-font-size-14 govuk-!-margin-top-9">Shortcut</a></p> -->

      </div>
    </div>
  {% endblock %}
