{% set title = "Enter the company authentication code" %}
{% extends "layout.html" %}
{% block pageTitle %}
  {{director.name}}
  -
  {{serviceName}}
  - GOV.UK
{% endblock %}
{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:history.back()"
}) }}
{% endblock %}
{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">


      <form action="/update/change" method="post">



{{ govukTable({
  caption: "Update the director's details",
  captionClasses: "govuk-table__caption--l",
  firstCellIsHeader: true,
  head: [
    {
      html: '<span class="govuk-visually-hidden">Type</span>'
    },
    {
      text: "Current"
    },
    {
      text: "Updates will be shown here"
    },
    {
      html: '<span class="govuk-visually-hidden">Update the details</span>'
    }
  ],
  rows: [
    [
      {
        text: "Name"
      },
      {
        text: "DAVIS, Kathryn Ruth"
      },
      {
        text: "ROBERTS, Kathryn Ruth"
      },
      {
      html: '<a class="govuk-link" href="name?officer={{details}}">
                  Update<span class="govuk-visually-hidden"> name</span>
              </a>'
      }
    ],
    [
      {
        text: "Occupation"
      },
      {
        text: "Director"
      },
      {
        text: ""
      },
      {
      html: ' <a class="govuk-link" href="job-title?officer={{details}}">
                  Update<span class="govuk-visually-hidden"> job title</span>
                </a>'
      }
    ],
    [
      {
        text: "Correspondence address"
      },
      {
        html: ' 12 Bressenden Place<br>
                London<br>
                England<br>
                SW1E 5DH'      },
      {
        text: ""
      },
      {
      html: '<a class="govuk-link" href="javascript: void(0);">
                  Update<span class="govuk-visually-hidden"> correspondence address</span>
                </a>'
      }
    ],
    [
      {
        text: "Home address"
      },
      {
        html: '72 Guild Street<br>London<br>SE23 6FH'
      },
      {
        text: ""
      },
      {
      html: '<a class="govuk-link" href="javascript: void(0);">
                  Update<span class="govuk-visually-hidden"> home address</span>
                </a>'
      }
    ],
    [
      {
        text: "Country of residence"
      },
      {
        text: "United Kingdom"
      },
      {
        text: ""
      },
      {
      html: '<a class="govuk-link" href="country-of-residence?officer={{details}}">
         Update<span class="govuk-visually-hidden"> Country of residence </span>
       </a>'
      }
    ],
    [
      {
        text: "Nationality"
      },
      {
        text: "British"
      },
      {
        text: ""
      },
      {
      html: ' <a class="govuk-link" href="nationality?officer={{details}}">
                Update<span class="govuk-visually-hidden"> Nationality</span>
              </a>'
      }
    ]
  ]
}) }}


      

            {{ govukButton({
              text: "Continue"
            }) }}
          </form>
          <p class="govuk-body">
          <a href="../directors" class="govuk-link govuk-link--no-visited-state">Cancel updates</a><p>
    </div>







  </div>
{% endblock %}
