{% set title = "Enter the company authentication code" %}
{% extends "layout.html" %}
{% block pageTitle %}
  {{director.name}}
  -
  {{serviceName}}
  - GOV.UK
{% endblock %}
{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:history.back()"
}) }}
{% endblock %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <h1 class="govuk-heading-l">Check your answers before submitting your update</h1>
      <h2 class="govuk-heading-m">Update details</h2>
      {{ govukSummaryList({
           classes: 'govuk-!-margin-bottom-9',
           rows: [
             {
               key: {
                 text: "Name"
               },
               value: {
                 text: "Sarah Philips"
               },
               actions: {
                 items: [
                   {
                     href: "#",
                     text: "Change",
                     visuallyHiddenText: "name"
                   }
                 ]
               }
             },
             {
               key: {
                 text: "Date of birth"
               },
               value: {
                 text: "5 January 1978"
               },
               actions: {
                 items: [
                   {
                     href: "#",
                     text: "Change",
                     visuallyHiddenText: "date of birth"
                   }
                 ]
               }
             },
             {
               key: {
                 text: "Address"
               },
               value: {
                 html: "72 Guild Street<br>London<br>SE23 6FH"
               },
               actions: {
                 items: [
                   {
                     href: "#",
                     text: "Change",
                     visuallyHiddenText: "address"
                   }
                 ]
               }
             },
             {
               key: {
                 text: "Date of removal"
               },
               value: {
                 html: '<p class="govuk-body">27 3 2021</p>'
               },
               actions: {
                 items: [
                   {
                     href: "#",
                     text: "Change",
                     visuallyHiddenText: "contact details"
                   }
                 ]
               }
             }
           ]
         }) }}
      {{ govukButton({
          text: "Continue",
          href: "confirmation"
        }) }}
    </form>
  </div>
</div>
{% endblock %}
