{% set title = "Check your answers before submitting the update" %}
{% extends "layout.html" %}
{% block pageTitle %}
  {{title}}
  -
  {{serviceName}}
  - GOV.UK
{% endblock %}
{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:history.back()"
}) }}
{% endblock %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <form action="/update/check-your-answers-alt" method="post">
      <span class="govuk-caption-l">  
        
        <!-- secure user-->
        {% if data['secure-user'] == true %}

        {{ data['secureFirstName'] }} {{ data['secureMiddleName'] }} {{ data['secureLastName'] }}
               
        {% else  %}
        <!-- standard user-->
        Kathryn Rebecca Davis

        {% endif %}</span>
      <h1 class="govuk-heading-l">Check your answers before submitting the update</h1>

      <h2 class="govuk-heading-m">Company details</h2>

      <dl class="govuk-summary-list" style="width:100%">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Company name
          </dt>
          <dd class="govuk-summary-list__value">
            ZENITH PRINT (UK) LIMITED
          </dd>
          
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Company number
          </dt>
          <dd class="govuk-summary-list__value">
            02050399
          
          </dd>
          
        </div>
        

        
      </dl>

      {% if data['secure-user'] != true %}

      <h2 class="govuk-heading-m">Director details</h2>


      <dl class="govuk-summary-list" style="width:100%">
        <div class="govuk-summary-list__row">
         <!-- <dt class="govuk-summary-list__key" class="govuk-input govuk-!-width-one-third">
            Name
          </dt> -->
         <!-- <dd class="govuk-summary-list__value">

              <!-- secure user-->
             <!-- {% if data['secure-user'] == true %}

              {{ data['secureFirstName'] }} {{ data['secureMiddleName'] }} {{ data['secureLastName'] }}
                     
              {% else  %}
              <!-- standard user-->
             <!-- {{ data['updateFirstName'] }} {{ data['updateMiddleName'] }} {{ data['updateLastName'] }}
      
              {% endif %}

          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">
              Change<span class="govuk-visually-hidden"> name</span>
            </a>
          </dd> -->
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Nationality
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['nationalityUpdate'] }}
          
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">
              Change<span class="govuk-visually-hidden"> nationality</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Occupation
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['occupationUpdate'] }}
          
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">
              Change<span class="govuk-visually-hidden"> occupation</span>
            </a>
          </dd>
        </div>

        
      </dl>

      {% endif %}

 


   <!-- <dl class="govuk-summary-list">

    <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key govuk-heading-m">
                Director's address details
                </dt>
                
                <dd class="govuk-summary-list__value govuk-visually-hidden">
                Change the director's address details
                    
                
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="update-address/correspondence-address">
                  Change<span class="govuk-visually-hidden"> the director's address details. </span>
                  </a>
                </dd>

                
              </div>

                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Correspondence address
                  </dt>

                  <!-- If address is changed display the updated address -->
                 <!-- {% if data['addressChangesMade'] == true or ['secure-user'] == true %}


                  <dd class="govuk-summary-list__value">
                    Stornoway House, <br>
                    13 Cleveland Row,<br>
                    London<br>
                    SW1A 1GG <br>

                    <!-- <strong class="govuk-tag govuk-tag--turquoise">
                      Linked to registered office address
                    </strong> -->
              
               <!-- </dd>
                </div> -->


              <!-- {% else %}

              <dd class="govuk-summary-list__value">
               <!-- 12 Bressenden Place<br>
                London<br>
                England<br>
                SW1E 5DH <br> -->

                <!-- <strong class="govuk-tag govuk-tag--turquoise">
                  Linked to registered office address
                </strong> -->
              <!--  <p class="govuk-body"> Correspondence address is the same as the registered office address </p> 
              </dd>

              <!-- If no changes have been made, display the default address -->
            <!-- </div>
              {% endif %} 
              
             
               
              

            
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Home address
              </dt>

              {% if data['secure-user'] == true %}


              <dd class="govuk-summary-list__value">
                We cannot disclose this home address
              </dd>

              {% else %}
              <dd class="govuk-summary-list__value">
                72 Guild Street<br>London<br>SE23 6FH<br> United Kingdom
              </dd>
              <dd class="govuk-summary-list__actions">
                
              </dd>
              {% endif %}

              <dd class="govuk-summary-list__actions">
                
              </dd>

              
            </div>

            

          </dl> -->




   <h2 class="govuk-heading-m">Date changed</h2>


      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Date the details changed
          </dt>
          <dd class="govuk-summary-list__value">
            12 December 2023
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">
              Change<span class="govuk-visually-hidden"> name</span>
            </a>
          </dd>
        </div>
      
      </dl> 



  


<div class="govuk-button-group">
      {{ govukButton({
        text: "Confirm and submit"
      }) }}

      <a class="govuk-link" href="/other-screens/cancel">Cancel</a>
</div>
    </form>
    </div>
  </div>
{% endblock %}
