{% set title = "Enter the company authentication code" %}
{% extends "layout.html" %}
{% block pageTitle %}
  {{director.name}}
  -
  {{serviceName}}
  - GOV.UK
{% endblock %}
{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:history.back()"
}) }}
{% endblock %}
{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <!-- <form action="/update/confirm-update-stop" method="post"> -->
        <h1 class="govuk-heading-l">You need to use a different part of this service</h1>
        <p> You need to appoint a new director instead of updating existing director details.</p>

        <p>If you need to remove a director, you can go back to the 'Active directors' screen and select 'Remove director'.</p>

<h2 class="govuk-heading-m">What do you want to do?</h2>
          <p> <a href="/add/name" class="govuk-link">Appoint a new director</a></p>
          <p> <a href="/directors" class="govuk-link">Go back to active directors</a></p>
         </div>
      </div>
    </div>
  {% endblock %}
