{% set title = "Enter the company authentication code" %}
{% extends "layouts/main.html" %}
{% block pageTitle %}
  {{director.name}}
  -
  {{serviceName}}
  - GOV.UK
{% endblock %}
{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:history.back()"
}) }}
{% endblock %}
{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <!-- <form action="/update/confirm-update-stop" method="post"> -->
        <h1 class="govuk-heading-l">You need to appoint a new director instead</h1>
        <p>You need to use a different part of this service to <a href="/add/name" class="govuk-link">appoint a new director</a>. You cannot do this by updating an existing director’s details.</p>

        <p>If you need to remove a director, <a href="/directors" class="govuk-link">go back</a> and select 'Remove director'.</p>


  {% endblock %}
