 {% set title = "Enter the company authentication code" %}
{% extends "layout.html" %}
{% block pageTitle %}
  {{company.company_name}}
  -
  {{serviceName}}
  - GOV.UK
{% endblock %}
{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:history.back()"
}) }}
{% endblock %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <form action="/update/nationality" method="post">
        <div class="govuk-form-group govuk-!-margin-bottom-2">
          <h1 class="govuk-label-wrapper"><label class="govuk-label govuk-label--l" for="event-name">Country of residence</label></h1>
          <input value="{{director.nationality}}" class="govuk-input" id="event-name" name="event-name" type="text" aria-describedby="event-name-hint">
        </div>
        {{ govukButton({
          text: "Continue",
          href: "change"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}