 {% set title = "What is the director's country of residence?" %}
{% extends "layout.html" %}
{% block pageTitle %}
  {{company.company_name}}
  -
  {{serviceName}}
  - GOV.UK
{% endblock %}
{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:history.back()"
}) }}
{% endblock %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <form action="/update/country-of-residence" method="post">
        <div class="govuk-form-group govuk-!-margin-bottom-2">
          <h1 class="govuk-label-wrapper"><label class="govuk-label govuk-label--l" for="country-of-residence">What is the director's country of residence?</label></h1>
          <input value="{{director.nationality}}" class="govuk-input" id="country-of-residence" name="country-of-residence" type="text" aria-describedby="country-of-residence-hint">
        </div>
        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}
