 {% set title = "Does the PSC you are adding correspond to a PSC statement currently on the company?" %}
{% extends "layout.html" %}
{% block pageTitle %}
  {{title}}
  -
  {{serviceName}}
  - GOV.UK
{% endblock %}
{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:history.back()"
}) }}
{% endblock %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <form action="/update/interrupt-remove-statement" method="post">

        <h1 class="govuk-heading-l">You must remove the statement before adding the PSC</h1>

        <p class="govuk-body">After we confirm that the statement has been removed, you can add the new PSC to the company.
           </p>
<p class="govuk-body"><a href="#" class="govuk-link">Remove PSC statement</a></p>

        {{ govukButton({
          text: "Continue"
        }) }}


      </form>
    </div>
  </div>
  <script src="/public/javascripts/accessible-autocomplete.js"></script>
  <script src="/public/javascripts/nationality.js"></script>
{% endblock %}
