 {% set title = "Enter the company authentication code" %}
{% extends "layout.html" %}
{% block pageTitle %}
  {{company.company_name}}
  -
  {{serviceName}}
  - GOV.UK
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:history.back()"
}) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <form action="/update/job-title" method="post">
              <div class="govuk-!-padding-bottom-6">
        <h1 class="govuk-label-wrapper"><label for="autocomplete-default" class="govuk-label govuk-label--l">What is the director's job title?</label></h1>
        <p class="govuk-hint">For example, carpenter. <br>Start typing a job title, then choose from the list.</p>
        <div id="occupation" name="occupation" class="autocomplete-wrapper"></div>
      </div>
        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
    </div>
  </div>
<script src="/public/javascripts/accessible-autocomplete.js"></script>
<script src="/public/javascripts/occupation.js"></script>
{% endblock %}
