{% set title = "What is the director's name?" %}
{% extends "layouts/main.html" %}
{% block pageTitle %}
  {{title}}
  -
  {{serviceName}}
  - GOV.UK
{% endblock %}
{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:history.back()"
}) }}
{% endblock %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <form action="/update/name" method="post">
      <h1 class="govuk-heading-l">{{title}}</h1>
              <div class="govuk-form-group govuk-input--width-30">
          <label for="autocomplete-default" class="govuk-label" value="Dr">Professional or honorary title (optional)</label>
          <p class="govuk-hint">Start typing a title, such as Dr or Professor, then choose from the list.</p>
          <div id="title" name="title" class="autocomplete-wrapper govuk-input--width-20"></div>
        </div>
      {{ govukInput({
        label: {
          text: "First name"
        },
        hint: {
          text: "Enter the director's full first name."
        },
        classes: "govuk-input--width-20",
        id: "updateFirstName",
        value: "Kathryn",
        name: "updateFirstName"
      }) }}
      {{ govukInput({
        label: {
          text: "Middle names"
        },
        hint: {
          text: "Enter the director's full middle name or names."
        },
        classes: "govuk-input--width-20",
        id: "updateMiddleName",
        value: "",
        name: "updateMiddleName"
      }) }}
      {{ govukInput({
        label: {
          text: "Last name"
        },
        classes: "govuk-input--width-20",
        id: "updateLastName",
        value: "Davis",
    name: "updateLastName"
  }) }}
  <!-- {% set formerName %}
    {{ govukInput({
        id: "former-name",
        name: "former-name",
        type: "text",
        spellcheck: false,
        classes: "govuk-!-width-two-thirds",
        label: {
          text: "Former name"
        }
    }) }}
  {% endset -%}
  {{ govukRadios({
    idPrefix: "contact",
    name: "contact",
        fieldset: {
                legend: {
                  text: "Has the director used a different name on the Companies House register in the last 20 years?"
                }
              },
        items: [
          {
            value: "yes",
            text: "Yes",
            conditional: {
              html: formerName
            }
          },
          {
            value: "no",
            text: "No",
            checked: "checked"
          }
        ]
      }) }} -->
     {{ govukInsetText({
          html: "<h2 class='govuk-heading-m'>What information we'll show on the public online register</h2>
                <p>We will show the director's full name on the public Companies House register. We will also show the director's title, if relevant.</p>"
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>
    </div>
  </div>
    <script src="/public/javascripts/accessible-autocomplete.js"></script>
  <script src="/public/javascripts/titles.js"></script>
{% endblock %}
