 {% set title = "Enter the company authentication code" %}
{% extends "layout.html" %}
{% block pageTitle %}
  {{company.company_name}}
  -
  {{serviceName}}
  - GOV.UK
{% endblock %}
{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:history.back()"
}) }}
{% endblock %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <form action="/update/nationality" method="post">
        <div class="govuk-form-group govuk-!-margin-bottom-2">
          <h1 class="govuk-label-wrapper"><label class="govuk-label govuk-label--l" for="nationality">What is the director's nationality?</label></h1>
          <input value="{{director.nationality}}" class="govuk-input" id="nationality" name="nationality" type="text" aria-describedby="nationality-hint">
        </div>
        <p class="govuk-body govuk-!-margin-top-6">
          <a href="#" class="govuk-link govuk-link--no-visited-state">Add another nationality</a>
        </p>
        {{ govukButton({
          text: "Continue",
          classes: "govuk-!-margin-top-6"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}
