<!-- {% set title = "When was the corporate director removed from the company?" %} -->
{% extends "layouts/main.html" %}
{% block pageTitle %}
  
  -
  {{serviceName}}
  - GOV.UK
{% endblock %}
{% block beforeContent %}
  {% include "includes/back-link.html" %}
  {% include "includes/user-bar.html" %}
{% endblock %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <form action="/update/remove" method="post">
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" role="group" aria-describedby="date-removed-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              <span class="govuk-caption-l">Andrew Murray</span> When was the director removed from the company?
</h1>
          </legend>
          <div id="date-removed-hint" class="govuk-hint">
            For example, 27 3 2021
          </div>
          <div class="govuk-date-input" id="date-removed">
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="date-removed-day">
                  Day
                </label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="date-removed-day" name="date-removed-day" type="text" pattern="[0-9]*" inputmode="numeric"></div>
              </div>
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="date-removed-month">
                    Month
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="date-removed-month" name="date-removed-month" type="text" pattern="[0-9]*" inputmode="numeric">
                </div>
              </div>
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="date-removed-year">Year</label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="date-removed-year" name="date-removed-year" type="text" pattern="[0-9]*" inputmode="numeric"></div>
                </div>
              </div>
            </fieldset>
          </div>
          {{ govukButton({
            text: "Continue"
          }) }}
        </form>
      </div>
    </div>
{% endblock %}
