 {% set title = "Does this statement relate to the PSC you want to add?" %}
{% extends "layout.html" %}
{% block pageTitle %}
  {{title}}
  -
  {{serviceName}}
  - GOV.UK
{% endblock %}
{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:history.back()"
}) }}
{% endblock %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <form action="/update/review-statement" method="post">
        <div class="govuk-form-group ">


          <h1 class="govuk-heading-l">Review some information before you add a new PSC</h1>

             <p class="govuk-body">The company currently has the following PSC statement on its record:</p>

          <div class="govuk-summary-card govuk-!-margin-bottom-4">
            <div class="govuk-summary-card_heading govuk-!-padding-top-4 govuk-!-padding-bottom-4 govuk-!-padding-right-3 govuk-!-padding-left-3" >
              <p class="govuk-!-font-weight-bold govuk-!-margin-0">PSC statement</p>
      
            </div>
            <div class="govuk-!-padding-1 govuk-!-margin-3 almost-full-width">
              
              <p class="govuk-body">The company knows or has reasonable cause to believe that there is a registrable person in relation to the company, but it has not identified the registrable person.</p>
      
              <span class="govuk-body govuk-!-font-weight-bold govuk-!-padding-top-4">Notified on        
                <p class="govuk-body govuk-!-padding-top-1">
    
                  {{data['date-add-statement-day']}}
                    {% if (data['date-add-statement-month'] === "01") or (data['date-add-statement-month'] === "1") %}
                      January
                    {% elif (data['date-add-statement-month'] === "02") or (data['date-add-statement-month'] === "2") %}
                      February
                    {% elif (data['date-add-statement-month'] === "03") or (data['date-add-statement-month'] === "3") %}
                      March
                    {% elif (data['date-add-statement-month'] === "04") or (data['date-add-statement-month'] === "4") %}
                      April
                    {% elif (data['date-add-statement-month'] === "05") or (data['date-add-statement-month'] === "5") %}
                      May
                    {% elif (data['date-add-statement-month'] === "06") or (data['date-add-statement-month'] === "6") %}
                      June
                    {% elif (data['date-add-statement-month'] === "07") or (data['date-add-statement-month'] === "7") %}
                      July
                    {% elif (data['date-add-statement-month'] === "08") or (data['date-add-statement-month'] === "8") %}
                      August
                    {% elif (data['date-add-statement-month'] === "09") or (data['date-add-statement-month'] === "9") %}
                      September
                    {% elif (data['date-add-statement-month'] === "10") %}
                      October
                    {% elif (data['date-add-statement-month'] === "11") %}
                      November
                    {% elif (data['date-add-statement-month'] === "12") %}
                      December
                    {% else %}
                      {{data['date-add-statement-month']}}
                    {% endif %}
                    {{data['date-add-statement-year']}}
    
                </p> <span>
      
            </div>
            </div>

          {{ govukRadios({
            idPrefix: "statement-remove-to-add-psc",
            name: "statement-remove-to-add-psc",
            fieldset: {
              legend: {
                text: title,  
                isPageHeading: false,
                classes: "govuk-fieldset__legend--m govuk-!-padding-top-3"
              }
            },
            items: [
             {
               value: "yes",
               text: "Yes"
             },
             {
               value: "no",
               text: "No"
             }
           ]
         }) }}
         
      
        {{ govukButton({
          text: "Continue",
          classes: "govuk-!-margin-top-6"
        }) }}
      </form>
    </div>
  </div>
  <script src="/public/javascripts/accessible-autocomplete.js"></script>
  <script src="/public/javascripts/nationality.js"></script>
{% endblock %}
