{% extends "layout.html" %}

{% block pageTitle %}
  Before you start – {{ serviceName }} – GOV.UK
{% endblock %}

{% block beforeContent %}
  {% include "includes/back-link.html" %}
  {% include "includes/user-bar.html" %}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="/interrupt-card" method="post">
      <div class="interrupt-card">
          <h1 class="govuk-heading-l">
           Correspondence address recorded as 'same as registered office address'
          </h1>

        <p class="govuk-body">Any updates made to the company's registered office address currently also apply to the director's correspondence address.
       </p>

        <p class="govuk-body">If you update the correspondence address, it will no longer be recorded as the 'same as the registered office address'. This means that if you make updates to the registered office address in the future, they will no longer apply to the correspondence address. </p>  

        <div class="govuk-inset-text">
          <p class="govuk-body">If you want to update the correspondence address, and keep these addresses recorded as the 'same',
            <a href="https://www.gov.uk/government/publications/change-a-registered-office-address-ad01" class="govuk-link" rel="noreferrer noopener" target="_blank">change the registered office address instead (opens in new tab)</a>.</p>  
        </div> 


       <!-- <p class="govuk-body">If you choose to continue, you can update the correspondence address with a new address or re use the current address, but the link will be broken.</p>   -->


         

<!-- added in HTML because thought that was how to make styling work, still haven't sussed it -->
<div class="govuk-form-group">
  <fieldset class="govuk-fieldset">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
        Do you want to update the director's correspondence address?
    </legend>
    <div class="govuk-radios" data-module="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="update-correspondece-address" name="update-correspondence-address" type="radio" value="yes">
        <label class="govuk-label govuk-radios__label" for="update-correspondence-address">
          Yes
        </label>
        <div id="sign-in-item-hint" class="govuk-hint govuk-radios__hint">
          This address will no longer be recorded as the 'same as the registered office address'.
        </div>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="update-correspondence-address-2" name="update-correspondence-address" type="radio" value="no">
        <label class="govuk-label govuk-radios__label" for="update-correspondence-address-2">
          No
        </label>
      </div>
    </div>

  </fieldset>
</div>




<!-- {{ govukRadios({
  name: "do-you-want-digital",
  fieldset: {
    legend: {
      text: "Do you want to order a digital document?",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--l"
    }
  },
  items: [
    {
      value: "yes",
      text: "Yes"
    },
    {
      value: "no",
      text: "No"
    }
  ]
}) }} -->
<!-- need to add routing - take customer to basket with digital option if they say yes, take them to paper options if no -->


       {{ govukButton({
          text: "Continue"
        }) }}

      </div>

      </form>

    </div>
  </div>

{% endblock %}
