{% set title = "Enter the company authentication code" %}
{% extends "layout.html" %}
{% block pageTitle %}
  {{company.company_name}}
  -
  {{serviceName}}
  - GOV.UK
{% endblock %}
{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:history.back()"
}) }}
{% endblock %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <form action="/update/what-do-you-want-to-do" method="post">

        {% set remove %}
        {{ govukDateInput({
        id: "passport-issued",
        namePrefix: "passport-issued",
        fieldset: {
          legend: {
            text: "When was this officer removed from the company?"
          }
        },
        hint: {
          text: "For example, 27 3 2007"
        }
      }) }}
        {% endset -%}
        {{ govukRadios({
  idPrefix: "what-do-you-want-to-do",
  name: "what-do-you-want-to-do",
  fieldset: {
    legend: {
      text: "What do you want to do?",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--l"
    }
  },
  items: [
    {
      value: "update",
      text: "Update officer details"
    },
    {
      value: "remove",
      text: "Remove officer",
      conditional: {
  html: remove
}
    }
  ]
}) }}
        {{ govukButton({
  text: "Continue"
}) }}
      </form>
    </div>
  </div>
{% endblock %}