{% set title = "Confirm where the director lives" %}
{% extends "layout.html" %}
{% block pageTitle %}
  {{title}}
  -
  {{serviceName}}
  - GOV.UK
{% endblock %}
{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:history.back()"
}) }}
{% endblock %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <form action="/address-lookup/confirm-lookup-home" method="post">
        <h1 class="govuk-heading-l">{{title}}</h1>
        <ul class="govuk-list">
          <li>13 Stornoway House</li>
          <li>Cleveland Row</li>
          <li>London</li>
          <li>SW1A 1GG </li>
        </ul>

{{ govukInsetText({
          html: "<h2 class='govuk-heading-m'>What information we'll show on the public online register</h2>
                <p>We will show the country the director lives in on the public Companies House register. We will not show the whole address, unless it's also used for the company's registered office address or the director's correspondence address.</p>"
        }) }}

     
        {{ govukButton({
          text: "Confirm and continue"
        }) }}

      </form>
    </div>
  </div>
{% endblock %}
