{% set title = "Confirm the director's home address" %}
{% extends "layout.html" %}
{% block pageTitle %}
  {{title}}
  -
  {{serviceName}}
  - GOV.UK
{% endblock %}
{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:history.back()"
}) }}
{% endblock %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <form action="/address-lookup-update-journey/confirm-lookup-postcode" method="post">
        <h1 class="govuk-heading-l">{{title}}</h1>
        <ul class="govuk-list">
          <li>{{data['propertyName-update']}} {{data['addressOne-update']}}</li>
          <li>{{data['addressTwo-update']}}</li>
          <li>{{data['town-update']}}</li>
          <li>{{data['county-update']}}</li>
          <li>{{data['country-update']}}</li>
          <li>{{data['postcode-update']}}</li>
        </ul>

{{ govukInsetText({
          html: "<h2 class='govuk-heading-m'>What information we'll show on the public online register</h2>
                <p>We will not show this address on the public Companies House register, unless it's also used for the company's registered office address or the director's correspondence address.</p>"
        }) }}

    
        {{ govukButton({
          text: "Confirm and continue"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}
