{% set title = "Do you want us to link the director's home address to the correspondence address?" %}
{% extends "layout.html" %}

{% block pageTitle %}
  {{title}}
  -
  {{serviceName}}
  - GOV.UK
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:history.back()"
}) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <form action="/address-lookup/link-home-address" method="post">
        {% if (data['link-correspondence-address'] === "yes")%}
          <h1 class="govuk-heading-l">We cannot link the director's home address to the correspondence address</h1>
          <p class="govuk-body">The director's correspondence address is already linked to the registered office address. For security reasons, this means that we cannot link the correspondence address to the director's home address.</p>
        {% else %}
          {{ govukRadios({
            classes: "govuk-radios--inline",
            idPrefix: "link-home-address",
            name: "link-home-address",
            fieldset: {
              legend: {
                text: title,
                isPageHeading: true,
                classes: "govuk-fieldset__legend--l"
              }
            },
            hint: {
              text: "This means that future changes to the correspondence address will also apply to the director's home address"
            },
            items: [
              {
                value: "yes",
                text: "Yes"
              },
              {
                value: "no",
                text: "No"
              }
            ]
          }) }}
        {% endif %}
        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}
