{% extends "layout.html" %}
{% block pageTitle %}
  Active directors for ZENITH PRINT (UK) LIMITED
  -
  {{serviceName}}
  - GOV.UK
{% endblock %}
{% block beforeContent %}
  
{% endblock %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">A limited partnership has no directors</h1>
      <p class="govuk-body">TAYLOR AND SONS LP is registered as a Limited partnership.</p>
      <p class="govuk-body">It cannot use this service because this type of entity has partners, not directors.</p>
    <p class="govuk-body">Use the following forms to make any changes to your limited partnership:</p>   
      <ul class="govuk-list">
  <li>
    <a class="govuk-link" href="https://www.gov.uk/government/collections/companies-house-forms-for-limited-partnerships">Companies House forms for limited partnerships</a>
  </li>
  <li>
    <a class="govuk-link" href="https://www.gov.uk/government/collections/companies-house-forms-for-scottish-limited-partnerships#making-changes-to-a-scottish-limited-partnership">Companies House forms for Scottish limited partnerships</a>
  </li>
</ul>
   

      <p class="govuk-body"><a href="https://www.gov.uk/contact-companies-house" class="govuk-link govuk-link--no-visited-state"> Contact us</a> if you have any questions.</p>
      
<!-- company name, company type, officer type, and link would be dynamic. This page would be for limited partnerships and Scottish partnerships with partners, and for limited liability and UK Societas with members. There are specific links for each four types. -->

    </div>
    
  </div>
{% endblock %}
