{% set title = "Enter the company authentication code" %}
{% extends "layout.html" %}
{% block pageTitle %}
  {{company.company_name}}
  -
  {{serviceName}}
  - GOV.UK
{% endblock %}
{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:history.back()"
}) }}
{% endblock %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <form action="/remove/check-your-answers" method="post">
        <span class="govuk-caption-xl">{{director.name}}</span>
  <h1 class="govuk-heading-l">When was the officer removed from the company?</h1>
        {{ govukDateInput({
        id: "remove",
        namePrefix: "remove",
        fieldset: {
          legend: {

            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
        hint: {
          text: "For example, 23 3 2021"
        }
      }) }}
        {{ govukButton({
        text: "Remove officer",
        classes: "govuk-button"
      }) }}
      </form>
    </div>
  </div>
{% endblock %}
