{% extends "layout.html" %}

{% block pageTitle %}
  Accessibility statement - Apply to file with Companies House using software service - GOV.UK
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">Accessibility statement for  {{ serviceName }} service</h1>
      <p>This service is run by
        <a href="https://www.gov.uk/government/organisations/companies-house">Companies House</a>. We want as many people as possible to be able to use this service. For example, that means you should be able to:
      </p>
      <ul class="govuk-list govuk-list--bullet">
        <li>change colours, contrast levels and fonts</li>
        <li>zoom in up to 300% without the text disappearing off the screen</li>
        <li>navigate most of the website using just a keyboard</li>
        <li>navigate most of the website using speech recognition software</li>
        <li>listen to most of the website using a screen reader (including the most recent versions of JAWS, NVDA and VoiceOver)</li>
      </ul>
      <p>We’ve also made the website text simple to understand.</p>
      <p class="govuk-body"><a href="https://mcmw.abilitynet.org.uk/" class="govuk-link">AbilityNet has advice on making your device easier to use</a> - for example, changing colours or text size.</p>

      <h2 class="govuk-heading-m">How accessible this service is</h2>
     <p> <strong class="govuk-tag govuk-tag--red">To be checked
        </strong></p>
  <p>This website is fully accessible.</p>

      <h2 class="govuk-heading-m">Reporting accessibility problems with this service</h2>

         <p class="govuk-body">We’re always looking to improve the accessibility of this service. If you find any problems not listed on this page or think we’re not meeting accessibility requirements, you can find contact details on our
                <a class="govuk-link" href="https://www.gov.uk/guidance/accessibility-support-for-companies-house-users">accessibility support for Companies House users</a> page.
            </p>

      <h2 class="govuk-heading-m">Enforcement procedure</h2>
      <p>The Equality and Human Rights Commission (EHRC) is responsible for enforcing the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018 (the ‘accessibility regulations’). If you’re not happy with how we
        respond to your complaint,
        <a href="https://www.equalityadvisoryservice.com/">contact the Equality Advisory and Support Service (EASS)</a>.</p>

      <h2 class="govuk-heading-m">Technical information about this service’s accessibility</h2>
      <p> <strong class="govuk-tag govuk-tag--red">To be checked
        </strong></p>
      <p>Companies House is committed to making its website accessible in accordance with the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018.</p>
      <p>This service is fully compliant with the
        <a href="https://www.w3.org/TR/WCAG22/">Web Content Accessibility Guidelines version 2.2</a>
        AA standard.</p>

      <h2 class="govuk-heading-m">How we tested this service</h2>
      <p>We regularly carry out internal tests for compliance with the Web Content Accessibility Guidelines V2.2 level A and level AA using a variety of manual and automated testing tools.</p>
      <p>This service was audited on 23 January 2024. The audit was carried out by the <a href="https://digitalaccessibilitycentre.org/auditandaccreditation.html">Digital Accessibility Centre</a>.</p>

      <h2 class="govuk-heading-m">What we’re doing to improve accessibility</h2>

      <p>To improve this service's accessibility, we:
        <ul class="govuk-list govuk-list--bullet">
          <li>work with real users who have accessibility issues to make sure that our services meet their needs</li>
          <li>carry out internal tests for compliance with Web Content Accessibility Guidelines V2.2 level A and level AA</li>
          <li>work with external agencies in major UK cities to perform usability research with users</li>
          <li>recruit users through
            <a href="https://www.gov.uk/government/news/help-improve-companies-house">our user panel</a>
            and agencies to take part in usability sessions</li>
          <li>build and test our services to meet
            <a href="https://www.gov.uk/service-manual/helping-people-to-use-your-service/making-your-service-accessible-an-introduction#meeting-government-accessibility-requirements">government accessibility requirements</a>
          </li>
      </ul>

          <p>
            <a href="https://companieshouse.blog.gov.uk/category/user-research/">Read our blogs about usability</a>
            to find out more about our user research work.</p>
          <p>This statement was prepared on 24 January 2024. It was last updated on 13 February 2024.</p>

        </div>
      </div>
    {% endblock %}