{% extends "layout.html" %}

{% block pageTitle %}
  Service unavailable – {{ serviceName }} – GOV.UK
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">Page not found</h1>
      <p>If you typed the web address, check it is correct.</p>

<p>If you pasted the web address, check you copied the entire address.</p>

<p>If the web address is correct or you selected a link or button, the page may have moved. </p>

<p><a href="start">Return to the Remove a company director start page</a>.</p>

    </div>
  </div>

{% endblock %}
