{% extends "layouts/main.html" %}

{% block pageTitle %}
  Service unavailable – {{ serviceName }} – GOV.UK
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">Sorry, there is a problem with the service</h1>
      <p class="govuk-body">Try again later.</p>

       <p class="govuk-body">We have not saved your answers. When the service is available, you will have to start again.</p>
      
      <p class="govuk-body"><a class="govuk-link" href="https://www.gov.uk/contact-companies-house">Contact Companies House</a> if you have any questions.
      </p>
    </div>
  </div>
{% endblock %}
