{% extends "emails/layout-email.html" %}
{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {% set buttonHref = "Your reference number <br><strong>489252-732373-448728<strong>" %}
    {{ govukPanel({
      titleText: "Director update submitted",
      html: buttonHref
    }) }}
    <!--<table class="govuk-table">
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Company number</th>
          <td class="govuk-table__cell">02050399</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Company name</th>
          <td class="govuk-table__cell">	ZENITH PRINT (UK) LIMITED</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Name</th>
          <td class="govuk-table__cell">{{ data['updateFirstName'] }} {{ data['updateMiddleName'] }} {{ data['updateLastName'] }}</td>
        </tr>

      </tbody>
    </table>-->
    <h2 class="govuk-heading-m">What happens next</h2>
    <p class="govuk-body">We'll usually email you within 2 working days to let you know if your submission has been accepted or rejected.</p>
    <p class="govuk-body">If it's accepted, we'll add it to the company's filing history on the Companies House register. If it's rejected, we'll email you to let you know what to do next.</p>


    <h3 class="govuk-heading-m">Feedback</h3>
    <p class="govuk-body">This is a new service. Help us improve it by completing our <a href="https://www.smartsurvey.co.uk/s/directors-conf/" class="govuk-link govuk-link--no-visited-state">quick survey</a>.</p>
</div>
</div>
<h2 class="govuk-heading-m">Contact us</h2>
<p class="govuk-body">If you have a question about your submission, you can contact us.</p>
<h3 class="govuk-heading-s">Telephone</h3>
<ul class="govuk-list">
<li>0303 1234 500</li>
<li>Monday to Friday, 8:30am to 6pm</li>
</ul>
<p class="govuk-body">
<a class="govuk-link" href="https://www.gov.uk/call-charges">Find out about call charges</a>
</p>

<h3 class="govuk-heading-s">Email</h3>

<ul class="govuk-list">
<li>
  <a class="govuk-link" href="https://www.gov.uk/call-charges">enquiries@companieshouse.gov.uk</a>
</li>
</ul>

{% endblock %}
