{% set title = "Accessibility statement for the Remove a company director service " %}
{% extends "layouts/main.html" %}
{% block pageTitle %}
  {{title}}
  -
  {{serviceName}}
  - GOV.UK
{% endblock %}
{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:history.back()"
}) }}
{% endblock %}
{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">


    <h1 class="govuk-heading-l">
      Accessibility statement for the Remove a company director service 
         </h1>

         <ul class="govuk-list govuk-list--bullet">
                <li><a href="#about-service">About this service</a></li>
                <li><a href="#how-accessible">How accessible this service is</a></li>
                <li><a href="#reporting">Reporting accessibility problems with this service</a></li>
                <li><a href="#enforcement">Enforcement procedure</a></li>
                <li><a href="#technical-information">Technical information about this service’s accessibility</a></li>
                <li><a href="#non-accessible-content">Non-accessible content</a></li>
                <li><a href="#were-doing">What we’re doing to improve accessibility</a></li>
                <li><a href="#preparation-of-statement">Preparation of this accessibility statement</a></li>
                
              </ul>

              <h2 class="govuk-heading-m" id="about-service">About this service</h2>

              <p class="govuk-body">This accessibility statement applies to the Remove a company director service.</p>

              <p class="govuk-body">This service is run by <a class="govuk-link" href="https://www.gov.uk/government/organisations/companies-house">Companies House</a>. We want as many people as possible to be able to use this service. For example, that means you should be able to:</p>

         <ul class="govuk-list govuk-list--bullet">
           <li>change colours, contrast levels and fonts</li>
           <li>zoom in up to 300% without the text disappearing off the screen</li>
           <li>navigate most of the service using just a keyboard</li>
           <li>navigate most of the service using speech recognition software</li>
           <li>listen to most of the service using a screen reader (including the most recent versions of JAWS, NVDA and VoiceOver)</li>
         </ul>

       <br>

       <p class="govuk-body">We’ve also made the service text as simple as possible to understand.</p>

       <p class="govuk-body"><a class="govuk-link" href="https://www.gov.uk/guidance/accessibility-support-for-companies-house-users">Find out more about accessibility support for Companies House users.</a></p>

       {{ govukInsetText({
          html: '<a class="govuk-link" href="https://mcmw.abilitynet.org.uk/">AbilityNet has advice on making your device easier to use if you have a disability.</a>'
        }) }}


       <h2 class="govuk-heading-m" id="how-accessible">
           How accessible this service is
       </h2>

      <p class="govuk-body">We know some parts of this service are not fully accessible:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>there is not enough colour contrast between text and its background on a small number of pages</li>
      </ul>


       <h2 class="govuk-heading-m" id="reporting">
           Reporting accessibility problems with this service
       </h2>

       <p class="govuk-body">We’re always looking to improve the accessibility of this service. If you find any problems not listed on this page or think we’re not meeting accessibility requirements, you can find contact details on our
           <a class="govuk-link" href="https://www.gov.uk/guidance/accessibility-support-for-companies-house-users">accessibility support for Companies House users</a> page.
       </p>

       <h2 class="govuk-heading-m" id="enforcement">
           Enforcement procedure
       </h2>

       <p class="govuk-body">The Equality and Human Rights Commission (EHRC) is responsible for enforcing the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018 (the ‘accessibility regulations’). If you’re not happy with how we
           respond to your complaint,
           <a class="govuk-link" href="https://www.equalityadvisoryservice.com/">contact the Equality Advisory and Support Service (EASS)</a>.
       </p>

       <h2 class="govuk-heading-m" id="technical-information">
           Technical information about this service’s accessibility
       </h2>

       <p class="govuk-body">Companies House is committed to making its website accessible in accordance with the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018.</p>
       
       <h3 class="govuk-heading-s" id="compliance-status">
        Compliance status 
      </h3>

      <p class="govuk-body">This website is partially compliant with the <a href="https://www.w3.org/TR/WCAG21/">Web Content Accessibility Guidelines version 2.1</a> AA standard, due to the non-compliances listed below.</p>

       <h2 class="govuk-heading-m" id="non-accessible-content">
           Non-accessible content
       </h2>

       <p class="govuk-body">The content listed below is non-accessible for the following reasons.</p>

       <h3 class="govuk-heading-s" id="non-compliance">Non-compliance with the accessibility regulations</h3>

       <p class="govuk-body">There is not enough colour contrast between text and its background on a small number of pages. This fails WCAG 2.1 success criterion <a href="https://www.w3.org/WAI/WCAG21/Understanding/contrast-minimum.html">1.4.3 Contrast (Minimum).</a> </p>

       <p class="govuk-body">We plan to fix this issue by [Month] 2023. </p>

       <h2 class="govuk-heading-m" id="were-doing">
           What we’re doing to improve accessibility
       </h2>

       <p class="govuk-body">To improve this service's accessibility, we:</p>

       <ul class="govuk-list govuk-list--bullet">
           <li>work with real users who have accessibility issues to make sure that our services meet their needs</li>
           <li>carry out internal tests for compliance with Web Content Accessibility Guidelines V2.1 level A and level AA</li>
           <li>work with external agencies in major UK cities to perform usability research with users</li>
           <li>recruit users through
               <a class="govuk-link" href="https://www.gov.uk/government/news/help-improve-companies-house">our user panel</a>
               and agencies to take part in usability sessions</li>
           <li>build and test our services to meet
               <a class="govuk-link" href="https://www.gov.uk/service-manual/helping-people-to-use-your-service/making-your-service-accessible-an-introduction#meeting-government-accessibility-requirements">government accessibility requirements</a>
           </li>

       </ul>


       <p class="govuk-body"><a class="govuk-link" href="https://companieshouse.blog.gov.uk/category/user-research/">Read our blogs about usability</a>
             to find out more about our user research work.</p>

      <h2 class="govuk-heading-m" id="preparation-of-statement">
        Preparation of this accessibility statement 
      </h2>

      <p class="govuk-body">This statement was prepared on 13 July 2023. It was last reviewed on 14 July 2023. </p>
      <p class="govuk-body">This service was last tested on 10 July 2023. The test was carried out internally. </p>

      <p class="govuk-body">We tested the entire end to end journey.</p>




  </div>
</div>

{% endblock %}
