{% set title = "Enter the company authentication code" %}
{% extends "layout.html" %}
{% block pageTitle %}
  Enter the company authentication code -
  {{serviceName}}
  - GOV.UK
{% endblock %}
{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:history.back()"
}) }}
{% endblock %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <form action="/auth-code" method="post">
        {% if errorAuth == true %}
          {{ govukErrorSummary({
            titleText: "There is a problem",
            errorList: errorList
          }) }}
          {{ govukInput({
            label: {
              text: "Enter the company authentication code",
              classes: "govuk-label--l"
            },
            classes: "govuk-input--width-10",
            hint: {
              text: "You need the authentication code to submit company information for " + company.company_name + " ."
            },
            id: "authNumber",
            name: "authNumber",
            errorMessage: {
              text: "Enter the company authentication code"
            }
          }) }}
        {% else %}
          {{ govukInput({
          label: {
            text: "Enter the company authentication code",
            classes: "govuk-label--l"
          },
          classes: "govuk-input--width-10",
          hint: {
            text: "You need the authentication code to submit company information for " + company.company_name + " ."
          },
          id: "authNumber",
          name: "authNumber"
          }) }}
        {% endif %}
        {{ govukDetails({
          summaryText: "Help with authentication code",
          html: "<p>This is a 6 character code issued by us to each company. The code is used to authorise online filings.<p>

          </p>Read the <a target='blank' href='https://www.gov.uk/guidance/company-authentication-codes-for-online-filing'>guidance about how to request an authentication code (opens in a new tab)</a>.</p>"
         }) }}
        {{ govukButton({
         text: "Continue"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}