{% set title = "Check your answers before submitting the update" %}
{% extends "layout.html" %}
{% block pageTitle %}
  {{title}}
  -
  {{serviceName}}
  - GOV.UK
{% endblock %}
{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:history.back()"
}) }}
{% endblock %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <!--Choose the page title depending on the journey-->
      {% if type == 'remove' %}
        <h1 class="govuk-heading-l">Check your answers before submitting</h1>
      {% elif type == 'update' %}
        <h1 class="govuk-heading-l">Check your answers before submitting the PSC update</h1>
      {% elif type == 'addstatement' %}
        <h1 class="govuk-heading-l">Check your answers before submitting </h1>
      {% elif type == 'removestatement' %}
      <h1 class="govuk-heading-l">Check your answers before submitting</h1>
      {% else %}
        <h1 class="govuk-heading-l">Check your answers before submitting</h1>
      {% endif %}
      <!--Display the company details for all 3 journeys-->
      <!--<h2 class="govuk-heading-m">Company details</h2>
      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Company name
          </dt>
          <dd class="govuk-summary-list__value">
            ZENITH PRINT (UK) LIMITED
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Company number
          </dt>
          <dd class="govuk-summary-list__value">
            02050399
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Registered office address
          </dt>
          <dd class="govuk-summary-list__value">
            Tesco House, Shire Park, Kestrel Way, Welwyn Garden City, AL7 1GA
          </dd>
      </dl>-->
      <!--To make things easier to read the remove, update, appoint have been seperated and can be found in the includes folder-->
      {% if type == 'remove' %}
        {% include "includes/remove-check-your-answers.html" %}
      
      {% elif (data['type-of-psc'] === "orp") or (data['type-control'] === "orp") %}
      {% include "includes/appoint-orp-check-your-answers.html" %}
      
      {% elif type == 'update' %}
         {% include "includes/update-check-your-answers.html" %}
      
      {% elif type == 'addstatement' %}
         {% include "includes/add-statement-check-your-answers.html" %}
      
      {% elif type == 'removestatement' %}
        {% include "includes/remove-statement-check-your-answers.html" %}
      
      {% elif (data['type-of-psc'] === "person") or (data['type-control'] === "person") %}
        {% include "includes/appoint-check-your-answers.html" %}

      {% endif %}
      {{ govukButton({
        text: "Submit",
        href: "confirmation"
      }) }}
    </form>
    </div>
  </div>
{% endblock %}
