{% set title = "Check your answers before submitting the update" %}
{% extends "layout.html" %}
{% block pageTitle %}
  {{title}}
  -
  {{serviceName}}
  - GOV.UK
{% endblock %}
{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:history.back()"
}) }}
{% endblock %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

 <form action="/check-your-answers-alt" method="post">
 <span class="govuk-caption-l">Kathryn Rebecca Davis </span>
<h1 class="govuk-heading-l">Check your answers before submitting the update</h1>

<h2 class="govuk-heading-m">Director details</h2>

{{ govukSummaryList({
        classes: "govuk-!-margin-bottom-9",
        rows: [
          {
            key: {
              text: "Name"
            },
            value: {
              text: "Kathryn Rebecca Baker"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "name"
                }
              ]
            }
          },
          {
            key: {
              text: "Nationality"
            },
            value: {
              text: "British"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "nationality"
                }
              ]
            }
          },
          {
            key: {
              text: "Occupation"
            },
            value: {
              html: "Director"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "occupation"
                }
              ]
            }
          }
        ]
      }) }}     


<dl class="govuk-summary-list">

<div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key govuk-heading-m">
             Address details
            </dt>
            
            <dd class="govuk-summary-list__value govuk-visually-hidden">
            Change the director's address details
                
            
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="update-address/correspondence-address">
              Change<span class="govuk-visually-hidden"> the director's address details. </span>
              </a>
            </dd>

            
          </div>

            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Correspondence address
              </dt>

              <!-- If address is changed display the updated address -->
              {% if data['addressChangesMade'] == true %}


              <dd class="govuk-summary-list__value">
                Stornoway House, <br>
                13 Cleveland Row,<br>
                London<br>
                SW1A 1GG <br>

                <!-- <strong class="govuk-tag govuk-tag--turquoise">
                  Linked to registered office address
                </strong> -->
          
            </dd>


              {% else %}

              <dd class="govuk-summary-list__value">
               <!-- 12 Bressenden Place<br>
                London<br>
                England<br>
                SW1E 5DH <br> -->

                <!-- <strong class="govuk-tag govuk-tag--turquoise">
                  Linked to registered office address
                </strong> -->
                <p class="govuk-body"> Correspondence address is the same as the registered office address </p> 
              </dd>

              <!-- If no changes have been made, display the default address -->
              {% endif %}
              
             
               
              

            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Home address
              </dt>
              <dd class="govuk-summary-list__value">
                72 Guild Street<br>London<br>SE23 6FH<br> United Kingdom
              </dd>
              <dd class="govuk-summary-list__actions">
                
              </dd>

              
            </div>

            

          </dl>



  


<div class="govuk-button-group">
      {{ govukButton({
        text: "Confirm and submit"
      }) }}

      <a class="govuk-link" href="directors">Cancel</a>
</div>
    </form>
    </div>
  </div>
{% endblock %}
