{% set title = "Check your answers before submitting the update" %}
{% extends "layout.html" %}
{% block pageTitle %}
  {{title}}
  -
  {{serviceName}}
  - GOV.UK
{% endblock %}
{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:history.back()"
}) }}
{% endblock %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

<h1 class="govuk-heading-l">Check your answers before submitting the appointment</h1>


      <h2 class="govuk-heading-m">Updates made</h2>

<table class="govuk-table">
  
  <caption class="govuk-table__caption govuk-visually-hidden">Updates</caption>
  
  
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
    
      <th scope="col" class="govuk-table__header"><span class="govuk-visually-hidden">Type</span></th>
    
      <th scope="col" class="govuk-table__header">Previous</th>
    
      <th scope="col" class="govuk-table__header">Updated</th>
    
      <th scope="col" class="govuk-table__header"><span class="govuk-visually-hidden">Update the details</span></th>
    
    </tr>
  </thead>
  
  <tbody class="govuk-table__body">
    
        <tr class="govuk-table__row">
          
          <th scope="row" class="govuk-table__header">Name</th>

          <td class="govuk-table__cell">DAVIS, Kathryn Ruth</td>

          <td class="govuk-table__cell"><span style="text-transform: uppercase">{{ data['updateLastName'] }}</span>, {{ data['updateFirstName'] }} {{ data['updateMiddleName'] }}</td>

          <td class="govuk-table__cell"><a class="govuk-link" href="name?officer={{details}}">Change<span class="govuk-visually-hidden"> name</span></a></td>

        </tr>
      
    
  </tbody>
</table>


      <h2 class="govuk-heading-m">Date of change</h2>


  {{ govukSummaryList({
        classes: 'govuk-!-margin-bottom-9',
        rows: [
        {
            key: {
              text: "Date of change"
            },
            value: {
              text: "23 September 2022"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "Date of change"
         }
              ]
            }
          }
        ]
      }) }}


  

      {{ govukButton({
        text: "Confirm and submit",
        href: "confirmation"
      }) }}
    </form>
    </div>
  </div>
{% endblock %}
