{% set title = "Enter the company authentication code" %}
{% extends "layout.html" %}
{% block pageTitle %}
  {{director.name}}
  -
  {{serviceName}}
  - GOV.UK
{% endblock %}
{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:history.back()"
}) }}
{% endblock %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <h1 class="govuk-heading-l">Check your answers before submitting</h1>

      <h2 class="govuk-heading-m">Company details</h2>
      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Company name
          </dt>
          <dd class="govuk-summary-list__value">
            {{company.company_name}}
          </dd>
        </div>
           <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Company number
          </dt>
          <dd class="govuk-summary-list__value">
            {{company.company_number}}
          </dd>
        </div>
      </dl>
      {% if type == 'remove' %}
                <h2 class="govuk-heading-m">Director details</h2>
      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Name
          </dt>
          <dd class="govuk-summary-list__value">
            Mr Alan Demo
          </dd>
          <dd class="govuk-summary-list__actions">

          </dd>
        </div>
           <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Date the director was removed from the company
          </dt>
          <dd class="govuk-summary-list__value">
            20 01 2022
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">
              Change<span class="govuk-visually-hidden"> date</span>
            </a>
          </dd>
        </div>
      </dl>

      {% else %}
       <h2 class="govuk-heading-m">Appointment details</h2>
      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Name
          </dt>
          <dd class="govuk-summary-list__value">
            {{data['firstname']}} {{data['middle-name']}} {{data['last-name']}}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">
              Change<span class="govuk-visually-hidden"> name</span>
            </a>
          </dd>
        </div>
           <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Nationality
          </dt>
          <dd class="govuk-summary-list__value">
            British
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">
              Change<span class="govuk-visually-hidden"> name</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Date of birth
          </dt>
          <dd class="govuk-summary-list__value">
            {{data['dob-day']}} {{data['dob-month']}} {{data['dob-year']}}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">
              Change<span class="govuk-visually-hidden"> date of birth</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Job title
          </dt>
          <dd class="govuk-summary-list__value">
            Finance Director
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">
              Change<span class="govuk-visually-hidden"> contact information</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Home address
          </dt>
          <dd class="govuk-summary-list__value">
             1 High Street <br>Cardiff <br> CF1 1AB
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">
              Change<span class="govuk-visually-hidden"> contact details</span>
            </a>
          </dd>
        </div>
                <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Postal address
          </dt>
          <dd class="govuk-summary-list__value">
             2 Queen Street <br>Bristol <br>BS1 1YZ
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">
              Change<span class="govuk-visually-hidden"> contact details</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Date of appointment
          </dt>
          <dd class="govuk-summary-list__value">
            {{data['director-appointed-day']}} {{data['director-appointed-month']}} {{data['director-appointed-year']}}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">
              Change<span class="govuk-visually-hidden"> contact details</span>
            </a>
          </dd>
        </div>
      </dl>
      {% endif %}

      <div>

        <p>By submitting this information, you are confirming that the person named has consented to act as a director.</p>
        <br>
      </div>
        {{ govukButton({
          text: "Confirm and submit",
          href: "confirmation"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}
