{% set title = "Tell us your company number" %}
{% extends "layout.html" %}
{% block pageTitle %}
  What is the company number? - Upload a document to Companies House - GOV.UK
{% endblock %}
{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.back()"
  }) }}
{% endblock %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <form action="/company-lookup" method="post">
        {% if errorNum == true %}
          {{ govukErrorSummary({
            titleText: "There is a problem",
            errorList: errorList
          }) }}
          {{ govukInput({
            label: {
              text: "What is the company number? ",
              classes: "govuk-label--l"
            },
            hint: {
              text: "This is the 8 character reference issued by Companies House when the company was set up."
            },
            classes: "govuk-input--width-10",
            id: "companynumber",
            name: "companynumber",
            errorMessage: {
              text: "Enter the company number"
            }
          }) }}
        {% else %}
          {{ govukInput({
            label: {
              text: "What is the company number? ",
              classes: "govuk-label--l"
            },
            classes: "govuk-input--width-10",
              id: "companynumber",
              name: "companynumber"
            }) }}
        {% endif %}
        {{ govukDetails({
          summaryText: "Help with company number",
          html: "<p>You can find this by searching for the company on the <a target='blank' href='https://beta.companieshouse.gov.uk/'>Companies House register (opens in a new tab)</a>.</p>"
        }) }}
        {{ govukButton({
          text: "Continue"
        }) }}
        {{ govukButton({
          text: "Continue (new)",
          href: "directors"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}
