{% set title = "Enter the company authentication code" %}
{% extends "layout.html" %}
{% block pageTitle %}
  {{director.name}}
  -
  {{serviceName}}
  - GOV.UK
{% endblock %}

{% block content %}

{% set reference %}
    {{ ["H","D","C","E","F","G","X","Z","L"] | random }}{{ ["O","P","D","T","J","K","E","X","Q"] | random }}{{ ["I","U","D","V","C","W","L","S","B"] | random }}{{ [1,2,3,4,5,6,7,8,9] | random }}{{ [1,2,3,4,5,6,7,8,9] | random }}{{ [1,2,3,4,5,6,7,8,9] | random }}{{ ["I","U","D","V","C","W","L","S","B"] | random }}
{% endset -%}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <!--Change of the director-->
      {% if type == 'update' %}
        {{ govukPanel({
          titleText: "Update submitted",
          html: "Your reference number is<br><strong>" + reference + "</strong>"
        }) }}
        <table class="govuk-table">
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Update type</th>
              <td class="govuk-table__cell">Update of nationality</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Company number</th>
              <td class="govuk-table__cell">{{company.company_number}}</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Company name</th>
              <td class="govuk-table__cell">{{company.company_name}}</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Director name</th>
              <td class="govuk-table__cell">Mr Alan Demo</td>
            </tr>
          </tbody>
        </table>
      <!--Appointment of the director-->
      {% elif type == 'add' %}
        {{ govukPanel({
          titleText: "Appointment submitted",
          html: "Your reference number is<br><strong>" + reference + "</strong>"
        }) }}
        <table class="govuk-table">
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Update type</th>
              <td class="govuk-table__cell">Appointment of a director</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Company number</th>
              <td class="govuk-table__cell">{{company.company_number}}</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Company name</th>
              <td class="govuk-table__cell">{{company.company_name}}</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Director name</th>
              <td class="govuk-table__cell">{{data['firstname']}} {{data['middle-name']}} {{data['last-name']}}</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Date of appointment</th>
              <td class="govuk-table__cell">{{data['director-appointed-day']}} {{data['director-appointed-month']}} {{data['director-appointed-year']}}</td>
            </tr>
          </tbody>
        </table>
      <!--Removal of the director-->
      {% else %}
        {{ govukPanel({
          titleText: "Removal of director submitted",
          html: "Your reference number is<br><strong>" + reference + "</strong>"
        }) }}
        <table class="govuk-table">
          <tbody class="govuk-table__body">

            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Company number</th>
              <td class="govuk-table__cell">{{company.company_number}}</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Company name</th>
              <td class="govuk-table__cell">{{company.company_name}}</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Director name</th>
              <td class="govuk-table__cell">Mr Alan Demo</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Removed on</th>
              <td class="govuk-table__cell">28 April 2021</td>
            </tr>
          </tbody>
        </table>
      {% endif %}
      <h3 class="govuk-heading-m">What happens next</h3>
      <p class="govuk-body">We'll send a confirmation email to
        <strong>{{ data['email'] }}</strong>
        which contains your reference number.</p>
      <p class="govuk-body">An examiner will process the submission to check if it’s acceptable for filing. This can take up to 48 hours.</p>
      <p class="govuk-body">We'll email you to tell you if the submission was accepted. If the submission is rejected, we'll email you to let you know what to do next.</p>
      <h2 class="govuk-heading-m">What do you want to do next?</h2>
      <ul class="govuk-list govuk-list--spaced">
        <li>
          <a href="../directors" class="govuk-link govuk-link--no-visited-state">Update director information for the same company</a>
        </li>
        <li>
          <a href="../company-lookup" class="govuk-link govuk-link--no-visited-state">Update director information for a different company</a>
        </li>
        <li>
          <a href="../start" class="govuk-link govuk-link--no-visited-state">Sign out</a>
        </li>
      </ul>

      <h3 class="govuk-heading-m">Feedback</h3>
      <p class="govuk-body">This is a new service. Help us improve it by completing our <a href="https://www.smartsurvey.co.uk/s/directors-conf/" class="govuk-link govuk-link--no-visited-state">quick survey</a>.</p>
  </div>
</div>
{% endblock %}
