{% set title = "Enter the company authentication code" %}
{% extends "layout.html" %}
{% block pageTitle %}
  {{director.name}}
  -
  {{serviceName}}
  - GOV.UK
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      {{ govukPanel({
       titleText: "Update received",
       html: "Your reference number is<br><strong>HDJ2123F</strong>"
      }) }}
      {{ govukTable({
        rows: [
        [
          {
            text: "Update type"
          },
          {
            text: "Appointment of a director"
          }
        ],
          [
            {
              text: "Company number"
            },
            {
              text: "00066516"
            }
          ],
          [
            {
              text: "Company name"
            },
            {
              text: "WEST HAM UNITED FOOTBALL CLUB LIMITED"
            }
          ],
          [
            {
              text: "Officer name"
            },
            {
              text: "Miss Anna Thomas"
            }
          ],
          [
            {
              text: "Appointed on"
            },
            {
              text: "28 April 2021"
            }
          ]
        ]
      }) }}
      <h3 class="govuk-heading-m">What happens next</h3>
      <p class="govuk-body">We'll send a confirmation email to
        <strong>pdavies@gmail.com</strong>
        which contains your reference number.</p>
      <p class="govuk-body">An examiner will process the submission to check if it’s acceptable for filing. This can take up to 48 hours.</p>
      <p class="govuk-body">We'll email you to tell you if the submission is acceptable for filing. If the submission is not acceptable, we'll email you to let you know what to do next.</p>
      <h2 class="govuk-heading-m govuk-!-margin-bottom-0">What do you want to do next?</h2>
      <br>
      <div>
        <p class="govuk-body">
          <a href="../directors" class="govuk-link govuk-link--no-visited-state">Update officer information for the same company</a>
        </p>
      </div>
      <div>
        <p class="govuk-body">
          <a href="../company-lookup" class="govuk-link govuk-link--no-visited-state">Update officer information for a different company</a>
        </p>
      </div>
       <div>
        <p class="govuk-body">
          <a href="../start" class="govuk-link govuk-link--no-visited-state">Sign out</a>
        </p>
      </div>
       <div>
         <br>
           <h3 class="govuk-heading-m">Feedback</h3>
        <p class="govuk-body">This is a new service. Help us improve it by completing our
          <a href="#" class="govuk-link govuk-link--no-visited-state">quick survey</a>.
        </p>
      </div>
    </div>
  </div>
</div>
{% endblock %}
