{% set title = "Enter the company authentication code" %}
{% extends "layout.html" %}
{% block pageTitle %}

  -
  {{serviceName}}
  - GOV.UK
{% endblock %}

{% block beforeContent %}
  {% include "includes/back-link.html" %}
  {% include "includes/user-bar.html" %}
{% endblock %}

{% block content %}

<!-- To generate a random reference number it just has the values 1 through to 9 and then it says random at the end so it'll randomly generate a number between 1 and 9 -->
{% set reference %}
    {{ [1,2,3,4,5,6,7,8,9] | random }}{{ [1,2,3,4,5,6,7,8,9] | random }}{{ [1,2,3,4,5,6,7,8,9] | random }}{{ [1,2,3,4,5,6,7,8,9] | random }}{{ [1,2,3,4,5,6,7,8,9] | random }}{{ [1,2,3,4,5,6,7,8,9] | random }}-{{ [1,2,3,4,5,6,7,8,9] | random }}{{ [1,2,3,4,5,6,7,8,9] | random }}{{ [1,2,3,4,5,6,7,8,9] | random }}{{ [1,2,3,4,5,6,7,8,9] | random }}{{ [1,2,3,4,5,6,7,8,9] | random }}{{ [1,2,3,4,5,6,7,8,9] | random }}-{{ [1,2,3,4,5,6,7,8,9] | random }}{{ [1,2,3,4,5,6,7,8,9] | random }}{{ [1,2,3,4,5,6,7,8,9] | random }}{{ [1,2,3,4,5,6,7,8,9] | random }}{{ [1,2,3,4,5,6,7,8,9] | random }}{{ [1,2,3,4,5,6,7,8,9] | random }}
{% endset -%}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <!--Change of the director-->
    
        {{ govukPanel({
          titleText: "Director update submitted",
          html: "Reference number<br><strong>" + reference + "</strong>"
        }) }}
       <table class="govuk-table">
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Company number</th>
              <td class="govuk-table__cell">02050399</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Company name</th>
              <td class="govuk-table__cell">ZENITH PRINT (UK) LIMITED</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Director</th>
              <td class="govuk-table__cell"> 

                  <!-- secure user-->
               {% if data['secure-user'] == true %}

               {{ data['secureFirstName'] }} {{ data['secureMiddleName'] }} {{ data['secureLastName'] }}
                      
               {% else  %}
               <!-- standard user-->
               {{ data['updateFirstName'] }} {{ data['updateMiddleName'] }} {{ data['updateLastName'] }}
       
               {% endif %}
                
        
              
              
              </td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Update submitted</th>
              <td class="govuk-table__cell"> Nationality <br> Occupation</td>
            </tr>

          </tbody>
        </table>
    

      
      <h3 class="govuk-heading-m">What happens next</h3>
      <p class="govuk-body">We'll send a confirmation email to
        <strong>{{ data['email'] }}</strong>
        which contains your reference number.</p>
      <p class="govuk-body">We'll usually email you within 2 working days to let you know if your filing has been accepted or rejected.</p>
      <p class="govuk-body">If it's accepted, we'll add it to the company's filing history on the <a href="https://find-and-update.company-information.service.gov.uk/">Companies House register</a>. If it's rejected, we'll email you to let you know what to do next.</p>
      <h2 class="govuk-heading-m">What do you want to do next?</h2>
      <ul class="govuk-list govuk-list--spaced">
        <li>
          <a href="../directors" class="govuk-link govuk-link--no-visited-state">Update director information for the same company</a>
        </li>
        <li>
          <a href="../company-lookup" class="govuk-link govuk-link--no-visited-state">Update director information for a different company</a>
        </li>
      </ul>
      <h3 class="govuk-heading-m">Feedback</h3>
      <p class="govuk-body">This is a new service. Help us improve it by completing our <a href="https://www.smartsurvey.co.uk/s/directors-conf/" class="govuk-link govuk-link--no-visited-state">quick survey</a>.</p>
 
 

 
  </div>
</div>
{% endblock %}
