{% set title = "Enter the company authentication code" %}
{% extends "layout.html" %}
{% block pageTitle %}
  {{company.company_name}}
  -
  {{serviceName}}
  - GOV.UK
{% endblock %}
{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:history.back()"
}) }}
{% endblock %}
{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <div>
        <h1 class="govuk-heading-xl">{{company.company_name}}</h1>
      </div>
      <div class="flex">
        <p>Company number</p>
        <p class="govuk-!-font-weight-bold  govuk-!-padding-left-2">{{company.company_number}}</p>
      </div>
      {% extends "layout.html" %}
      {{ govukButton({
  text: "Follow this company"
  }) }}

      {{ govukButton({
  text: "File for this company"
  }) }}
      {% set peopleHtml %}
      <div>
        <p class="govuk-body">
          <a href="add/start-director" class="govuk-link govuk-link--no-visited-state">Appoint new Director</a>
        </p>
      </div>
      <div>
        <p class="govuk-body">
          <a href="add/start-secretary" class="govuk-link govuk-link--no-visited-state">Appoint new Secretary</a>
        </p>
      </div>
      {% for officer in officers.items %}
        {% if officer.officer_role === 'secretary' %}
          <div class="govuk-summary-card govuk-!-margin-bottom-4">
            <div class="govuk-summary-card_heading govuk-!-padding-top-4 govuk-!-padding-bottom-4 govuk-!-padding-right-3 govuk-!-padding-left-3" style="display: flex; justify-content: space-between; align-items: center">
              <p class="govuk-!-font-weight-bold govuk-!-margin-0">{{officer.name}}</p>
              {% if officer.resigned_on %}
                {{govukTag({
                    text: "Resigned",
                    classes: "govuk-tag--orange"
                  })}}
              {% else %}
                {{govukTag({
                    text: "Active",
                    classes: "govuk-tag--green"
                  })}}
              {% endif %}
            </div>
            <div style="display: flex" class="govuk-!-padding-1">
              <dl style="display: block" class="govuk-summary-list govuk-!-margin-3">
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">Correspondence address</dt>
                  <dd class="govuk-summary-list__value">
                    {% if officer.address.premises %}
                      {{officer.address.premises}},
                    {% endif %}
                    {% if officer.address.address_line_1 %}
                      {{officer.address.address_line_1}},
                    {% endif %}
                    {% if officer.address.address_line_2 %}
                      {{officer.address.address_line_2}},
                    {% endif %}
                    {% if officer.address.locality %}
                      {{officer.address.locality}},
                    {% endif %}
                    {% if officer.address.region %}
                      {{officer.address.region}},
                    {% endif %}
                    {% if officer.address.postal_code %}
                      {{officer.address.postal_code}}
                    {% endif %}
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">Role</dt>
                  <dd class="govuk-summary-list__value">
                    {{officer.officer_role | capitalize}}
                  </dd>
                </div>
                {% if officer.resigned_on %}
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">Resigned on</dt>
                    <dd class="govuk-summary-list__value" style="direction:rtl; text-align: left">
                      {% set filteredDate = officer.resigned_on %}
                      {{ filteredDate | replace("-", " ")}}
                    </dd>
                  </div>
                {% else %}
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">Appointed on</dt>
                    <dd class="govuk-summary-list__value" style="direction:rtl; text-align: left">
                      {% set filteredDate = officer.appointed_on %}
                      {{ filteredDate | replace("-", " ")}}
                    </dd>
                  </div>
                {% endif %}
              </dl>
            </div>
            <div>
              {% if officer.resigned_on %}
                <div class="flex">
                  {# <div class="govuk-!-padding-top-5 govuk-!-padding-left-3 govuk-!-padding-right-8">
                    <p class="govuk-body">
                      <a href="change/change?director={{officer.links.self}}" class="govuk-link govuk-link--no-visited-state">Change details</a>
                    </p>
                  </div>
                  <div class="govuk-!-padding-top-5">
                    <p class="govuk-body">
                      <a href="reappoint/reappoint?director={{officer.links.self}}" class="govuk-link govuk-link--no-visited-state">Reappoint officer</a>
                    </p>
                  </div> #}
                </div>
              {% else %}
                <div style="display: flex">
                  <div class="govuk-!-padding-top-5 govuk-!-padding-left-3 govuk-!-padding-right-8">
                    <p class="govuk-body">
                      <a href="change/start?director={{officer.links.self}}" class="govuk-link govuk-link--no-visited-state">Update secretary details</a>
                    </p>
                  </div>
                  <div class="govuk-!-padding-top-5">
                    <p class="govuk-body">
                      <a href="remove/start?director={{officer.links.self}}" class="govuk-link govuk-link--no-visited-state">Remove secretary</a>
                    </p>
                  </div>
                </div>
              {% endif %}
            </div>
          </div>
        {% elif officer.officer_role === 'director' %}
        <div class="govuk-summary-card govuk-!-margin-bottom-4">
          <div class="govuk-summary-card_heading govuk-!-padding-top-4 govuk-!-padding-bottom-4 govuk-!-padding-right-3 govuk-!-padding-left-3" style="display: flex; justify-content: space-between; align-items: center">
            <p class="govuk-!-font-weight-bold govuk-!-margin-0">{{officer.name}}</p>
            {% if officer.resigned_on %}
              {{govukTag({
                  text: "Resigned",
                  classes: "govuk-tag--orange"
                })}}
            {% else %}
              {{govukTag({
                  text: "Active",
                  classes: "govuk-tag--green"
                })}}
            {% endif %}
          </div>
          <div style="display: flex" class="govuk-!-padding-1">
            <dl style="display: block" class="govuk-summary-list govuk-!-margin-3">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Correspondence address</dt>
                <dd class="govuk-summary-list__value">
                  {% if officer.address.premises %}
                    {{officer.address.premises}},
                  {% endif %}
                  {% if officer.address.address_line_1 %}
                    {{officer.address.address_line_1}},
                  {% endif %}
                  {% if officer.address.address_line_2 %}
                    {{officer.address.address_line_2}},
                  {% endif %}
                  {% if officer.address.locality %}
                    {{officer.address.locality}},
                  {% endif %}
                  {% if officer.address.region %}
                    {{officer.address.region}},
                  {% endif %}
                  {% if officer.address.postal_code %}
                    {{officer.address.postal_code}}
                  {% endif %}
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Role</dt>
                <dd class="govuk-summary-list__value">
                  {{officer.officer_role | capitalize}}
                </dd>
              </div>
              {% if officer.resigned_on %}
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">Resigned on</dt>
                  <dd class="govuk-summary-list__value" style="direction:rtl; text-align: left">
                    {% set filteredDate = officer.resigned_on %}
                    {{ filteredDate | replace("-", " ")}}
                  </dd>
                </div>
              {% else %}
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">Appointed on</dt>
                  <dd class="govuk-summary-list__value" style="direction:rtl; text-align: left">
                    {% set filteredDate = officer.appointed_on %}
                    {{ filteredDate | replace("-", " ")}}
                  </dd>
                </div>
              {% endif %}
            </dl>
          </div>
          <div>
            {% if officer.resigned_on %}
              <div class="flex">
                {# <div class="govuk-!-padding-top-5 govuk-!-padding-left-3 govuk-!-padding-right-8">
                  <p class="govuk-body">
                    <a href="change/change?director={{officer.links.self}}" class="govuk-link govuk-link--no-visited-state">Change details</a>
                  </p>
                </div>
                <div class="govuk-!-padding-top-5">
                  <p class="govuk-body">
                    <a href="reappoint/reappoint?director={{officer.links.self}}" class="govuk-link govuk-link--no-visited-state">Reappoint officer</a>
                  </p>
                </div> #}
              </div>
            {% else %}
              <div style="display: flex">
                <div class="govuk-!-padding-top-5 govuk-!-padding-left-3 govuk-!-padding-right-8">
                  <p class="govuk-body">
                    <a href="change/start?director={{officer.links.self}}" class="govuk-link govuk-link--no-visited-state">Update director details</a>
                  </p>
                </div>
                <div class="govuk-!-padding-top-5">
                  <p class="govuk-body">
                    <a href="remove/start?director={{officer.links.self}}" class="govuk-link govuk-link--no-visited-state">Remove director</a>
                  </p>
                </div>
              </div>
            {% endif %}
          </div>
        </div>
        {% else %}
        <div class="govuk-summary-card govuk-!-margin-bottom-4">
          <div class="govuk-summary-card_heading govuk-!-padding-top-4 govuk-!-padding-bottom-4 govuk-!-padding-right-3 govuk-!-padding-left-3" style="display: flex; justify-content: space-between; align-items: center">
            <p class="govuk-!-font-weight-bold govuk-!-margin-0">{{officer.name}}</p>
            {% if officer.resigned_on %}
              {{govukTag({
                  text: "Resigned",
                  classes: "govuk-tag--orange"
                })}}
            {% else %}
              {{govukTag({
                  text: "Active",
                  classes: "govuk-tag--green"
                })}}
            {% endif %}
          </div>
          <div style="display: flex" class="govuk-!-padding-1">
            <dl style="display: block" class="govuk-summary-list govuk-!-margin-3">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Correspondence address</dt>
                <dd class="govuk-summary-list__value">
                  {% if officer.address.premises %}
                    {{officer.address.premises}},
                  {% endif %}
                  {% if officer.address.address_line_1 %}
                    {{officer.address.address_line_1}},
                  {% endif %}
                  {% if officer.address.address_line_2 %}
                    {{officer.address.address_line_2}},
                  {% endif %}
                  {% if officer.address.locality %}
                    {{officer.address.locality}},
                  {% endif %}
                  {% if officer.address.region %}
                    {{officer.address.region}},
                  {% endif %}
                  {% if officer.address.postal_code %}
                    {{officer.address.postal_code}}
                  {% endif %}
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Role</dt>
                <dd class="govuk-summary-list__value">
                  {{officer.officer_role | capitalize}}
                </dd>
              </div>
              {% if officer.resigned_on %}
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">Resigned on</dt>
                  <dd class="govuk-summary-list__value" style="direction:rtl; text-align: left">
                    {% set filteredDate = officer.resigned_on %}
                    {{ filteredDate | replace("-", " ")}}
                  </dd>
                </div>
              {% else %}
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">Appointed on</dt>
                  <dd class="govuk-summary-list__value" style="direction:rtl; text-align: left">
                    {% set filteredDate = officer.appointed_on %}
                    {{ filteredDate | replace("-", " ")}}
                  </dd>
                </div>
              {% endif %}
            </dl>
          </div>
          <div>
            {% if officer.resigned_on %}
              <div class="flex">
                {# <div class="govuk-!-padding-top-5 govuk-!-padding-left-3 govuk-!-padding-right-8">
                  <p class="govuk-body">
                    <a href="change/change?director={{officer.links.self}}" class="govuk-link govuk-link--no-visited-state">Change details</a>
                  </p>
                </div>
                <div class="govuk-!-padding-top-5">
                  <p class="govuk-body">
                    <a href="reappoint/reappoint?director={{officer.links.self}}" class="govuk-link govuk-link--no-visited-state">Reappoint officer</a>
                  </p>
                </div> #}
              </div>
            {% else %}
              <div style="display: flex">
                <div class="govuk-!-padding-top-5 govuk-!-padding-left-3 govuk-!-padding-right-8">
                  <p class="govuk-body">
                    <a href="change/start?director={{officer.links.self}}" class="govuk-link govuk-link--no-visited-state">Update officer details</a>
                  </p>
                </div>
                <div class="govuk-!-padding-top-5">
                  <p class="govuk-body">
                    <a href="remove/start?director={{officer.links.self}}" class="govuk-link govuk-link--no-visited-state">Remove officer</a>
                  </p>
                </div>
              </div>
            {% endif %}
          </div>
        </div>
        {% endif %}
      {% endfor %}
      {% endset -%}

      {% set filingHistoryHtml %}

      {{ govukTable({
  head: [
    {
      text: "Date",
      classes: 'govuk-!-width-one-quarter'
    },
    {
      text: "Description",
      classes: 'govuk-!-width-one-half'
    },
    {
      html: "View/Download",
      classes: 'govuk-!-width-one-quarter'
    }
  ],
  rows: [
    [
      {
        text: "29 Apr 2019"
      },
      {
        text: " Confirmation statement made on 29 April 2019 with updates"
      },
      {
        html: "<a href='' class='govuk-link govuk-link--no-visited-state'>View PDF</a> (6 pages)"
      }
    ],
    [
      {
        text: "27 Apr 2019"
      },
      {
        text: "Compulsory strike-off action has been discontinued"
      },
      {
       html: "<a href='' class='govuk-link govuk-link--no-visited-state'>View PDF</a> (1 page)"
      }
    ],
    [
      {
        text: "26 Apr 2019"
      },
      {
        text: "Accounts for a dormant company made up to 31 July 2018"
      },
      {
         html: "<a href='' class='govuk-link govuk-link--no-visited-state'>View PDF </a> (2 pages) <a href='' class='govuk-link govuk-link--no-visited-state'>Download iXBRL</a>"
      }
    ],
    [
      {
        text: "19 Feb 2019"
      },
      {
        text: "First Gazette notice for compulsory strike-off"
      },
      {
         text: "Document unavailable"
      }
    ],
    [
      {
        text: "06 Dec 2017"
      },
      {
        text: "Confirmation statement made on 1 December 2017 with updates"
      },
      {
        html: "<a href='' class='govuk-link govuk-link--no-visited-state'>View PDF</a> (2 pages)"
      }
    ],
    [
      {
        text: "04 Dec 2017"
      },
      {
        html: "Termination of appointment of Secretary Ltd as a secretary on 4 December 2017"
      },
      {
        html: "<a href='/CHS-signin' class='govuk-link govuk-link--no-visited-state'>Request document</a>"

      }
    ],
    [
      {
        text: "04 Dec 2016"
      },
      {
        text: "Incorporation Statement of capital on 2015-07-24 GBP 1"
      },
      {
        html: "<a href='' class='govuk-link govuk-link--no-visited-state'>View PDF</a> (36 pages)"
      }
    ]
  ]
}) }}
      {% endset -%}

      {% set socHtml %}
      <a class="button-link" href="/default-pages/start">Update the Share Capital</a>
      {% endset -%}

      {{ govukTabs({
  items: [
    {
      label: "Overview",
      id: "overview",
      panel: {
        html: overviewHtml
      }
    },
    {
      label: "Filing History",
      id: "filing-history",
      panel: {
        html: filingHistoryHtml
      }
    },
    {
      label: "People",
      id: "people",
      panel: {
        html: peopleHtml
      }
    },
       {
      label: "Share Capital",
      id: "soc",
      panel: {
        html: socHtml
      }
    },
    {
      label: "More services",
      id: "view-all",
      panel: {
        html: viewallHtml
      }
    }
  ]
}) }}

    {% endblock %}
  </div>
</div>