{% set title = "Enter the company authentication code" %}
{% extends "layout.html" %}
{% block pageTitle %}
  {{company.company_name}}
  -
  {{serviceName}}
  - GOV.UK
{% endblock %}
{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:history.back()"
}) }}
{% endblock %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">{{company.company_name}}</h1>
      {{ govukButton({
         text: "Appoint new director",
         href: "add/add"
       }) }}
      <h2 class="govuk-heading-m">Active directors</h2>
      {% for officer in officers.items %}
        {% if not (officer.resigned_on) and (officer.officer_role == 'director') %}
          <div class="govuk-summary-card govuk-!-margin-bottom-4">
            <div class="govuk-summary-card_heading govuk-!-padding-top-4 govuk-!-padding-bottom-4 govuk-!-padding-right-3 govuk-!-padding-left-3">
              <p class="govuk-!-font-weight-bold govuk-!-margin-0">{{officer.name}}</p>
            </div>
            <div class="govuk-!-padding-1">
              <dl class="govuk-summary-list govuk-!-margin-3 almost-full-width">
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">Role</dt>
                  <dd class="govuk-summary-list__value">
                    {{officer.officer_role | capitalize}}
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">Date of birth</dt>
                  <dd class="govuk-summary-list__value" style="direction:rtl; text-align: left">
                    {% set filteredDate = officer.appointed_on %}
                    {{ filteredDate | replace("-", " ")}}
                  </dd>
                </div>
              </dl>
            </div>
            <div class="govuk-!-padding-top-1 govuk-!-padding-left-3 govuk-!-padding-right-8">
              <p class="govuk-body">
                <a href="update/change?officer={{officer.links.self}}" class="govuk-link govuk-link--no-visited-state">Change details</a>
                <a href="update/remove?officer={{officer.links.self}}" class="govuk-link govuk-link--no-visited-state govuk-!-margin-left-4">Remove director</a>
              </p>
            </div>
          </div>
        {% endif %}
      {% endfor %}
    {% endblock %}
  </div>
</div>
