{% extends "layout.html" %}
{% block pageTitle %}
  Active directors for ZENITH PRINT (UK) LIMITED
  -
  {{serviceName}}
  - GOV.UK
{% endblock %}
{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "company-lookup"
}) }}
{% endblock %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

     <!-- If a new person has been made and the application is rejected, inital update to the user would be a notification banner -->

     {% if data['newPersonPendingMade'] == true %}

    <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
      <div class="govuk-notification-banner__header">
        <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
          Important
        </h2>
      </div>
      <div class="govuk-notification-banner__content">
        <h3 class="govuk-notification-banner__heading">
          New PSC submission received
        </h3>
          <p class="govuk-body">We’ll send an email to let you know if the submission was accepted or rejected. This page will update if it's accepted.</p>
      </div>
    </div>
            
      {% endif %}


      <span class="govuk-caption-l">ZENITH PRINT (UK) LIMITED</span>
      <h1 class="govuk-heading-l">Active people with significant control (PSCs)</h1>

      {{ govukButton({
        text: "Add new PSC",
        href: "add/name?type=add"
      }) }}

      {{ govukButton({
        text: "Add new statement",
        href: "add/psc-options?type=addstatement"
      }) }}

     <!--  <div class="govuk-summary-card govuk-!-margin-bottom-4">
      <div class="govuk-summary-card_heading govuk-!-padding-top-4 govuk-!-padding-bottom-4 govuk-!-padding-right-3 govuk-!-padding-left-3" style="display: flex; justify-content: space-between; align-items: center">
        <p class="govuk-!-font-weight-bold govuk-!-margin-0">IRVING, Kyrie</p>
          {{govukTag({
              text: "Active",
              classes: "govuk-tag--green"
            })}}
      </div>
    </div> -->

    <!-- Statement 1 - Company does not have a PSC -->
   <!-- <div class="govuk-summary-card govuk-!-margin-bottom-4">
      <div class="govuk-summary-card_heading govuk-!-padding-top-4 govuk-!-padding-bottom-4 govuk-!-padding-right-3 govuk-!-padding-left-3" >
        <p class="govuk-!-font-weight-bold govuk-!-margin-0">PSC statement</p>

      </div>
      <div class="govuk-!-padding-1 govuk-!-margin-3 almost-full-width">
        
        <p class="govuk-body">The company knows or has reasonable cause to believe that there is no registrable person or registrable relevant legal entity in relation to the company.</p>

        <span class="govuk-body govuk-!-font-weight-bold govuk-!-padding-top-4">Notified on        
          <p class="govuk-body govuk-!-padding-top-1">12 December 2012</p> <span>

      </div>
      <div class="govuk-!-padding-left-3">
        <p class="govuk-body">
           <a href="update/remove-statement.html" class="govuk-link govuk-link--no-visited-state">Remove PSC statement</a>
        </p>
      </div>
      </div> -->

      <!-- Statement 2 - Company thinks it has a PSC but not yet identifed PSC -->
     <div class="govuk-summary-card govuk-!-margin-bottom-4">
        <div class="govuk-summary-card_heading govuk-!-padding-top-4 govuk-!-padding-bottom-4 govuk-!-padding-right-3 govuk-!-padding-left-3" >
          <p class="govuk-!-font-weight-bold govuk-!-margin-0">PSC statement</p>
  
        </div>
        <div class="govuk-!-padding-1 govuk-!-margin-3 almost-full-width">
          
          <p class="govuk-body">The company knows or has reasonable cause to believe that there is a registrable person in relation to the company, but it has not identified the registrable person.</p>
  
          <span class="govuk-body govuk-!-font-weight-bold govuk-!-padding-top-4">Notified on        
            <p class="govuk-body govuk-!-padding-top-1">12 January 2023</p> <span>
  
        </div>
        <div class="govuk-!-padding-left-3">
          <p class="govuk-body">
           <a href="update/remove-statement?officer={{officer.links.self}}&type=removestatement&directorname={{officer.name}}" class="govuk-link govuk-link--no-visited-state">Remove PSC statement</a>
          </p>
        </div>
        </div> 

      <!-- Statement 3 - The company has identified a PSC but their required particulars have not all been confirmed -->
     <!-- <div class="govuk-summary-card govuk-!-margin-bottom-4">
        <div class="govuk-summary-card_heading govuk-!-padding-top-4 govuk-!-padding-bottom-4 govuk-!-padding-right-3 govuk-!-padding-left-3" >
          <p class="govuk-!-font-weight-bold govuk-!-margin-0">PSC statement</p>
  
        </div>
        <div class="govuk-!-padding-1 govuk-!-margin-3 almost-full-width">
          
          <p class="govuk-body">The company has identified a registrable person in relation to the company but all the required particulars of that person have not been confirmed.</p>
  
          <span class="govuk-body govuk-!-font-weight-bold govuk-!-padding-top-4">Notified on        
            <p class="govuk-body govuk-!-padding-top-1">12 December 2012</p> <span>
  
        </div>
        <div class="govuk-!-padding-left-3">
          <p class="govuk-body">
            
            <a href="update/remove-statement?officer={{officer.links.self}}&type=removestatement&directorname={{officer.name}}" class="govuk-link govuk-link--no-visited-state">Remove PSC statement</a>
          </p>
        </div>
        </div> -->



      <!-- Statement 4 - The company has not yet completed taking reasonable steps to find their PSC -->
     <!-- <div class="govuk-summary-card govuk-!-margin-bottom-4">
        <div class="govuk-summary-card_heading govuk-!-padding-top-4 govuk-!-padding-bottom-4 govuk-!-padding-right-3 govuk-!-padding-left-3" >
          <p class="govuk-!-font-weight-bold govuk-!-margin-0">PSC statement</p>
  
        </div>
        <div class="govuk-!-padding-1 govuk-!-margin-3 almost-full-width">
          
          <p class="govuk-body">The company has not yet completed taking reasonable steps to find out if there is anyone who is a registrable person or a registrable relevant legal entity in relation to the company.</p>
  
          <span class="govuk-body govuk-!-font-weight-bold govuk-!-padding-top-4">Notified on        
            <p class="govuk-body govuk-!-padding-top-1">12 December 2012</p> <span>
  
        </div>
        <div class="govuk-!-padding-left-3">
          <p class="govuk-body">
            <a href="update/remove-statement.html" class="govuk-link govuk-link--no-visited-state">Remove PSC statement</a>
          </p>
        </div>
        </div> -->



      <!-- Statement 5 - The company has issued a 790D notice that has not been complied with -->
     <!-- <div class="govuk-summary-card govuk-!-margin-bottom-4">
        <div class="govuk-summary-card_heading govuk-!-padding-top-4 govuk-!-padding-bottom-4 govuk-!-padding-right-3 govuk-!-padding-left-3" >
          <p class="govuk-!-font-weight-bold govuk-!-margin-0">PSC statement</p>
  
        </div>
        <div class="govuk-!-padding-1 govuk-!-margin-3 almost-full-width">
          
          <p class="govuk-body">The company has given a notice under section 790D of the Companies Act 2006 which has not been complied with.</p>
  
          <span class="govuk-body govuk-!-font-weight-bold govuk-!-padding-top-4">Notified on        
            <p class="govuk-body govuk-!-padding-top-1">12 December 2012</p> <span>
  
        </div>
        <div class="govuk-!-padding-left-3">
          <p class="govuk-body">
            <a href="update/remove-statement.html" class="govuk-link govuk-link--no-visited-state">Remove PSC statement</a>
          </p>
        </div>
        </div> -->

      <!-- Statement 6 - The company has issued a 790E notice that has not been complied with -->
    <!-- <div class="govuk-summary-card govuk-!-margin-bottom-4">
        <div class="govuk-summary-card_heading govuk-!-padding-top-4 govuk-!-padding-bottom-4 govuk-!-padding-right-3 govuk-!-padding-left-3" >
          <p class="govuk-!-font-weight-bold govuk-!-margin-0">PSC statement</p>
  
        </div>
        <div class="govuk-!-padding-1 govuk-!-margin-3 almost-full-width">
          
          <p class="govuk-body"><name of psc> has failed to comply with a notice given by the company under section 790E of the Companies Act 2006.</p>
  
          <span class="govuk-body govuk-!-font-weight-bold govuk-!-padding-top-4">Notified on        
            <p class="govuk-body govuk-!-padding-top-1">12 December 2012</p> <span>
  
        </div>
        <div class="govuk-!-padding-left-3">
          <p class="govuk-body">
            <a href="update/remove-statement.html" class="govuk-link govuk-link--no-visited-state">Remove PSC statement</a>
          </p>
        </div>
        </div> -->

      <!-- Statement 7 - The company has issued a restrictions notice -->
      <!-- <div class="govuk-summary-card govuk-!-margin-bottom-4">
        <div class="govuk-summary-card_heading govuk-!-padding-top-4 govuk-!-padding-bottom-4 govuk-!-padding-right-3 govuk-!-padding-left-3" >
          <p class="govuk-!-font-weight-bold govuk-!-margin-0">PSC statement</p>
  
        </div>
        <div class="govuk-!-padding-1 govuk-!-margin-3 almost-full-width">
          
          <p class="govuk-body">The company has issued a restrictions notice under paragraph 1 of Schedule 1B to the Companies Act 2006.</p>
  
          <span class="govuk-body govuk-!-font-weight-bold govuk-!-padding-top-4">Notified on        
            <p class="govuk-body govuk-!-padding-top-1">12 December 2012</p> <span>
  
        </div>
        <div class="govuk-!-padding-left-3">
          <p class="govuk-body">
             <a href="update/remove-statement.html" class="govuk-link govuk-link--no-visited-state">Remove PSC statement</a>
          </p>
        </div>
        </div> -->



      
        <!-- PSC Kathyrn Davis -->

      <div class="govuk-summary-card govuk-!-margin-bottom-4">
            <div class="govuk-summary-card_heading govuk-!-padding-top-4 govuk-!-padding-bottom-4 govuk-!-padding-right-3 govuk-!-padding-left-3" >
              <p class="govuk-!-font-weight-bold govuk-!-margin-0">DAVIS, Kathryn Rebecca

           <!-- If an update has been made to the PSC display updates pending tag -->
             {% if data['nameChangesMade'] == true %}
              <strong class="govuk-tag govuk-tag--purple">
                Update received 
              </strong>

              {% endif %} 
              </p>

            </div>
            <div class="govuk-!-padding-1">
              <dl class="govuk-summary-list govuk-!-margin-3 almost-full-width">
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">Role</dt>
                  <dd class="govuk-summary-list__value">
                    <p>PSC</p>
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">Date of birth</dt>
                  <dd class="govuk-summary-list__value">
                    <!-- As this API only takes data from the register we need to make up the date of birth. We generate the day by choosing a random number between 1 to 9. For the month we choose a random month and the same for year. Every time you access this page it'll show a new DoB-->
                    {{ [1,2,3,4,5,6,7,8,9] | random }}
                    {{ ['August','January','December','November','October','March','May','June','July'] | random }}
                    {{ [1982,1964,1990,1986,1974,1962,1994,2001,1980] | random }}
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">Date added</dt>
                  <dd class="govuk-summary-list__value" >
                  <!-- The date filter is a custom filter for this project that can be found in the filters.js folder-->
                  	<p>16 December 2015</p>
                  </dd>
                </div>
              </dl>
            </div>
            <div class="govuk-!-padding-top-1 govuk-!-padding-left-3 govuk-!-padding-right-8">
              <p class="govuk-body">
                <!--For the update and remove journey we put 3 parameters at the end, the officer the person is selecting, the type of change the user is making for example updating the officer and finally the name of the director-->
                <a href="update/change?officer={{officer.links.self}}&type=update&name={{officer.name}}" class="govuk-link govuk-link--no-visited-state">Check and update details</a>
                <a href="update/remove?officer={{officer.links.self}}&type=remove&directorname={{officer.name}}" class="govuk-link govuk-link--no-visited-state govuk-!-margin-left-4">Cease PSC</a>
              </p>
            </div>
            </div>

           


            <div class="govuk-summary-card govuk-!-margin-bottom-4">
                  <div class="govuk-summary-card_heading govuk-!-padding-top-4 govuk-!-padding-bottom-4 govuk-!-padding-right-3 govuk-!-padding-left-3">
                    <p class="govuk-!-font-weight-bold govuk-!-margin-0 govuk-!-padding-right-5">MURRAY, Andy
                      {% if data['removePersonPendingMade'] == true %}

                        <strong class="govuk-tag govuk-tag--purple">
                          CEASED PSC RECEIVED 
                        </strong>

                        {% endif %} 
                    </p>
                  </div>
                  <div class="govuk-!-padding-1">
                    <dl class="govuk-summary-list govuk-!-margin-3 almost-full-width">
                      <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">Role</dt>
                        <dd class="govuk-summary-list__value">
                          <p>PSC</p>
                        </dd>
                      </div>
                      <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">Date of birth</dt>
                        <dd class="govuk-summary-list__value">
                      
                          {{ [1,2,3,4,5,6,7,8,9] | random }}
                          {{ ['August','January','December','November','October','March','May','June','July'] | random }}
                          {{ [1982,1964,1990,1986,1974,1962,1994,2001,1980] | random }}
                        </dd>
                      </div>
                      <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">Date added</dt>
                        <dd class="govuk-summary-list__value" >
                          <p>16 December 2015</p>
                        </dd>
                      </div>
                    </dl>
                  </div>
                  <div class="govuk-!-padding-top-1 govuk-!-padding-left-3 govuk-!-padding-right-8">
                    <p class="govuk-body">
                    
                      <a href="update/change?officer={{officer.links.self}}&type=update&name={{officer.name}}" class="govuk-link govuk-link--no-visited-state">Check and update details</a>
                      <a href="update/remove?officer={{officer.links.self}}&type=remove&directorname={{officer.name}}" class="govuk-link govuk-link--no-visited-state govuk-!-margin-left-4">Cease PSC</a>
                    </p>
                  </div>
              </div>

            <div class="govuk-summary-card govuk-!-margin-bottom-4">
            <div class="govuk-summary-card_heading govuk-!-padding-top-4 govuk-!-padding-bottom-4 govuk-!-padding-right-3 govuk-!-padding-left-3">
            <p class="govuk-!-font-weight-bold govuk-!-margin-0">ACME LTD (01234567)
            </p>
            </div>
            <div class="govuk-!-padding-1">
              <dl class="govuk-summary-list govuk-!-margin-3 almost-full-width">
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">Role</dt>
                  <dd class="govuk-summary-list__value">
                    <p>PSC</p>
                  </dd>
                </div>

                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">Date added</dt>
                  <dd class="govuk-summary-list__value" >
                  <!-- The date filter is a custom filter for this project that can be found in the filters.js folder-->
                  	<p>26 January 2016</p>
                  </dd>
                </div>
               <!-- <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">Registration number</dt>
                  <dd class="govuk-summary-list__value">
                  01234567
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">Type</dt>
                  <dd class="govuk-summary-list__value">
                  UK Limited Company
                  </dd>
                </div>-->
              </dl>
            </div>
            <div class="govuk-!-padding-top-1 govuk-!-padding-left-3 govuk-!-padding-right-8">
              <p class="govuk-body">
                <!--For the update and remove journey we put 3 parameters at the end, the officer the person is selecting, the type of change the user is making for example updating the officer and finally the name of the director-->
                <a href="update/change?officer={{officer.links.self}}&type=update&name={{officer.name}}" class="govuk-link govuk-link--no-visited-state">Check and update details</a>
                <a href="update/remove?officer={{officer.links.self}}&type=remove&directorname={{officer.name}}" class="govuk-link govuk-link--no-visited-state govuk-!-margin-left-4">Cease PSC</a>
              </p>
            </div>
          </div>

    </div>
  </div>
{% endblock %}
