{% set title = "Forgotten your password" %}
{% extends "layouts/main.html" %}
{% block pageTitle %}
  {{title}}
  -
  {{serviceName}}
  - GOV.UK
{% endblock %}
{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.back()"
  }) }}
{% endblock %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half-from-desktop">
      {% if errorEmail == true or errorPassword == true %}
        {{ govukErrorSummary({
            titleText: "There is a problem",
            errorList: errorList
          }) }}
      {% endif %}
      <h1 class="govuk-heading-l">{{title}}</h1>
      <form action="/create-account" method="post">
        {% if errorEmail == true %}
          {{ govukInput({
            label: {
              text: "Enter email address"
            },
            id: "email",
            type: "email",
            name: "email",
            autocomplete: "email",
            errorMessage: {
              text: "Enter your email address"
            }
          }) }}
        {% else %}
          {{ govukInput({
            label: {
              text: "Enter email address"
            },
            type: "email",
            autocomplete: "email",
            id: "email",
            name: "email"
          }) }}
        {% endif %}
        {% if errorPassword == true %}
          {{ govukInput({
            label: {
              text: "Re-enter email address"
            },
            type: "email",
            autocomplete: "email",
            id: "email",
            name: "email",
            errorMessage: {
              text: "Enter your password"
            }
          }) }}
        {% else %}
          {{ govukInput({
            label: {
              text: "Re-enter email address"
            },
            type: "email",
            autocomplete: "email",
            id: "email",
            name: "email"
          }) }}
        {% endif %}
        {{ govukButton({
        text: "Send reset password email"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}
