{% extends "layout.html" %}
{% block pageTitle %}
Start – {{ serviceName }} – GOV.UK
{% endblock %}
{% block header %}
<!-- Blank header with no service name for the start page -->
{{ govukHeader() }}
{% endblock %}
{% block beforeContent %}
{{ govukBreadcrumbs({
items: [
{
text: "Home",
href: "https://www.gov.uk/"
},
{
text: "Business auditing, accounting and reporting",
href: "https://www.gov.uk/topic/business-enterprise/business-auditing-accounting-reporting"
}
]
}) }}
{% endblock %}
{% block content %}
<div class="govuk-grid-row">
 




{% include "includes/gov-uk.html" %}


<!--  <div class="govuk-grid-column-one-third">
<aside class="app-related-items" role="complementary">
<h2 class="govuk-heading-m" id="subsection-title">
Related links
</h2>
<nav role="navigation" aria-labelledby="subsection-title">
<ul class="govuk-list govuk-!-font-size-16">
<li>
<a href="javascript:void(0)">
Search the Register of Overseas Entities
</a>
</li>
<li>
<a href="javascript:void(0)">
Guidance
</a>
</li>
<li>
<a href="javascript:void(0)" class="govuk-!-font-weight-bold">
More <span class="govuk-visually-hidden">in Subsection</span>
</a>
</li>
</ul>
</nav>
</aside>
</div>  -->



<div class="govuk-grid-column-two-thirds-from-desktop">
<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible govuk-!-margin-top-0">
<h3 id="appoint-update-remove" class="govuk-heading-m">What the Register of Overseas Entities is</h3>
<p class="govuk-body">The Register of Overseas Entities came into force in the UK on 1 August 2022 through the new Economic Crime (Transparency and Enforcement) Act 2022. </p>
<p class="govuk-body">Overseas entities who want to buy, sell or transfer property or land in the UK, must register with Companies House and tell us who their registrable beneficial owners or managing officers are. </p>
<p class="govuk-body">This will also apply retrospectively to overseas entities who bought property or land on or after:</p>
<ul class="govuk-list govuk-list--bullet">
<li>1 January 1999 in England and Wales</li>
<li>8 December 2014 in Scotland</li>
</ul>
<p class="govuk-body">These overseas entities will need to register with Companies House and tell us who their registrable beneficial owners or managing officers are by 31 January 2023.</p>
{{ govukInsetText({
text: "Overseas entities only need to register property or land bought in Northern Ireland on or after 1 August 2022."
}) }}
<p class="govuk-body">Entities that disposed of property or land since 28 February 2022 will also need to register and give details of that disposal.</p>
<p class="govuk-body">After registering, the overseas entity will get a unique Overseas Entity ID to give to the land registry when it buys, sells, transfers, leases or charges UK property or land.</p>

<p class="govuk-body">This will lead to more transparency, which will allow law enforcement agencies to investigate suspicious wealth more effectively.</p>
{{ govukWarningText({
text: "If you do not comply with the Act, you could get a fine, a prison sentence or both. You’ll also face restrictions when buying, selling, transferring, leasing or charging property or land in the UK.",
iconFallbackText: "Warning"
}) }}
<p class="govuk-body">Read the guidance from <a href="https://www.gov.uk/government/publications/overseas-companies-and-limited-liability-partnerships-pg78/practice-guide-78-overseas-companies-and-limited-liability-partnerships#the-register-of-overseas-entities" class="govuk-link">HM Land Registry</a> (England and Wales) and <a href="https://kb.ros.gov.uk/land-and-property-registration/about-register-of-overseas-entities" class="govuk-link">Registers of Scotland</a> for more information on how to update the land register with your Overseas Entity ID.</p>

<h3 id="update-psc" class="govuk-heading-m">What an overseas entity is</h3>
<p class="govuk-body">This is a legal entity, such as a company or other organisation, that has legal personality and is governed by the law of a country or territory outside the UK. The Republic of Ireland is an overseas jurisdiction for the Register of Overseas Entities.</p>
<a href="https://www.gov.uk/government/publications/find-a-uk-regulated-agent-to-verify-information-for-an-overseas-entity" class="govuk-link">Find a UK-regulated agent to verify information for an overseas entity</a>.</p>
<p class="govuk-body">Read the <a href="https://www.gov.uk/government/publications/register-of-overseas-entities-guidance-on-registration-and-verification" class="govuk-link">Register of Overseas Entities: guidance on registration and verification</a>.</p>


<h3 id="update-roa" class="govuk-heading-m">What a beneficial owner is</h3>
<p class="govuk-body">A beneficial owner is any individual or entity that has significant influence or control over the overseas entity. It can be:</p>
<ul class="govuk-list govuk-list--bullet">
<li>an individual person </li>
<li>another legal entity, such as a company </li>
<li>a government or public authority </li>
<li>a trustee of a trust </li>
<li>a member of a firm that is not a legal person under its governing law </li>
</ul>
<p>You must register any beneficial owner that meets one or more of the following conditions known as the ‘natures of control’.</p>
<p class="govuk-body"><strong>The beneficial owner is an individual person, other legal entity, government or public authority and:</strong>
<ul class="govuk-list govuk-list--bullet">
<li>holds, directly or indirectly, more than 25% of the shares in the entity</li>
<li>holds, directly or indirectly, more than 25% of the voting rights in the entity</li>
<li>holds the right, directly or indirectly, to appoint or remove a majority of the board of directors of the entity</li>
<li>has the right to exercise, or actually exercises, significant influence or control over the entity</li>
</ul>
<p class="govuk-body"><strong>The beneficial owner is a trustee of a trust and:</strong>
<ul class="govuk-list govuk-list--bullet">
<li>the trustees of that trust (in their capacity as such) hold, directly or indirectly, more than 25% of the shares in the entity</li>
<li>the trustees of that trust (in their capacity as such) hold, directly or indirectly, more than 25% of the voting rights in the entity</li>
<li>the trustees of that trust (in their capacity as such) hold the right, directly or indirectly, to appoint or remove a majority of the board of directors of the company</li>
<li>the trustees of that trust (in their capacity as such) have the right to exercise, or actually exercise, significant influence or control over the company</li>
</ul>

<p class="govuk-body"><strong>The beneficial owner is a member of a firm that is not a legal person under its governing law, and:</strong>
<ul class="govuk-list govuk-list--bullet">
<li>the members of that firm (in their capacity as such) hold, directly or indirectly, more than 25% of the shares in the entity</li>
<li>the members of that firm (in their capacity as such) hold, directly or indirectly, more than 25% of the voting rights in the entity</li>
<li>the members of that firm (in their capacity as such) hold the right, directly or indirectly, to appoint or remove a majority of the board of directors of the company</li>
<li>the members of that firm (in their capacity as such) have the right to exercise, or actually exercise, significant influence or control over the company</li>
</ul>
{{ govukInsetText({
text: "A firm is a partnership, unincorporated association or other entity that is not a legal person under the law by which it is governed."
}) }}


<h3 id="change-company-name" class="govuk-heading-m">Who can use this service
</h3>
<p class="govuk-body">You can use this service if you work at, or work on behalf of, the overseas entity. </p>
<p class="govuk-body">It’s quicker and easier for an overseas entity to be registered by the same UK-regulated agent that carried out its <a href="/register/start-merged-with-guidance#what-identity-checks-are-needed" class="govuk-link">verification checks</a>. These can include financial institutions and legal professionals. </p>
<p class="govuk-body">You may not be able to use this service if:</p>
<ul class="govuk-list govuk-list--bullet">
<li>any beneficial owners have their personal information protected at Companies House (or are waiting for the results of an application)</li>
<li>the overseas entity has disposed of all property or land in England, Wales or Scotland since 28 February 2022 </li>
</ul>
<p class="govuk-body">Contact <a href="javascript:void(0)" class="govuk-link">enquiries@companieshouse.gov.uk</a> for further guidance.</p>
<h3 id="change-shares" class="govuk-heading-m">What information you need to submit</h3>
<p class="govuk-body">You'll need to provide information about the overseas entity, any registrable beneficial owners, and the UK-regulated agent that carried out <a href="/register/start-merged-with-guidance#what-identity-checks-are-needed" class="govuk-link">verification checks</a>. You may also need to provide information about managing officers.</p>
<p class="govuk-body">You may also need to provide information about <a href="/register/start-merged-with-guidance#how-to-submit-information-about-trusts" class="govuk-link">trusts</a> or <a href="/register/start-merged-with-guidance#how-to-submit-information-about-disposals-of-land-or-property" class="govuk-link">disposals of land</a>.</p>
<h3 class="govuk-heading-s">Overseas entity information</h3>
<p class="govuk-body">You'll need to tell us the overseas entity's:</p>
<ul class="govuk-list govuk-list--bullet">
<li>name</li>
<li>country it was formed in</li>
<li>registered office address and correspondence address</li>
<li>email address - we'll use this to send important information, including the Overseas Entity ID</li>
<li>legal form and governing law </li>
<li>public register it appears on and its registration number (if it has one)</li>
</ul>
<p class="govuk-body">If the entity has disposed of UK property or land since 28 February 2022, it will also need to tell us:</p>
<ul class="govuk-list govuk-list--bullet">
<li>the deed or title number of the land or property</li>
<li>the date that the land or property was disposed of</li>
<li>details of any additional beneficial owners or managing officers at the time the land or property was disposed of</li>
</ul>
<!--
<p class="govuk-body">If the entity has disposed of UK property or land since 28 February 2022, it will need to file on paper. It will also need to tell us:
<ul class="govuk-list govuk-list-bullet">
<li>the deed or title number of the land or property</li>
<li>the date that the land or property was disposed of</li>
<li>details of any additional beneficial owners or managing officers at the time the land or property was disposed of</li>
</ul>
-->



<h3 class="govuk-heading-s">UK-regulated agent information</h3>
<p class="govuk-body">You'll need to tell us the agent's:</p>
<ul class="govuk-list govuk-list--bullet">
<li>name</li>
<li>correspondence address</li>
<li>email address – we'll use this if we need more information about the verification checks</li>
<li>supervisory body</li>
<li>Anti-Money Laundering (AML) number, if you have one</li>
</ul>
<p class="govuk-body">You’ll also need to tell us the name of the person with overall responsibility for verification checks.</p>
<p class="govuk-body">If you’re the UK-regulated agent, you’ll also need to tell us:</p>
<ul class="govuk-list govuk-list--bullet">
<li>when the verification checks were completed</li>
<li>your <a href="/register/guidance-code">agent assurance code</a></li>
</ul>
<h3 class="govuk-heading-s">Beneficial owner information: individual person</h3>
<p class="govuk-body">You'll need to tell us each beneficial owner's:</p>
<ul class="govuk-list govuk-list--bullet">
<li>full name</li>
<li>date of birth</li>
<li>nationality</li>
<li>correspondence address and home address</li>
<li>date they became a beneficial owner for the overseas entity </li>
<li>nature of control</li>
</ul>
<p class="govuk-body">You'll also need to tell us:</p>
<ul class="govuk-list govuk-list--bullet">
<li>if they’re on the <a href="https://www.gov.uk/government/publications/the-uk-sanctions-list" class="govuk-link">UK Sanctions List</a></li>
<li>if any beneficial owners have their<a href="https://www.gov.uk/guidance/applying-to-protect-your-personal-information-on-the-companies-house-register" class="govuk-link"> personal information protected at Companies House</a> (or are waiting for the results of an application)</li>
</ul>
<h3 class="govuk-heading-s">Beneficial owner information: other legal entity</h3>
<p class="govuk-body">You'll need to tell us each beneficial owner's:</p>
<ul class="govuk-list govuk-list--bullet">
<li>name</li>
<li>registered office address and correspondence address</li>
<li>legal form and governing law</li>
<li>public register it appears on and its registration number (if relevant)</li>
<li>date they became a beneficial owner for the overseas entity </li>
<li>nature of control</li>
</ul>
<p class="govuk-body">You'll also need to tell us if they’re on the <a href="https://www.gov.uk/government/publications/the-uk-sanctions-list" class="govuk-link">UK Sanctions List.</a></p>
<h3 class="govuk-heading-s">Beneficial owner information: government or public authority</h3>
<p class="govuk-body">You'll need to tell us each beneficial owner's:</p>
<ul class="govuk-list govuk-list--bullet">
<li>name</li>
<li>registered office address and correspondence address</li>
<li>legal form and governing law</li>
<li>date they became a beneficial owner for the overseas entity </li>
<li>nature of control</li>
</ul>

<h3 class="govuk-heading-s">If no beneficial owners can be identified</h3>
<p>If there are no beneficial owners, or you have not identified all your beneficial owners, you’ll need to give us information about the overseas entity’s managing officers. This is a director, manager or company secretary of the overseas entity.</p>
<h3 class="govuk-heading-s">Managing officer information: individual</h3>
<p class="govuk-body">You'll need to tell us each managing officer's:</p>
<ul class="govuk-list govuk-list--bullet">
<li>full name (and former names, if relevant)</li>
<li>date of birth</li>
<li>nationality</li>
<li>correspondence address and home address</li>
<li>occupation (this is optional)</li>
<li>roles and responsibilities in relation to the entity</li>
</ul>
<h3 class="govuk-heading-s">Managing officer information: corporate</h3>
<p class="govuk-body">You'll need to tell us each managing officer's:</p>
<ul class="govuk-list govuk-list--bullet">
<li>name</li>
<li>registered office address and correspondence address</li>
<li>legal form and governing law</li>
<li>public register it appears on and its registration number (if relevant)</li>
<li>roles and responsibilities in relation to the entity</li>
</ul>
<p class="govuk-body">You'll also need to tell us the full name and email address of someone we can contact about this managing officer.</p>
<h3 id="how-to-submit-information-about-trusts" class="govuk-heading-m">What information you need to submit about trusts</h3>
<p class="govuk-body">If any trustees of a trust are registrable beneficial owners, you’ll need to give us information about that trust.</p>
<h3 class="govuk-heading-s">Trust information</h3>
<p>You'll need to tell us:</p>
<ul class="govuk-list govuk-list--bullet">
<li>the name of the trust</li>
<li>when the trust was created</li>
<li>which of the overseas entity's beneficial owners are involved in the trust</li>
</ul>
<h3 class="govuk-heading-s">Former beneficial owner information</h3>
<p>You’ll need to tell us about all individuals or entities who were formerly a beneficial owner of the overseas entity due to being a trustee of the trust. You’ll need to tell us:</p>
<ul class="govuk-list govuk-list--bullet">
<li>the former beneficial owner's name</li>
<li>when they became a beneficial owner</li>
<li>when they stopped being a beneficial owner</li>
</ul>
<h3 class="govuk-heading-s">Information about individuals involved in the trust</h3>
<p>You’ll need to tell us about individuals who are beneficiaries, settlors, grantors or interested persons. You’ll need to tell us their:</p>
<ul class="govuk-list govuk-list--bullet">
<li>role within the trust</li>
<li>first and last name</li>
<li>date of birth</li>
<li>nationality</li>
<li>home and correspondence address</li>
</ul>
<p>You’ll also need to tell us what date they became an interested person (if relevant).</p>
<h3 class="govuk-heading-s">Information about legal entities involved in the trust</h3>
<p>You’ll need to tell us about legal entities that are beneficiaries, settlors, grantors or interested persons. You’ll need to tell us the entity’s:</p>
<ul class="govuk-list govuk-list--bullet">
<li>role within the trust</li>
<li>name</li>
<li>principal or registered office address</li>
<li>correspondence address</li>
<li>country it was formed in</li>
<li>legal form and governing law</li>
<li>public register it appears on and its registration number (if it has one)</li>
</ul>
<p>You do not need to tell us about government or public authorities.</p>



<h3 id="change-accounting-date" class="govuk-heading-m">What is needed for verification checks</h3>
<p class="govuk-body">A UK-regulated agent must complete verification checks on all beneficial owners and managing officers of an overseas entity before it can be registered. It will need to provide an agent assurance code and an overseas entity verification checks statement to confirm that it has done this.</p>
<p class="govuk-body">They must be based in the UK and supervised under the Money Laundering, Terrorist Financing and Transfer of Funds Regulations 2017. They can be an individual or a corporate entity, such as a financial institution or legal professional.</p>
{{ govukInsetText({
text: "Verification checks must be completed no more than 3 months before the overseas entity is registered."
}) }}
<p class="govuk-body">Read the <a href="https://www.gov.uk/government/publications/register-of-overseas-entities-guidance-on-registration-and-verification" class="govuk-link">Register of Overseas Entities: guidance on registration and verification</a>.</p>
<h3 class="govuk-heading-s">Agent assurance code</h3>
<p class="govuk-body">The UK-regulated agent will need to <a href="/register/guidance-code" class="govuk-link">request an agent assurance code from Companies House</a>. This confirms that the agent has authorisation to file verification checks statements for an overseas entity. We cannot register an overseas entity without a code.</p>
<h3 class="govuk-heading-s">Overseas entity verification checks statement</h3>
<p class="govuk-body">If the UK-regulated agent that carried out the verification checks is also registering the overseas entity, it can complete this statement as part of the registration service. Otherwise, it will need to submit an <a href="/register/guidance-code#use" class="govuk-link">Overseas entity verification checks statement</a>.</p>

<div class="govuk-inset-text">
The UK-regulated agent’s details provided on the statement must be the same as the details used to request the agent assurance code. The agent’s name must be an exact match. If the details do not match, the registration could be rejected.
</div>


<h3 id="mortgages" class="govuk-heading-m">What information will be shown on the public register</h3>
<p class="govuk-body">Most of the information given to Companies House about overseas entities, beneficial owners and managing officers will be publicly available on the Register of Overseas Entities.</p>
<p class="govuk-body">We will not show:</p>
<ul class="govuk-list govuk-list--bullet">
<li>home addresses</li>
<li>full dates of birth – only the month and year will be shown</li>
<li>the agent assurance code</li>
<li>the date verification checks were completed</li>
<li>information about trusts, however it may be shared with HMRC</li>
<li>email addresses</li>
</ul>

<h3 id="start" class="govuk-heading-m">Apply to register an overseas entity and its beneficial owners </h3>

<p class="govuk-body">You'll need:</p>
<ul class="govuk-list govuk-list--bullet">
<li>to sign in to or create a Companies House account</li>
<li>to give us the name and email address of someone we can contact about the application</li>
<li>to give <a href="/register/guidance#what-information-you-need-to-submit" class="govuk-link">information about the overseas entity and its beneficial owners or managing officers</a></li>
<li>to tell us about the UK-regulated agent that completed <a href="/register/guidance#what-identity-checks-are-needed" class="govuk-link">verification checks</a></li>
<li>to give information about <a href="/register/start-merged-with-guidance#how-to-submit-information-about-trusts" class="govuk-link">trusts</a> (if relevant)</li>
<li>to pay the £100 registration fee using a credit or debit card, or Companies House payment account</li>
</ul>
<p class="govuk-body">You'll need also need to provide an <a href="/register/guidance-code" class="govuk-link">agent assurance code</a> if you're the UK-regulated agent who carried out the verification checks.</p>
<p class="govuk-body">For your security, we’ll sign you out if you do not use the service for 60 minutes. Your application will be saved.</p>
<div class="govuk-inset-text">
If you have applications in progress, you can choose to start a new application or return to a saved one. 
</div>
{{ govukButton({
text: "Start now",
href: "/register/sign-in",
isStartButton: true
}) }}

<h3 id="what-happens-after-an-overseas-entity-is-registered" class="govuk-heading-m">What happens after an overseas entity is registered</h3>
<p class="govuk-body">If the application is accepted, the overseas entity and its beneficial owners and managing officers will be added to the Register of Overseas Entities. </p>
<p class="govuk-body">We'll also email the notice of registration to the overseas entity. This will include the Overseas Entity ID, which must be given to the Land Registry whenever the entity buys, sells or transfers land or property in the UK. </p>
<p>If the application is rejected, we'll email you to let you know what to do next and refund the £100 registration fee.</p>
<h3 class="govuk-heading-s">Updating information on the register</h3>
<p class="govuk-body">The overseas entity must file an annual update one year after it was registered, and every year after that. This will be used to tell us about any changes, or confirm that the information we hold is still correct. The update must be filed no later than 14 days after the due date. The entity can file earlier if it needs to update any information.</p>
<h3 class="govuk-heading-s">Removing an overseas entity</h3>
<p class="govuk-body">An overseas entity can apply to be removed from the Register of Overseas Entities if it does not own land or property in the UK.</p>
<p class="govuk-body">The sections of The Economic Crime (Transparency and Enforcement) Act 2022 relating to updates and removal have not yet come into force. This means that updates and removal applications can only be made once this happens.</p>
{% endblock %}
