{% extends "layout.html" %}
{% block pageTitle %}
Start – {{ serviceName }} – GOV.UK
{% endblock %}
{% block header %}
<!-- Blank header with no service name for the start page -->
{{ govukHeader() }}
{% endblock %}
{% block beforeContent %}
{{ govukBreadcrumbs({
items: [
{
text: "Home",
href: "https://www.gov.uk/"
},
{
text: "Business auditing, accounting and reporting",
href: "https://www.gov.uk/topic/business-enterprise/business-auditing-accounting-reporting"
}
]
}) }}
{% endblock %}
{% block content %}
<div class="govuk-grid-row">
 




{% include "includes/gov-uk.html" %}


<!--  <div class="govuk-grid-column-one-third">
<aside class="app-related-items" role="complementary">
<h2 class="govuk-heading-m" id="subsection-title">
Related links
</h2>
<nav role="navigation" aria-labelledby="subsection-title">
<ul class="govuk-list govuk-!-font-size-16">
<li>
<a href="javascript:void(0)">
Search the Register of Overseas Entities
</a>
</li>
<li>
<a href="javascript:void(0)">
Guidance
</a>
</li>
<li>
<a href="javascript:void(0)" class="govuk-!-font-weight-bold">
More <span class="govuk-visually-hidden">in Subsection</span>
</a>
</li>
</ul>
</nav>
</aside>
</div>  -->



<div class="govuk-grid-column-two-thirds-from-desktop">
    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible govuk-!-margin-top-0">
    
    <h3 id="appoint-update-remove" class="govuk-heading-m">Appoint, update or remove a director or company secretary</h3>
            <p class="govuk-body">Holder </p>
            

    <h3 id="update-psc" class="govuk-heading-m">Update your ‘people with significant control’ (PSC) information </h3>
        <p class="govuk-body">holder.</p>



    <h3 id="update-roa" class="govuk-heading-m">Update your registered office address </h3>
        <p class="govuk-body">Holder</p>



    <h3 id="change-company-name" class="govuk-heading-m">Change your company name </h3>
        <p class="govuk-body">Holder </p>



    <h3 id="how-to-submit-information-about-trusts" class="govuk-heading-m">Change your company’s share structure </h3>
        <p class="govuk-body">Holder.</p>




    <h3 id="change-accounting-date" class="govuk-heading-m">Change your accounting reference date </h3>
        <p class="govuk-body">Holder</p>



    <h3 id="mortgages" class="govuk-heading-m">Tell us about any new mortgages, or mortgages your company has paid off </h3>
        <p class="govuk-body">Holder</p>


{% endblock %}
