{% extends "layout.html" %}
{% block pageTitle %}
Start – {{ serviceName }} – GOV.UK
{% endblock %}
{% block header %}
<!-- Blank header with no service name for the start page -->
{{ govukHeader() }}
{% endblock %}
{% block beforeContent %}
{{ govukBreadcrumbs({
items: [
{
text: "Home",
href: "https://www.gov.uk/"
},
{
text: "Change your company details",
href: ""
}
]
}) }}
{% endblock %}
{% block content %}
<div class="govuk-grid-row">
 




{% include "includes/gov-uk.html" %}


<!--  <div class="govuk-grid-column-one-third">
<aside class="app-related-items" role="complementary">
<h2 class="govuk-heading-m" id="subsection-title">
Related links
</h2>
<nav role="navigation" aria-labelledby="subsection-title">
<ul class="govuk-list govuk-!-font-size-16">
<li>
<a href="javascript:void(0)">
Search the Register of Overseas Entities
</a>
</li>
<li>
<a href="javascript:void(0)">
Guidance
</a>
</li>
<li>
<a href="javascript:void(0)" class="govuk-!-font-weight-bold">
More <span class="govuk-visually-hidden">in Subsection</span>
</a>
</li>
</ul>
</nav>
</aside>
</div>  -->



<div class="govuk-grid-column-two-thirds-from-desktop">
    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible govuk-!-margin-top-0">
    
    <h2 id="appoint-update-remove" class="govuk-heading-l">Appoint, update or remove a director or company secretary</h2>
           

<p class="govuk-body">You can use <a href="https://idam-ui.company-information.service.gov.uk/" class="govuk-link">WebFiling</a> or file a <a href="https://www.gov.uk/government/collections/forms-for-company-registration-and-filing" class="govuk-link"> Companies House form</a> to appoint, update or remove a:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>company secretary</li>
  <li>company director who is a person</li>
  <li>corporate director</li>
</ul>

    <h3 class="govuk-heading-s">What a corporate director is</h3>
    <p class="govuk-body">This is a company, firm, or any other kind of corporate body that is appointed as the director of another company.</p> 
    <p class="govuk-body">For example, COMPANY 1 LIMITED could be the corporate director of COMPANY   
        2 LIMITED.
    </p> 

  
<h2 class="govuk-heading-m">Try our new service</h2>
  <p class="govuk-body">Try our new <a href="/start" class="govuk-link">Appoint, update and remove a company director service</a>.
  </p>

  <p class="govuk-body">In the service, you can:</p>
<ul class="govuk-list govuk-list--bullet">
<li>appoint, update or remove a company director who is a person</li>
<li>remove a corporate director</li>
</ul>
            

    <!-- <h3 id="update-psc" class="govuk-heading-m">Update your ‘people with significant control’ (PSC) information </h3>
        <p class="govuk-body">holder.</p>



    <h3 id="update-roa" class="govuk-heading-m">Update your registered office address </h3>
        <p class="govuk-body">Holder</p>



    <h3 id="change-company-name" class="govuk-heading-m">Change your company name </h3>
        <p class="govuk-body">Holder </p>



    <h3 id="how-to-submit-information-about-trusts" class="govuk-heading-m">Change your company’s share structure </h3>
        <p class="govuk-body">Holder.</p>




    <h3 id="change-accounting-date" class="govuk-heading-m">Change your accounting reference date </h3>
        <p class="govuk-body">Holder</p>



    <h3 id="mortgages" class="govuk-heading-m">Tell us about any new mortgages, or mortgages your company has paid off </h3>
        <p class="govuk-body">Holder</p>-->


{% endblock %}
