{% extends "layout.html" %}
{% block pageTitle %}
  {{serviceName}} - GOV.UK
{% endblock %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full-from-desktop">
      <h1 class="govuk-heading-xl">
        {{serviceName}}
        <span class="govuk-caption-xl">Version 2</span>
      </h1>
      <div class="govuk-tabs" data-module="govuk-tabs">
        <h4 class="govuk-tabs__title">
          Contents
        </h4>
        <ul class="govuk-tabs__list">
          <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
            <a class="govuk-tabs__tab" href="#screens">
              Screens
            </a>
          </li>
          <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
            <a class="govuk-tabs__tab" href="#code">
              Entry points and links
            </a>
          </li>
          <li class="govuk-tabs__list-item">
            <a class="govuk-tabs__tab" href="#form-versions">
              Previous versions
            </a>
          </li>
        </ul>

        <div class="govuk-tabs__panel" id="screens">
          <p>Some screens will require you to <a href="company-lookup">enter a company number</a> to display data correctly.
          <h3 class="govuk-heading-m">Core journey</h3>
          <ul class="govuk-list govuk-list--bullet">
            <li>
              <a href="start?journey=gov">GOV.UK start page</a>
            </li>
            <li>
              <a href="sign-in">Sign in</a>
            </li>
            <li>
              <a href="create-account">Create account</a>
            </li>
            <li>
              <a href="forgot-password">Forgot password</a>
            </li>
            <li>
              <a href="company-lookup">Company lookup</a>
            </li>
            <li>
              <a href="confirm-company">Confirm company</a>
            </li>
            <li>
              <a href="auth-code">Authenticate</a>
            </li>
            <li>
              <a href="directors">Active PSCs</a>
            </li>
            <li>
              <a href="check-your-answers">Check your answers</a>
            </li>
            <li>
              <a href="confirmation">Confirmation</a>
            </li>
        </ul>
        <h3 class="govuk-heading-m">Add</h3>
        <ul class="govuk-list govuk-list--bullet">
          <li>
            <a href="add/243">PSC protected details</a>
          </li>
          <li>
            <a href="add/date-of-appointment">Date of notice</a>
          </li>
          <li>
            <a href="add/date-of-birth">Date of birth</a>
          </li>
          <li>
            <a href="add/job-title">Job title</a>
          </li>
          <li>
            <a href="add/name">Name</a>
          </li>
          <li>
            <a href="add/nationality">Nationality</a>
          </li>
          <li>
            <a href="add/percentage-of-shares">Percentage of shares</a>
          </li>
          <li>
            <a href="add/percentage-of-voting-rights">Percentage of voting rights</a>
          </li>
          <li>
            <a href="add/right-to-appoint">Right to appoint</a>
            </li>
          </ul>

          <h3 class="govuk-heading-m">Address lookup</h3>
          <ul class="govuk-list govuk-list--bullet">
            <li>
              <a href="address-lookup/address-lookup-home">Where does the PSC live (lookup)</a>
            </li>
            <li>
              <a href="address-lookup/address-lookup-postal">PSC's correspondence address (lookup)</a>
            </li>
            <li>
              <a href="address-lookup/address-manual-home">Where does the PSC live (manual)</a>
            </li>
            <li>
              <a href="address-lookup/address-manual-postal">PSC's correspondence address (manual)</a>
            </li>
            <li>
              <a href="address-lookup/confirm-lookup-home">Confirm where PSC lives (lookup)</a>
            </li>
            <li>
              <a href="address-lookup/confirm-lookup-postal">Confirm correspondence address (lookup)</a>
            </li>
            <li>
              <a href="address-lookup/confirm-lookup-postcode">Confirm the PSC's home address (lookup postcode)</a>
            </li>
            <li>
              <a href="address-lookup/correspondence-address">What is the correspondence address</a>
            </li>
            <li>
              <a href="address-lookup/home-address">Where does the PSC live (radio buttons)</a>
            </li>
            <li>
              <a href="address-lookup/link-correspondence-address">Link correspondence address to ROA</a>
            </li>
            <li>
              <a href="address-lookup/link-correspondence-address-alt">Link correspondence address to ROA alt</a>
            </li>
            <li>
              <a href="address-lookup/link-correspondence-address-alt2">Link correspondence address to ROA alt 2</a>
            </li>
            <li>
              <a href="address-lookup/link-home-address">Link home address to correspondence address</a>
            </li>
            <li>
              <a href="address-lookup/static-list-of-addresses">Static list of addresses</a>
            </li>
            </ul>
            <h3 class="govuk-heading-m">Address lookup update journey</h3>
            <ul class="govuk-list govuk-list--bullet">
              <li>
                <a href="address-lookup-update-journey/address-lookup-home">Where does PSC live (lookup update)</a>
              </li>
              <li>
                <a href="address-lookup-update-journey/address-manual-home">Where does PSC live (manual update)</a>
              </li>
              <li>
                <a href="address-lookup-update-journey/confirm-lookup-home">Confirm where PSC lives (lookup update)</a>
              </li>
              <li>
                <a href="address-lookup-update-journey/confirm-lookup-postcode">Confirm the PSC's home address (lookup postcode update)</a>
              </li>
              <li>
                <a href="address-lookup-update-journey/home-address">Where does the PSC live (radio button update)</a>
              </li>
              <li>
                <a href="address-lookup-update-journey/link-home-address">Link home address to correspondence address (update)</a>
              </li>
              <li>
                <a href="address-lookup-update-journey/static-list-of-addresses">Static list of addresses update</a>
              </li>
            </ul>
            <h3 class="govuk-heading-m">Update</h3>
            <ul class="govuk-list govuk-list--bullet">
              <li>
                <a href="update/change">Update PSC's details</a>
              </li>
              <li>
                <a href="update/country-of-residence">Country of residence</a>
              </li>
              <li>
                <a href="update/date-of-birth">Date of birth</a>
              </li>
              <li>
                <a href="update/date-of-change">Date of details change</a>
              </li>
              <li>
                <a href="update/job-title">Job title</a>
              </li>
              <li>
                <a href="update/name">Name</a>
              </li>
              <li>
                <a href="update/nationality">Nationality</a>
              </li>
              <li>
                <a href="update/remove">When was PSC removed</a>
              </li>
              <li>
                <a href="update/confirm-update">Trying to appoint a new PSC?</a>
              </li>
              <li>
                <a href="update/confirm-update-stop">Stop if trying to appoint a new PSC</a>
              </li>
            </ul>
            <h3 class="govuk-heading-m">Emails</h3>
            <ul class="govuk-list govuk-list--bullet">
              <li>
                <a href="emails/appoint-accepted">Add PSC - accepted</a>
              </li>
              <li>
                <a href="emails/appoint-rejected">Add PSC - rejected</a>
              </li>
              <li>
                <a href="emails/appoint-submitted">Add PSC - submitted</a>
              </li>
              <li>
                <a href="emails/remove-accepted">Remove - accepted</a>
              </li>
              <li>
                <a href="emails/remove-rejected">Remove - rejected</a>
              </li>
              <li>
                <a href="emails/remove-submitted">Remove - submitted</a>
              </li>
              <li>
                <a href="emails/update-accepted">Update - accepted</a>
              </li>
              <li>
                <a href="emails/update-rejected">Update - rejected</a>
              </li>
              <li>
                <a href="emails/update-submitted">Update - submitted</a>
              </li>
              <li>
                <a href="emails/layout-email">Layout email</a>
              </li>
            </ul>
</div>
        <div class="govuk-tabs__panel" id="code">
          <h3 class="govuk-heading-m">Entry points</h3>
          <ul class="govuk-list govuk-list--bullet">
            <li>
              <a href="start?journey=gov">GOV.UK start page</a>
            </li>
  </ul>
  <h3 class="govuk-heading-m">Emails</h3>
  <h3 class="govuk-heading-s">Appoint a director</h3>
<ul class="govuk-list govuk-list--bullet">
            <li>
              <a href="emails/appoint-submitted">Submitted</a>
            </li>
            <li>
              <a href="emails/appoint-accepted">Accepted</a>
            </li>
            <li>
              <a href="emails/appoint-rejected">Rejected</a>
            </li>
          </ul>
          <h3 class="govuk-heading-s">Update a director</h3>
        <ul class="govuk-list govuk-list--bullet">
                    <li>
                      <a href="emails/update-submitted">Submitted</a>
                    </li>
                    <li>
                      <a href="emails/update-accepted">Accepted</a>
                    </li>
                    <li>
                      <a href="emails/update-rejected">Rejected</a>
                    </li>
                  </ul>
             <h3 class="govuk-heading-s">Remove a director</h3>
                <ul class="govuk-list govuk-list--bullet">
                            <li>
                              <a href="emails/remove-submitted">Submitted</a>
                            </li>
                            <li>
                              <a href="emails/remove-accepted">Accepted</a>
                            </li>
                            <li>
                              <a href="emails/remove-rejected">Rejected</a>
                            </li>
                          </ul>
        </div>




        <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="form-versions">
          <table class="govuk-table version-history">
            <caption class="govuk-table__caption govuk-heading-l">Previous versions</caption>
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Version</th>
                <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Tested on</th>
                <th scope="col" class="govuk-table__header govuk-!-width-one-third">Changes</th>
                <th scope="col" class="govuk-table__header govuk-!-width-one-third">Status</th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">
                  <a href="https://directors-v2.herokuapp.com/">Version 2</a>
                </th>
                <td class="govuk-table__cell">16 February 2022</td>
                <td class="govuk-table__cell">
                  <details class="govuk-details" data-module="govuk-details">
                    <summary class="govuk-details__summary">
                      <span class="govuk-details__summary-text">
                        Changes included in version 2
                      </span>
                    </summary>
                    <div class="govuk-details__text">
                      <ul class="govuk-list--bulletlist">
                      </ul>
                    </div>
                  </details>
                </td>
                <td class="govuk-table__cell">
                  <strong class="govuk-tag govuk-tag--red">
                    Not ready for testing
                  </strong>
                </td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">
                  <a href="https://directors-project.herokuapp.com/">Version 1</a>
                </th>
                <td class="govuk-table__cell">2 February 2022</td>
                <td class="govuk-table__cell">
                  <details class="govuk-details" data-module="govuk-details">
                    <summary class="govuk-details__summary">
                      <span class="govuk-details__summary-text">
                        Changes included in version 1
                      </span>
                    </summary>
                    <div class="govuk-details__text">
                                            <ul class="govuk-list">
                        
                          Added the following pages

                          <li>
                            <a href="start">GOV.UK start page</a>,
                          </li>
                          <li>
                            <a href="sign-in">Sign in to Companies House</a>,
                          </li>
                          <li>
                            <a href="company-lookup">Company lookup</a>,
                          </li>
                          <li>
                            <a href="confirm-company">Confirm company</a>,
                          </li>
                          <li>
                            <a href="auth-code">Company auth code</a>,
                          </li>
                          <li>
                            <a href="directors">List of PSCs</a>,
                          </li>

                          <p class="govuk-body govuk-!-padding-top-5 "> Add a PSC journey: </p>

                          <li>
                            <a href="add/add">Add PSC's details</a>,  
                          </li>
                          <li>
                            <a href="add/add/date-of-birth">Add PSC's date of birth</a>,
                          </li>
                          <li>
                            <a href="address-lookup/correspondence-address">Add correspondance address</a>,
                          </li>
                            <a href="address-lookup/link-correspondence-address-alt2">Capture the RO address change with the correspondance address</a>,
                          <li>
                            <a href="address-lookup/home-address">Where the PSC lives</a>,
                          </li>
                          <li>
                             <a href="address-lookup/home-address">Date details - became a PSC and on the PSC register</a>,
                          </li>
                          <li>
                            <a href="add/243">Protect their details</a>,
                          </li>
                          <li>
                            <a href="add/percentage-of-shares">Percentage of shares</a>,
                          </li>

                          <li>
                            <a href="add/percentage-of-voting-rights">Voting rights</a>,
                          </li>
                          <li>
                            <a href="add/right-to-appoint">Right to appoint</a>,
                          </li>
                          <li>
                            <a href="confirmation">New PSC submitted</a>,
                          </li>

                          <p class="govuk-body govuk-!-padding-top-5 "> Update PSC details: </p>

                           <li>
                            <a href="update/change">Update the PSC's details</a>,
                          </li>
                           <li>
                            <a href="update/date-of-change">Date of PSC change</a>,
                          </li>
                          <li>
                            <a href="check-your-answers-alt">Check your details before updating</a>,
                          </li>
                           <li>
                            <a href="confirmation">PSC updated submitted</a>,
                          </li>


                          <p class="govuk-body govuk-!-padding-top-5 "> Update PSC details: </p>
                           <li>
                            <a href="update/remove">Date stopped being a PSC</a>,
                          </li>
                           <li>
                            <a href="check-your-answers">Check your answers before submitting</a>,
                          </li>
                           <li>
                            <a href="confirmation">Removal of PSC submitted</a>,
                          </li>
                      </ul>
                    </div>
                  </details>
                </td>
                <td class="govuk-table__cell">
                  <strong class="govuk-tag govuk-tag--green">
                    Ready for testing
                  </strong>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
