{% extends "layout.html" %}
{% block pageTitle %}
  {{serviceName}} - GOV.UK
{% endblock %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full-from-desktop">
      <h1 class="govuk-heading-xl">
        {{serviceName}}
        <span class="govuk-caption-xl">Version 7</span>
      </h1>
      <div class="govuk-tabs" data-module="govuk-tabs">
        <h4 class="govuk-tabs__title">
          Contents
        </h4>
        <ul class="govuk-tabs__list">
          <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
            <a class="govuk-tabs__tab" href="#screens">
              Screens
            </a>
          </li>
          <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
            <a class="govuk-tabs__tab" href="#code">
              Entry points and links
            </a>
          </li>
          <li class="govuk-tabs__list-item">
            <a class="govuk-tabs__tab" href="#form-versions">
              Previous versions
            </a>
          </li>
        </ul>

        <div class="govuk-tabs__panel" id="screens">
          <p>Some screens will require you to <a href="company-lookup">enter a company number</a> to display data correctly.
          <h3 class="govuk-heading-m">Core journey</h3>
          <ul class="govuk-list govuk-list--bullet">
            <li>
              <a href="start?journey=gov">GOV.UK start page</a>
            </li>
            <li>
              <a href="sign-in">Sign in</a>
            </li>
            <li>
              <a href="create-account">Create account</a>
            </li>
            <li>
              <a href="forgot-password">Forgot password</a>
            </li>
            <li>
              <a href="company-lookup">Company lookup</a>
            </li>
            <li>
              <a href="confirm-company">Confirm company</a>
            </li>
            <li>
              <a href="auth-code">Authenticate</a>
            </li>
            <li>
              <a href="directors">Active PSCs</a>
            </li>
            <li>
              <a href="check-your-answers">Check your answers</a>
            </li>
            <li>
              <a href="confirmation">Confirmation</a>
            </li>
        </ul>

         <!-- Add a PSC -->
        <h3 class="govuk-heading-m">Add a new PSC</h3>

        <ul class="govuk-list govuk-list--bullet">
          <li>
            <a href="add/psc-options">What do you want to do?</a>
          </li>
          <li>
            <a href="add/type-of-psc">Which type of PSC would you like to add?</a>
          </li>
          
          <li>
            <a href="add/date-of-appointment">Date details</a>
          </li>
          <li>
            <a href="add/243">PSC protected details</a>
          </li>
         <!-- <li>
            <a href="add/job-title">Job title</a>
          </li> -->
          <li>
            <a href="add/percentage-of-shares">Percentage of shares</a>
          </li>
          <li>
            <a href="add/percentage-of-voting-rights">Percentage of voting rights</a>
          </li>
          <li>
            <a href="add/right-to-appoint">Right to appoint</a>
            </li>
          </ul>

        <h4 class="govuk-heading-s">+ Add a person in control of the company</h4>

        <ul class="govuk-list govuk-list--bullet">
          <li>
            <a href="add/name">Name</a>
          </li>
          <li>
            <a href="add/date-of-birth">Date of birth</a>
          </li>
          <li>
            <a href="add/nationality">Nationality</a>
          </li>

          <li>Address lookup</li>

         <!-- address-lookup/correspondence-address

          address-lookup/address-lookup-postal

          address-lookup/confirm-lookup-postal

          address-lookup/home-address

          address-lookup/address-lookup-home

          address-lookup/confirm-lookup-home -->
        </ul>

        <h4 class="govuk-heading-s">+ Add a corporate body in control of the company</h4>

        <ul class="govuk-list govuk-list--bullet">
          <li>
            <a href="add/rle/name">What is the name of the corporate body?</a>
          </li>
          <li>
            <a href="address-lookup/rle-address">What is the corporate body's registered office address?</a>
          </li>
          <li>
            <a href="add/rle/registered-in-uk">Is the corporate body registered in the UK?</a>
          </li>
          <li>
            <a href="add/rle/uk-company-type">UK - What type of corporate body is it?</a>
          </li>
          <li>
            <a href="">Non UK -  </a>
          </li>





          <li>
            <a href="add/rle/details">Corporate body details</a>
          </li>
        </ul>


        <h4 class="govuk-heading-s">+ Add an other registrable person (ORP) in control of the company</h4>


          <h3 class="govuk-heading-m">Address lookup</h3>
          <ul class="govuk-list govuk-list--bullet">
             <li>
              <a href="address-lookup/address-lookup-home">Where does the PSC live (lookup)</a>
            </li>
           <li>
              <a href="address-lookup/address-lookup-postal">PSC's correspondence address (lookup)</a>
            </li>
            <li>
              <a href="address-lookup/address-manual-home">Where does the PSC live (manual)</a>
            </li>
            <li>
              <a href="address-lookup/address-manual-postal">PSC's correspondence address (manual)</a>
            </li>
             <li>
              <a href="address-lookup/confirm-lookup-home">Confirm where PSC lives (lookup)</a>
            </li> 
            <li>
              <a href="address-lookup/confirm-lookup-postal">Confirm correspondence address (lookup)</a>
            </li>
            <li>
              <a href="address-lookup/confirm-lookup-postcode">Confirm the PSC's home address (lookup postcode)</a>
            </li>
            <li>
              <a href="address-lookup/correspondence-address">What is the correspondence address</a>
            </li> 
            <li>
              <a href="address-lookup/home-address">Where does the PSC live (radio buttons)</a>
            </li> 
            <li>
              <a href="address-lookup/static-list-of-addresses">Static list of addresses</a>
            </li>
            </ul>
            <h3 class="govuk-heading-m">*Check link address in directors and PSCs*</h3>
            <ul class="govuk-list govuk-list--bullet">
            <li>
              <a href="address-lookup/link-correspondence-address">Link correspondence address to ROA</a>
            </li>
            <li>
              <a href="address-lookup/link-correspondence-address-alt">Link correspondence address to ROA alt</a>
            </li>
            <li>
              <a href="address-lookup/link-correspondence-address-alt2">Link correspondence address to ROA alt 2</a>
            </li>
            <li>
              <a href="address-lookup/link-home-address">Link home address to correspondence address</a>
            </li>
          </ul>


            <h3 class="govuk-heading-m">Address lookup update journey</h3>
            <ul class="govuk-list govuk-list--bullet">
              <li>
                <a href="address-lookup-update-journey/address-lookup-home">Where does PSC live (lookup update)</a>
              </li>
              <li>
                <a href="address-lookup-update-journey/address-manual-home">Where does PSC live (manual update)</a>
              </li>
              <li>
                <a href="address-lookup-update-journey/confirm-lookup-home">Confirm where PSC lives (lookup update)</a>
              </li>
              <li>
                <a href="address-lookup-update-journey/confirm-lookup-postcode">Confirm the PSC's home address (lookup postcode update)</a>
              </li>
              <li>
                <a href="address-lookup-update-journey/home-address">Where does the PSC live (radio button update)</a>
              </li>
              <li>
                <a href="address-lookup-update-journey/link-home-address">Link home address to correspondence address (update)</a>
              </li>
              <li>
                <a href="address-lookup-update-journey/static-list-of-addresses">Static list of addresses update</a>
              </li>
            </ul>
            <h3 class="govuk-heading-m">Update PSC </h3>
            <ul class="govuk-list govuk-list--bullet">
              <li>
                <a href="update/change">Update PSC's details</a>
              </li>
              <li>
                <a href="update/country-of-residence">Country of residence</a>
              </li>
              <li>
                <a href="update/date-of-birth">Date of birth</a>
              </li>
              <li>
                <a href="update/date-of-change">Date of details change</a>
              </li>
              <li>
                <a href="update/job-title">Job title</a>
              </li>
              <li>
                <a href="update/name">Name</a>
              </li>
              <li>
                <a href="update/nationality">Nationality</a>
              </li>
              <li>
                <a href="update/remove">When was PSC removed</a>
              </li>
              <li>
                <a href="update/confirm-update">Trying to appoint a new PSC?</a>
              </li>
              <li>
                <a href="update/confirm-update-stop">Stop if trying to appoint a new PSC</a>
              </li>
            </ul>


            <h3 class="govuk-heading-m">Add new statement </h3>
            <ul class="govuk-list govuk-list--bullet">
              <li>
                <a href="add/psc-options?type=addstatement">Which statement applies to the company's PSCs?
                </a>
              </li>
              <li>
                <a href="add/psc-check-statement?type=addstatement">PSC statement
                </a>
              </li>
              <li>
                <a href="add/statement-date?type=addstatement">When was the company's PSC register updated with this information?
                </a>
              </li>
              <li>
                <a href="check-your-answers">Check your answers before submitting
                </a>
              </li>

              <li>
                <a href="check-your-answers">Check your answers before submitting
                </a>
              </li>
              <li>
                <a href="confimation">New PSC statement submitted
                </a>
              </li>
            </ul>

            <h3 class="govuk-heading-m">Removing a statement </h3>
            <ul class="govuk-list govuk-list--bullet">
              <li>
                <a href="update/remove-statement?officer=&type=removestatement&directorname=">Date details</a>
              </li>
              <li>
                <a href="check-your-answers?type=removestatement">Check your answers before submitting
                </a>
              </li>
              <li>
                <a href="confirmation">Remove PSC statement submitted
                </a>
              </li>
            </ul>

            <h3 class="govuk-heading-m">Emails</h3>
            <ul class="govuk-list govuk-list--bullet">
              <li>
                <a href="emails/appoint-accepted">Add PSC - accepted</a>
              </li>
              <li>
                <a href="emails/appoint-rejected">Add PSC - rejected</a>
              </li>
              <li>
                <a href="emails/appoint-submitted">Add PSC - submitted</a>
              </li>
              <li>
                <a href="emails/remove-accepted">Remove - accepted</a>
              </li>
              <li>
                <a href="emails/remove-rejected">Remove - rejected</a>
              </li>
              <li>
                <a href="emails/remove-submitted">Remove - submitted</a>
              </li>
              <li>
                <a href="emails/update-accepted">Update - accepted</a>
              </li>
              <li>
                <a href="emails/update-rejected">Update - rejected</a>
              </li>
              <li>
                <a href="emails/update-submitted">Update - submitted</a>
              </li>
              <li>
                <a href="emails/layout-email">Layout email</a>
              </li>
            </ul>
</div>
        <div class="govuk-tabs__panel" id="code">
          <h3 class="govuk-heading-m">Entry points</h3>
          <ul class="govuk-list govuk-list--bullet">
            <li>
              <a href="start?journey=gov">GOV.UK start page</a>
            </li>
  </ul>
  <h3 class="govuk-heading-m">Emails</h3>
  <h3 class="govuk-heading-s">Appoint a psc</h3>
<ul class="govuk-list govuk-list--bullet">
            <li>
              <a href="emails/appoint-submitted">Submitted</a>
            </li>
            <li>
              <a href="emails/appoint-accepted">Accepted</a>
            </li>
            <li>
              <a href="emails/appoint-rejected">Rejected</a>
            </li>
          </ul>
          <h3 class="govuk-heading-s">Update a director</h3>
        <ul class="govuk-list govuk-list--bullet">
                    <li>
                      <a href="emails/update-submitted">Submitted</a>
                    </li>
                    <li>
                      <a href="emails/update-accepted">Accepted</a>
                    </li>
                    <li>
                      <a href="emails/update-rejected">Rejected</a>
                    </li>
                  </ul>
             <h3 class="govuk-heading-s">Remove a psc</h3>
                <ul class="govuk-list govuk-list--bullet">
                            <li>
                              <a href="emails/remove-submitted">Submitted</a>
                            </li>
                            <li>
                              <a href="emails/remove-accepted">Accepted</a>
                            </li>
                            <li>
                              <a href="emails/remove-rejected">Rejected</a>
                            </li>
                          </ul>
        </div>

        <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="form-versions">
          <table class="govuk-table version-history">
            <caption class="govuk-table__caption govuk-heading-l">Previous versions</caption>
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Version</th>
                <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Tested on</th>
                <th scope="col" class="govuk-table__header govuk-!-width-one-third">Changes</th>
                <th scope="col" class="govuk-table__header govuk-!-width-one-third">Status</th>
              </tr>
            </thead>
            
            <tbody class="govuk-table__body">

                            <!-- Version 7 summary -->

                            <tr class="govuk-table__row">
                              <th scope="row" class="govuk-table__header">
                                <a href="https://psc-v6.herokuapp.com/">Version 7</a>
                              </th>
                              <td class="govuk-table__cell">8 March 2023</td>
                              <td class="govuk-table__cell">
                                <details class="govuk-details" data-module="govuk-details">
                                  <summary class="govuk-details__summary">
                                    <span class="govuk-details__summary-text">
                                      Changes included in version 7
                                    </span>
                                  </summary>
                                  <div class="govuk-details__text">
              
                                    <p>Scenario:  </p>
              
                                    <ul class="govuk-list govuk-list--bullet">
                                      <li>Add a corporate (RLE) director which is based in the UK </li>
                                      <li>Remove corporate (RLE) director</li>
                                    </ul>
              
                                  <ul class="govuk-list">
                                      Updates to page:<br><br>
                                    <li>
                                      <a href="add/psc-options?type=addstatement">What do you want to do?</a>
                                    </li>
                                  </ul>
              
                                  <p> Content added as hint text to 'Add a PSC' radio button - You'll need all the required details about the PSC. If you do not have all their details, add a statement instead. </p>
              
                                  <p> Explaining to the user about PSC statement. Users are unfamiliar with this option and their need to add a statement before updating the statement with PSC information.</p>
              
                                  <p class="add/name?type=add"> Public register pattern change to inset text -  What information we'll show on the public register.</p>
              
              
                                  <ul class="govuk-list">
                                    Updates to page:<br><br>
               
                                     <li>
                                       <a href="add/percentage-of-shares"> What percentage of shares does the PSC have?</a>
                                     </li>
                                    </ul>
              
                                  <p class="govuk-body"> Hint text added - This includes shares held directly or indirectly.</p>
              
                                  <ul class="govuk-list">
                                    Updates to page:<br><br>
               
                                     <li>
                                       <a href="add/percentage-of-voting-rights"> What percentage of voting rights does the PSC own?</a>
                                     </li>
                                    </ul>
              
                                  <p class="govuk-body"> Hint text added - This includes voting rights held directly or indirectly.</p>
              
                                  <ul class="govuk-list">
                                    Updates to page:<br><br>
               
                                     <li>
                                       <a href=" add/right-to-appoint"> Does the PSC have the right to be involved in appointing or removing the majority of directors?</a>
                                     </li>
                                    </ul>
              
                                  <p class="govuk-body"> Hint text added - directly or indirectly.</p>
              
                                  </div>
                                </details>
                              </td>
                              <td class="govuk-table__cell">
                                <strong class="govuk-tag govuk-tag--green">
                                  Ready for testing
                                </strong>
                              </td>
                            </tr>

                            


              <!-- Version 6 summary -->

              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">
                  <a href="https://psc-v6.herokuapp.com/">Version 6</a>
                </th>
                <td class="govuk-table__cell">8 March 2023</td>
                <td class="govuk-table__cell">
                  <details class="govuk-details" data-module="govuk-details">
                    <summary class="govuk-details__summary">
                      <span class="govuk-details__summary-text">
                        Changes included in version 6
                      </span>
                    </summary>
                    <div class="govuk-details__text">

                      <p>Scenario: Review adding a PSC and statement when all the PSC details is not known. </p>

                      <ul class="govuk-list govuk-list--bullet">
                        <li>Add a Statement</li>
                        <li>Remove a statement</li>
                        <li>Add a PSC</li>
                      </ul>

                    <ul class="govuk-list">
                        Updates to page:<br><br>
                      <li>
                        <a href="add/psc-options?type=addstatement">What do you want to do?</a>
                      </li>
                    </ul>

                    <p> Content added as hint text to 'Add a PSC' radio button - You'll need all the required details about the PSC. If you do not have all their details, add a statement instead. </p>

                    <p> Explaining to the user about PSC statement. Users are unfamiliar with this option and their need to add a statement before updating the statement with PSC information.</p>

                    <p class="add/name?type=add"> Public register pattern change to inset text -  What information we'll show on the public register.</p>


                    <ul class="govuk-list">
                      Updates to page:<br><br>
 
                       <li>
                         <a href="add/percentage-of-shares"> What percentage of shares does the PSC have?</a>
                       </li>
                      </ul>

                    <p class="govuk-body"> Hint text added - This includes shares held directly or indirectly.</p>

                    <ul class="govuk-list">
                      Updates to page:<br><br>
 
                       <li>
                         <a href="add/percentage-of-voting-rights"> What percentage of voting rights does the PSC own?</a>
                       </li>
                      </ul>

                    <p class="govuk-body"> Hint text added - This includes voting rights held directly or indirectly.</p>

                    <ul class="govuk-list">
                      Updates to page:<br><br>
 
                       <li>
                         <a href=" add/right-to-appoint"> Does the PSC have the right to be involved in appointing or removing the majority of directors?</a>
                       </li>
                      </ul>

                    <p class="govuk-body"> Hint text added - directly or indirectly.</p>

                    </div>
                  </details>
                </td>
                <td class="govuk-table__cell">
                  <strong class="govuk-tag govuk-tag--green">
                    Ready for testing
                  </strong>
                </td>
              </tr>

              
               <!-- Version 5 summary -->
               <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">
                  <a href="https://psc-v5.herokuapp.com/">Version 5</a>
                </th>
                <td class="govuk-table__cell">16 February 2023</td>
                <td class="govuk-table__cell">
                  <details class="govuk-details" data-module="govuk-details">
                    <summary class="govuk-details__summary">
                      <span class="govuk-details__summary-text">
                        Changes included in version 5
                      </span>
                    </summary>
                    <div class="govuk-details__text">

                    </ul>
                    <ul class="govuk-list">
                        Updates to pages:<br><br>
                      <li>
                        <a href="start">GOV.UK start page</a>
                      </li>
                    </ul>

                    <p> Content added in inset - If you do not have all the required details about a new PSC, you’ll need to add a PSC statement instead. </p>


                      <p class="govuk-body"> Key update: </p>

                      <ul class="govuk-list govuk-list--bullet">
                        <li>Add new PSC or statement in one journey</li>
                        <li>Check that the user isn't adding a PSC which related to an exisiting  statement</li>
                      </ul>

                      <ul class="govuk-list">
                        Updates to page:<br><br>
   
                         <li>
                           <a href="add/psc-options?type=addstatement">What do you want to do?</a>
                         </li>
                        </ul>

                      <p class="govuk-body"> Instead of having the 'Which statement applies to the company's PSCs?' page to add a statement, the Add a PSC has been added to the list of radio buttons. The page is now, What do you want to do?</p>

                      <ul class="govuk-list">
                        Updates to page:<br><br>
   
                         <li>
                           <a href="add/confirmation">Confirmation</a>
                         </li>
                        </ul>

                        <p class="govuk-body"> Reordered the page. Moved the submission details to the bottom. Brought to the top - "What to do when this statement no longer applies".</p>

                        <ul class="govuk-list">
                          Updates to page:<br><br>
     
                           <li>
                             <a href="update/review-statement">Review some information before you add a new PSC</a>
                           </li>
                           <li>
                            <a href="update/interrupt-remove-statement">You must remove the statement before adding the PSC</a>
                          </li>
                          </ul>

                          <p class="govuk-body">If a user tries to add a PSC but has a statement already, we prompt the user to remove the statement before adding the new PSC.</p>
                   
                    </div>
                  </details>
                </td>
                <td class="govuk-table__cell">
                  <strong class="govuk-tag govuk-tag--green">
                    Ready for testing
                  </strong>
                </td>
              </tr>



              <!-- Version 4 summary -->

              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">
                  <a href="https://psc-v4.herokuapp.com/">Version 4</a>
                </th>
                <td class="govuk-table__cell">29 January 2023</td>
                <td class="govuk-table__cell">
                  <details class="govuk-details" data-module="govuk-details">
                    <summary class="govuk-details__summary">
                      <span class="govuk-details__summary-text">
                        Changes included in version 4
                      </span>
                    </summary>
                    <div class="govuk-details__text">

                      <p class="govuk-body"> New journeys created: </p>

                      <ul class="govuk-list govuk-list--bullet">
                        <li>Add new statement</li>
                        <li>Remove statement</li>
                      </ul>

                      <p> Scenario: If the company already has active PSCs, guide the user through the relevant statements.</p>

                      </ul>
                         <ul class="govuk-list">
                          Updates to pages:<br><br>

                          <li>
                            <a href="start">GOV.UK start page</a>
                          </li>

                          <p> Content added - "add or remove a PSC statement".</p>
           
                      
     
                          <p class="govuk-body govuk-!-padding-top-5 "> New journey - Add a PSC journey: </p>



                          <li>
                             <a href="add/psc-options?type=addstatement">Which statement applies to the company's PSCs?</a>,
                          </li>
                          <p> Scenario: If the company already has active PSCs display the relevent statements. </p>

                          <li>
                            <a href="add/psc-check-statement?type=addstatement">Add a PSC statement</a>,
                         </li>
                         <p> Designed the page to display the PSC statement. </p>

                         <li>
                          <a href="add/statement-date?type=addstatement">When was the company's PSC register updated with this information?
                          </a>
                       </li>

                       <li>
                        <a href="add/check-your-answers">Check your answers - Check your answers before submitting</a>
                      </li>
                      <li>
                        <a href="add/confirmation">Confirmation page - New PSC statement submitted</a>
                      </li>

                      <p class="govuk-!-padding-top-5"> Users return to PSCs page and the new statement has been added.</p>
                      </ul>

                      <p class="govuk-!-padding-top-5">New journey - Remove a statement </p>

                      <ul class="govuk-list">
                        <li>
                          <a href="update/remove-statement?officer=&type=removestatement&directorname=">Date details</a>
                        </li>

                        <li>
                          <a href="check-your-answers?type=removestatement">Check your answers before submitting</a>
                        </li>
                        <li>
                          <a href="confirmation">Confirmation page - Remove PSC statement submitted</a>
                        </li>
                      </ul>
                    </div>
                  </details>
                </td>
                <td class="govuk-table__cell">
                  <strong class="govuk-tag govuk-tag--green">
                    Ready for testing
                  </strong>
                </td>
              </tr>





              <!-- Version 3 summary -->
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">
                  <a href="https://psc-v3.herokuapp.com/">Version 3</a>
                </th>
                <td class="govuk-table__cell">14 December 2022</td>
                <td class="govuk-table__cell">
                  <details class="govuk-details" data-module="govuk-details">
                    <summary class="govuk-details__summary">
                      <span class="govuk-details__summary-text">
                        Changes included in version 3
                      </span>
                    </summary>
                    <div class="govuk-details__text">


                        New features added: <br> <br>
                        
                        <p>Ceased PSC recieved label displays on PSC summary card</p>
                        <p>Notification banner added - New PSC submission received: We’ll send an email to let you know if the submission was accepted or rejected. This page will update if it's accepted.</p>
                        <p> Update received label displays on PSC summary card </p>


                      </ul>
                         <ul class="govuk-list">
                          Updates to pages:<br><br>

                          <li>
                            <a href="start">GOV.UK start page</a>
                          </li>

                          <p> Link off to nature of controls guidance.</p>
                          <p> Added content to explain what a PSC register is.</p>
                      
      
                          <li>
                            <a href="directors">List of PSCs</a>
                          </li>

                          <p> Heading change - from Active PSCs to Active people with significant control (PSCs) </p>
                          
                          <p class="govuk-body govuk-!-padding-top-5 "> Add a PSC journey: </p>

                          <li>
                             <a href="add/date-of-appointment">Date details - became a PSC and on the PSC register</a>,
                          </li>
                          <p> Heading change - from What date did they become a PSC? to When did they become a PSC? </p>
                          <p> Reveal remove and hint text for PSC register date added - Companies are required to keep a PSC register. It must include the details of all people or companies that have significant control over the company.</p>
                         



                          <p class="govuk-body govuk-!-padding-top-5 "> Remove PSC: </p>
                           <li>
                            <a href="update/remove">Date stopped being a PSC</a>,
                          </li>
                        <p> Heading changed from - When did this person stop being a PSC for the company? to When did this person cease to be a PSC for the company?
                        </p>
                      </ul>
                    </div>
                  </details>
                </td>
                <td class="govuk-table__cell">
                  <strong class="govuk-tag govuk-tag--green">
                    Ready for testing
                  </strong>
                </td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">
                  <a href="https://psc-v2.herokuapp.com/">Version 2</a>
                </th>
                <td class="govuk-table__cell">28 November 2022</td>
                <td class="govuk-table__cell">
                  <details class="govuk-details" data-module="govuk-details">
                    <summary class="govuk-details__summary">
                      <span class="govuk-details__summary-text">
                        Changes included in version 2
                      </span>
                    </summary>
                    <div class="govuk-details__text">
                         <ul class="govuk-list">
                        
                          New pages:<br>

                          <li>
                            <a href="start">GOV.UK start page.</a>
                          </li>
                          <ul class="govuk-list govuk-list--bullet">
                            <li>Plural added for natures of control.</li>
                          </ul>

                          <li>
                            <a href="sign-in">Sign in to Companies House</a>,
                          </li>
                          <li>
                            <a href="company-lookup">Company lookup</a>,
                          </li>
                          <li>
                            <a href="confirm-company">Confirm company</a>,
                          </li>
                          <li>
                            <a href="auth-code">Company auth code</a>,
                          </li>
                          <li>
                            <a href="directors">List of PSCs</a>,
                          </li>
                          
                          <ul class="govuk-list govuk-list--bullet">
                            <li> Link content change from Update details -> Check and update details.</li>
                          </ul>


                          <p class="govuk-body govuk-!-padding-top-5 "> Add a PSC journey: </p>

                          <li>
                            <a href="add/add">Add PSC's details</a>,  
                          </li>
                          <li>
                            <a href="add/add/date-of-birth">Add PSC's date of birth</a>,
                          </li>
                          <li>
                            <a href="address-lookup/correspondence-address">Add correspondance address</a>,
                          </li>
                            <a href="address-lookup/link-correspondence-address-alt2">Capture the RO address change with the correspondance address</a>,
                          <li>
                            <a href="address-lookup/home-address">Where the PSC lives</a>,
                          </li>
                          <li>
                             <a href="add/date-of-appointment">Date details - became a PSC and on the PSC register</a>,
                          </li>
                          <ul class="govuk-list govuk-list--bullet">
                            <li> Rewording content 'Was the company's PSC register updated with this information on the same date?'</li>
                            <li> Hide and reveal added with 'What a PSC register is'</li>
                          </ul>
                          <li>
                            <a href="add/243">Protect their details</a>,
                          </li>
                          <ul class="govuk-list govuk-list--bullet">
                           <li> Reorder radio buttons - 'No' is the most selected option.</li>
                         </ul>
                          <li>
                            <a href="add/percentage-of-shares">Percentage of shares</a>,
                          </li>

                          <li>
                            <a href="add/percentage-of-voting-rights">Voting rights</a>,
                          </li>
                          <li>
                            <a href="add/right-to-appoint">Right to appoint</a>,
                          </li>
                          <li>
                            <a href="confirmation">New PSC submitted</a>,
                          </li>

                          <p class="govuk-body govuk-!-padding-top-5 "> Update PSC details: </p>

                           <li>
                            <a href="update/change">Update the PSC's details</a>,
                          </li>
                          <ul class="govuk-list govuk-list--bullet">
                           <li> Hint text added, 'Updates are pending until submitted'</li>
                            <li> Label now 'Change made'</li>
                          </ul>
                           <li>
                            <a href="update/date-of-change">Date of PSC change</a>,
                          </li>
                          <li>
                            <a href="check-your-answers-alt">Check your details before updating</a>,
                          </li>
                           <li>
                            <a href="confirmation">PSC updated submitted</a>,
                          </li>


                          <p class="govuk-body govuk-!-padding-top-5 "> Remove PSC: </p>
                           <li>
                            <a href="update/remove">Date stopped being a PSC</a>,
                          </li>
                          <ul class="govuk-list govuk-list--bullet">
                            <li> Name added as Caption above heading.</li>
                          </ul>
                           <li>
                            <a href="check-your-answers">Check your answers before submitting</a>,
                          </li>
                           <li>
                            <a href="confirmation">Removal of PSC submitted</a>,
                          </li>
                      </ul>
                    </div>
                  </details>
                </td>
                <td class="govuk-table__cell">
                  <strong class="govuk-tag govuk-tag--green">
                     Ready for testing
                  </strong>
                </td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">
                  <a href="https://psc-v1.herokuapp.com/">Version 1</a>
                </th>
                <td class="govuk-table__cell">November 2022</td>
                <td class="govuk-table__cell">
                  <details class="govuk-details" data-module="govuk-details">
                    <summary class="govuk-details__summary">
                      <span class="govuk-details__summary-text">
                        Changes included in version 1
                      </span>
                    </summary>
                    <div class="govuk-details__text">
                         <ul class="govuk-list">
                        
                          <p class="govuk-body govuk-!-padding-top-5"> New pages:</p>

                          <li>
                            <a href="start">GOV.UK start page.</a>
                          </li>
                          <li>
                            <a href="sign-in">Sign in to Companies House</a>,
                          </li>
                          <li>
                            <a href="company-lookup">Company lookup</a>,
                          </li>
                          <li>
                            <a href="confirm-company">Confirm company</a>,
                          </li>
                          <li>
                            <a href="auth-code">Company auth code</a>,
                          </li>
                          <li>
                            <a href="directors">List of PSCs</a>,
                          </li>

                          <p class="govuk-body govuk-!-padding-top-5 "> Add a PSC journey: </p>

                          <li>
                            <a href="add/add">Add PSC's details</a>,  
                          </li>
                          <li>
                            <a href="add/add/date-of-birth">Add PSC's date of birth</a>,
                          </li>
                          <li>
                            <a href="address-lookup/correspondence-address">Add correspondance address</a>,
                          </li>
                            <a href="address-lookup/link-correspondence-address-alt2">Capture the RO address change with the correspondance address</a>,
                          <li>
                            <a href="address-lookup/home-address">Where the PSC lives</a>,
                          </li>
                          <li>
                             <a href="add/date-of-appointment">Date details - became a PSC and on the PSC register</a>,
                          </li>
                          <li>
                            <a href="add/243">Protect their details</a>,
                          </li>
                          <li>
                            <a href="add/percentage-of-shares">Percentage of shares</a>,
                          </li>

                          <li>
                            <a href="add/percentage-of-voting-rights">Voting rights</a>,
                          </li>
                          <li>
                            <a href="add/right-to-appoint">Right to appoint</a>,
                          </li>
                          <li>
                            <a href="confirmation">New PSC submitted</a>,
                          </li>

                          <p class="govuk-body govuk-!-padding-top-5 "> Update PSC details: </p>

                           <li>
                            <a href="update/change">Update the PSC's details</a>,
                          </li>
                           <li>
                            <a href="update/date-of-change">Date of PSC change</a>,
                          </li>
                          <li>
                            <a href="check-your-answers-alt">Check your details before updating</a>,
                          </li>
                           <li>
                            <a href="confirmation">PSC updated submitted</a>,
                          </li>


                          <p class="govuk-body govuk-!-padding-top-5 "> Remove PSC: </p>
                           <li>
                            <a href="update/remove">Date stopped being a PSC</a>,
                          </li>
                           <li>
                            <a href="check-your-answers">Check your answers before submitting</a>,
                          </li>
                           <li>
                            <a href="confirmation">Removal of PSC submitted</a>,
                          </li>
                      </ul>
                    </div>
                  </details>
                </td>
                <td class="govuk-table__cell">
                  <strong class="govuk-tag govuk-tag--green">
                    Ready for testing
                  </strong>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
