{% extends "layout.html" %}
{% block pageTitle %}
  Active directors for ZENITH PRINT (UK) LIMITED
  -
  {{serviceName}}
  - GOV.UK
{% endblock %}
{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "company-lookup"
}) }}
{% endblock %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-l">ZENITH PRINT (UK) LIMITED</span>
      <h1 class="govuk-heading-l">No active directors</h1>
     <!-- {{ govukButton({
        text: "Appoint new director",
        href: "add/name?type=add"
      }) }} -->
       <p class="govuk-body">ZENITH PRINT (UK) LIMITED cannot use this service because the company has no active directors. </p>
       <p class="govuk-body">You can <a href="https://ewf.companieshouse.gov.uk/" class="govuk-link govuk-link--no-visited-state">appoint a director on webfilng</a>.</p>
      <!-- could we link to webfiling for companies to add a director? Could also link to start to do another company -->

    </div>
  </div>
{% endblock %}
