{% extends "layout.html" %}
{% block pageTitle %}
  {{serviceName}}
  - GOV.UK
{% endblock %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <h1 class="govuk-heading-xl">{{serviceName}}</h1>
      <p class="govuk-body-l">Use this service to update director information for limited companies on the Companies House register.</p>
      <p class="govuk-body">In this service, you can:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>appoint a new director</li>
        <li>update an existing director's details</li>
        <li>remove a director</li>
      </ul>

      <h3 class="govuk-heading-s">Corporate directors</h3>

      <p class="govuk-body">To appoint, update or remove corporate directors, you'll need to use our <a href="https://ewf.companieshouse.gov.uk//seclogin?tc=1" class="govuk-link">WebFiling service</a> or file a <a href="https://www.gov.uk/government/collections/companies-house-forms-for-limited-companies#directors-and-secretaries" class="govuk-link">Companies House form</a>.</p>

      {{ govukDetails({
        summaryText: "What is a corporate director?",
        text: "This is a company, firm, or any other kind of corporate body that is appointed as the director of another company."
      }) }}

      <h2 class="govuk-heading-m">Before you start</h2>
      <p class="govuk-body">You'll need:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>to sign in to or create a Companies House account</li>
        <li>the company number</li>
        <li>the company authentication code</li>
      </ul>
     {{ govukButton({
        text: "Start now",
        href: "sign-in",
        classes: "govuk-!-margin-top-2 govuk-!-margin-bottom-8",
        isStartButton: true
      }) }}
    </div>
  </div>
{% endblock %}
