{% extends "layout.html" %}
{% block pageTitle %}
  {{serviceName}}
  - GOV.UK
{% endblock %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <h1 class="govuk-heading-xl">Add, update and cease a person with significant control (PSC)</h1>
      <p class="govuk-body-l">Use this service to update PSC information for limited companies on the Companies House register.</p>
      <p class="govuk-body">In this service, you can:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>add a new PSC</li>
        <li>update an existing PSC's details</li>
        <li>cease a PSC</li>
        <li>add or remove a PSC statement</li>
      </ul>

<details class="govuk-details" data-module="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      What a PSC statement is
    </span>
  </summary>
  <div class="govuk-details__text">
    Your PSC register must contain information about all PSCs of the company.
  </div>
   <div class="govuk-details__text">
    If this is not possible, you must put a statement in your register to explain why this information is not available.
  </div>
</details>

      <h2 class="govuk-heading-m">Before you start</h2>
      <p class="govuk-body">You'll need:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>a Companies House account - we'll ask you to sign in or create one</li>
        <li>the company number</li>
        <li>the <a href="https://www.gov.uk/guidance/company-authentication-codes-for-online-filing" class="govuk-link">company authentication code</a></li>
        <li>the PSC's <a href="https://www.gov.uk/guidance/people-with-significant-control-pscs#identifying-your-psc" class="govuk-link">natures of control</a></li>
        <li>the date they became a PSC, and the date the company's PSC register was updated with this information</li>
      </ul>

     {{ govukDetails({
        summaryText: "What a PSC register is",
        text: "Companies are required to keep a PSC register. It must include the details of all individuals or companies that have significant control over the company."
      }) }}

<h3 class="govuk-heading-s">What you'll need to add a person as a PSC</h3>

      <p class="govuk-body">You'll need to tell us their:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>name</li>
        <li>date of birth</li>
        <li>nationality</li>
        <li>correspondence address and home address</li>
      </ul>

 


      <p class="govuk-body">You'll also need to tell us whether the PSC has ever applied to <a href="https://www.gov.uk/guidance/applying-to-protect-your-personal-information-on-the-companies-house-register" class="govuk-link">protect personal information at Companies House</a>.</p>

<h3 class="govuk-heading-s">What you'll need to add a corporate body as a PSC</h3>

       <p class="govuk-body">You'll need to tell us its:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>name</li>
        <li>registered office address</li>
        <li>corporate body type</li>
        <li>legal form and governing law</li>
        <li>register the corporate body is entered in</li>
        <li>country of registration and registration number</li>
 </ul>
        
  <p class="govuk-body">A corporate body can also be known as a relevant legal entity (RLE).</p>

<details class="govuk-details" data-module="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      Help with corporate bodies registered outside the UK
    </span>
  </summary>
  <div class="govuk-details__text">
    <p class="govuk-body">If a corporate body is registered outside the UK, it needs to be declared as a PSC if any of these statements apply:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>its shares are traded on a regulated market in the EU</li>
        <li>its shares are traded on a specified market in Switzerland, Israel, USA and Japan</li>
        <li>it is a trust with a single person or corporate body that has more than 50% control over it
</li>
      </ul>
  </div>
</details>


      <h3 class="govuk-heading-s">What you'll need to add an other registrable person (ORP) as a PSC</h3>

       <p class="govuk-body">You'll need to tell us its:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>name of office or official position</li>
        <li>registered office address</li>
        <li>legal form or corporate identity</li>
        <li>governing law</li>
      </ul>
     

<details class="govuk-details" data-module="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      What an ORP is
    </span>
  </summary>
  <div class="govuk-details__text"><p class="govuk-body">An ORP is typically an organisation, office or official position. For example, it could be a:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>government or government department of a country or territory</li>
  <li>local authority or local government body in the UK or elsewhere</li>
  <li>corporation sole (typically an official position)</li>
</ul>
    
  </div>
</details>

{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{{ govukInsetText({
  text: "If you do not have all the required details about a new PSC, you’ll need to add a PSC statement instead."
}) }}

       {{ govukButton({
          text: "Start now",
          href: "sign-in",
          classes: "govuk-!-margin-top-2 govuk-!-margin-bottom-8",
          isStartButton: true
        }) }}
    </div>
  </div>
{% endblock %}
