{% set title = "Corporate body details " %}
{% extends "layout.html" %}
{% block pageTitle %}
  {{title}}
  -
  {{serviceName}}
  - GOV.UK
{% endblock %}
{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:history.back()"
}) }}
{% endblock %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <form action="/add/rle/details" method="post">
        <span class="govuk-caption-l">{{data['corporatename']}}</span>

        <!-- If it's the ORP behind the RLE -->
        {% if ((data['type-control'] === "orp") or (data['type-of-psc'] === "orp")) %}

        <h1 class="govuk-heading-l"> Other registrable person details </h1>

        {{ govukInput({
          label: {
            text: "Legal form or corporate identity"
          },
          hint: {
            text: "This is the corporate body type. For example, private limited company"
          },
          classes: "govuk-input--width-20",
          id: "legal-form",
          value: "",
          name: "legal-form"
        }) }}

        {{ govukInput({
          label: {
            text: "Governing law"
          },
          hint: {
            text: "For example, Companies Act 2006"
          },
          classes: "govuk-input--width-20",
          id: "governing-law",
          value: "",
          name: "governing-law"
        }) }}

        <!-- corpoate and not in the UK --> 
        {% elseif ((data['type-control'] === "corporate") or (data['type-of-psc'] === "corporate-body") and (data['registered-in-uk'] === "no")) %}

        <h1 class="govuk-heading-l">Corporate body details</h1>


        {{ govukInput({
          label: {
            text: "Legal form or corporate identity"
          },
          hint: {
            text: "This is the corporate body type. For example, private limited company"
          },
          classes: "govuk-input--width-20",
          id: "legal-form",
          name: "legal-form"
        }) }}

        {{ govukInput({
          label: {
            text: "Governing law"
          },
          hint: {
            text: "For example, Companies Act 2006"
          },
          classes: "govuk-input--width-20",
          id: "governing-law",
          name: "governing-law"
        }) }}


        {{ govukInput({
          label: {
            text: "Register that the corporate body is entered in"
          },
          hint: {
            text: "For example, UK Register of Companies"
          },
          classes: "govuk-input--width-20",
          id: "register",
          name: "register"
        }) }}

     
        {{ govukInput({
          label: {
            text: "Country of registration (if applicable)"
          },
          classes: "govuk-input--width-20",
          id: "country-registered",
          value: "",
          name: "country-registered"
        }) }}

        
        {{ govukInput({
          label: {
            text: "Registration number"
          },
          hint: {
            text: "For example, the company number"
          },
          classes: "govuk-input--width-20",
          id: "registration-number",
          name: "regnumber"
        }) }}
      
        <!-- corpoate and in the UK --> 
        {% elseif ((data['type-control'] === "corporate") or (data['type-of-psc'] === "corporate-body") and (data['registered-in-uk'] === "yes")) %}

        <h1 class="govuk-heading-l">Corporate body details</h1>


        {{ govukInput({
          label: {
            text: "Legal form or corporate identity"
          },
          hint: {
            text: "This is the corporate body type. For example, private limited company"
          },
          classes: "govuk-input--width-20",
          id: "legal-form",
          value: "Private Company Limited by Shares",
          name: "legal-form"
        }) }}

        {{ govukInput({
          label: {
            text: "Governing law"
          },
          hint: {
            text: "For example, Companies Act 2006"
          },
          classes: "govuk-input--width-20",
          id: "governing-law",
          value: "Companies Act 2006",
          name: "governing-law"
        }) }}


        {{ govukInput({
          label: {
            text: "Register that the corporate body is entered in"
          },
          hint: {
            text: "For example, UK Register of Companies"
          },
          classes: "govuk-input--width-20",
          id: "register",
          value: "UK Register of Companies",
          name: "register"
        }) }}

     
        {{ govukInput({
          label: {
            text: "Country of registration (if applicable)"
          },
          classes: "govuk-input--width-20",
          id: "country-registered",
          value: "",
          name: "country-registered"
        }) }}

        
        {{ govukInput({
          label: {
            text: "Registration number"
          },
          hint: {
            text: "For example, the company number"
          },
          classes: "govuk-input--width-20",
          id: "registration-number",
          value: data['regnumber'],
          name: "regnumber"
        }) }}

        {% endif %}

       

        
        {{ govukInsetText({
          html: "<h2 class='govuk-heading-m'>What information we'll show on the public register</h2>
                <p>We will show all the information you provide in this section on the public Companies House register.</p>"
        }) }}


        {{ govukButton({
          text: "Continue"
        }) }}

      </form>
    </div>
  </div>
  <script src="/public/javascripts/accessible-autocomplete.js"></script>
  <script src="/public/javascripts/titles-appoint.js"></script>
{% endblock %}
