{% set title = "Has [company name] had its shares traded on a regulated market in the European Union (EU)?" %}
{% extends "layout.html" %}
{% block pageTitle %}
  {{title}}
  -
  {{serviceName}}
  - GOV.UK
{% endblock %}
{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:history.back()"
}) }}
{% endblock %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <form action="/add/rle/traded-eu" method="post">

        <span class="govuk-caption-l">{{data['corporatename']}}</span>

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-fieldset__heading">
                Has the corporate body's shares been traded on a regulated market in the European Union (EU)?
              </h1>
            </legend>
            <div id="changed-name-hint" class="govuk-hint">
              Shares trading is the buying and selling of company shares.
            </div>
            <details class="govuk-details" data-module="govuk-details">
              <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                  See a list of countries that are in the European Union (EU)
                </span>
              </summary>
              <div class="govuk-details__text">
                     <ul class="govuk-list govuk-list--bullet">
                    <li>Austria</li>
                    <li>Belgium</li>
                    <li>Bulgaria</li>
                    <li>Croatia</li>
                    <li>Republic of Cyprus</li>
                    <li>Czech Republic</li>
                    <li>Denmark</li>
                    <li>Estonia</li>
                    <li>Finland</li>
                    <li>France</li>
                    <li>Germany</li>
                    <li>Greece</li>
                    <li>Hungary</li>
                    <li>Ireland</li>
                    <li>Italy</li>
                    <li>Latvia</li>
                    <li>Lithuania</li>
                    <li>Luxembourg</li>
                    <li>Malta</li>
                    <li>Netherlands</li>
                     <li>Poland</li>
                    <li>Portugal</li>
                    <li>Romania</li>
                    <li>Slovakia</li>
                    <li>Slovenia</li>
                    <li>Spain</li>
                    <li>Sweden</li>
                  </ul>
            
            </details>
            <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="traded-eu" name="traded-eu" type="radio" value="yes">
                <label class="govuk-label govuk-radios__label" for="traded-eu">
                  Yes
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="traded-eu" name="traded-eu" type="radio" value="no">
                <label class="govuk-label govuk-radios__label" for="traded-eu">
                  No
                </label>
              </div>
            </div>
          </fieldset>
        </div>

        {{ govukButton({
          text: "Continue"
        }) }}


      </form>
    </div>
  </div>
{% endblock %}


{# Might need later:
 hint: {
        text: "You’ll need all the required details about the PSC."
      } #}