{% set title = "What type of entity has more than 50% control of the corporate body?" %}
{% extends "layout.html" %}
{% block pageTitle %}
What type of corporate body is it?
  -
  {{serviceName}}
  - GOV.UK
{% endblock %}
{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:history.back()"
}) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <form action="/add/rle/type-entity-controls" method="post">
        <span class="govuk-caption-l">{{data['corporatename']}}</span>

        {{ govukRadios({
          name: "type-control",
          fieldset: {
            legend: {
              text: title,
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: [
            {
              value: "person",
              text: "A person"
            },
            {
              value: "corporate",
              text: "A corporate body"
            },
            {
              value: "orp",
              text: "Other registrable person"
            }
          ]
        }) }}



        {{ govukButton({
          text: "Continue"
        }) }}

      </form>
    </div>
  </div>
{% endblock %}

