{% set title = "" %}
{% extends "layout.html" %}
{% block pageTitle %}
Is {{data['corporatename']}} registered in the UK
  -
  {{serviceName}}
  - GOV.UK
{% endblock %}
{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:history.back()"
}) }}
{% endblock %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <form action="/add/rle/uk-company-type" method="post">

        <h1 class="govuk-heading-l">What type of corporate body is {{data['corporatename']}}?</h1>


        {% set privateLimitedHtml %}
        {{ govukRadios({
          name: "private-limited-type",
          fieldset: {
            legend: {
              text: "",
              isPageHeading: false,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: [
            {
              value: "plc-shares",
              text: "Private Limited by Shares"
            },
            {
              value: "plc-guarantee",
              text: "Private Limited by Guarantee"
            }
          ]
        }) }}
        {% endset -%}

         {{ govukRadios({
          name: "uk-company-type",
          fieldset: {
            legend: {
              text: title,
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: [
          {
            value: "plc",
            text: "Private Limited Company",
            conditional: {
              html: privateLimitedHtml
            }
          },
          {
            value: "puc",
            text: "Private Unlimited Company"
          },
          {
            value: "pulic",
            text: "Public Limited Company"
          },
          {
            value: "llp",
            text: "Limited Liability Partnership (LLP)"
          },
          {
            value: "slp",
            text: "Scottish Limited Partnership"
          },
          {
            value: "sp",
            text: "Scottish Partnership"
          },
          {
            value: "uks",
            text: "United Kingdom Societas"
          },
          {
            value: "unreg",
            text: "Unregistered Company"
          },
          {
            value: "none",
            text: "None of the above"
          }
          ]
        }) }}

        <div class="govuk-button-group">

        {{ govukButton({
          text: "Continue"
        }) }}

        <!-- The [Cancel updates] link has a query string attached, this being to set the vairable gChangesMade to FALSE -->
        <a href="../directors?gChangesMade=false" class="govuk-link govuk-link--no-visited-state">Cancel</a>


        </div>

      </form>
    </div>
  </div>
{% endblock %}

